[2020-03-02 07:12] #166 closed

[2020-03-02 09:11] SirVer commented on #167
Yes, that is what I did, but this led to the problems I described above. I hope somebody more Mac savvy will come by this issue and give some clue to what the solution might be.

[2020-03-02 09:46] terhechte commented on #167
You can allow this in settings:

![Screenshot 2020-03-02 at 10 43 30](https://user-images.githubusercontent.com/132234/75664481-d3f07600-5c72-11ea-9106-a6a6bc01c131.png)

Basically:
- Try to run it
- Go to that settings screen
- Allow
- Try to run it again, a different library will pop up with an issue
- Allow again
- repeat
- You should also get dialogs with the "Open" option. Hit open in there.

[2020-03-02 10:48] FlatBartender commented on #151
I'm encountering the same range of issues.
In addition to the AltGr problem and the "<>" keys, I can't seem to be able to use the +, -, * and / from the numpad. The numbers, the "." and enter all work when numlock is on.
When numlock is off, only the enter key works.

I'm on Manjaro (Arch Linux derivative), on KDE, using the french layout. I'll be happy to test anything if you need a hand, neovide

[2020-03-02 12:31] Proximyst commented on #151
I'm on Windows using the Norwegian keyboard layout; shift+< does > for me. I suppose the <> key isn't supported at all, as it sure isn't limited to AltGr?

[2020-03-02 13:09] xyproto opened #169 "Can't type a / on a Norwegian keyboard layout"
When launching `neovide`, I press `/` on my keyboard (shift-7), but no `/` appears. Same goes for pressing the key next to lower right shift (assuming it was an English layout instead), no `/` appears.

This is using Neovide 0.4.0 on 64-bit Arch Linux, using Sway and Wayland.

[2020-03-02 13:10] soywod opened #170 "Arch Linux AUR package install failed"
I get an error when I try to install neovide via AUR:

[code]
[code]

[2020-03-02 14:22] Nemo157 commented on #170
Which version of rust are you using? That error is from pre-1.38ish, an up to date install should be able to build it (note that `rustup` satisfies the `rust` build-dependency, so if you have it installed with an old release you'll need to `rustup update`).

[2020-03-02 14:31] riginding opened #172 "Unable to type special characters like !@#$"
I noticed that I can't use my shift key at all. For some keys using shift produces no output at all, other times it misbehaves: eg: `shift + o` behaves like `ctrl + o`

[2020-03-02 14:51] baileyn commented on #172
What operating system are you using? I'm unable to reproduce this on Windows.

[2020-03-02 14:53] soywod commented on #170
`rustup update` fixed the issue. Thank you :)

[2020-03-02 14:53] #170 closed

[2020-03-02 14:56] riginding commented on #172
I'm running Manjaro Linux.

[2020-03-02 15:22] SirVer commented on #167
@terhechte Thanks, that did work. @Kethku, it is probably worthwhile to link this comment in the README for mac os x.

[2020-03-02 15:25] riginding commented on #172
Other people seem to have the same problem: https://www.reddit.com/r/rust/comments/fc1l3y/no_nonsense_neovim_client_in_rust/fj9fqfp?utm_source=share&utm_medium=web2x

[2020-03-02 15:27] camccar commented on #167
I'm able to do this when running cargo run, but not when trying to click on the executable from a release build. That just crashes for me atm.

[2020-03-02 15:44] leeola opened #173 "Supporting other editor backends?"
Would it be viable to support multiple backends to this GUI? Notably, if it was possible I'd be interested in seeing Kakoune support. Kakoune _(for example)_ might make this more difficult too, as it does not have windowing/tab/etc support, and relies on tmux to achieve that.

Thoughts?

[2020-03-02 16:01] baileyn commented on #172
Seems to also work fine on Mac OS as well.

I have Manjaro, but I'm having trouble getting it to run because of some fontkit issue. I'll follow up whenever I get it running.

[2020-03-02 16:04] baileyn commented on #167
It worked for me on Mac OS Mojave 10.14.6 using the vulkan sdk installer from [lunarg](https://vulkan.lunarg.com/sdk/home). I know it's not ideal, but it seems to work.

[2020-03-02 16:09] Kethku commented on #172
Are you using the release build? It's old and needs updated

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-02 17:52] Kethku commented on #173
At least in principle it should be possible. I have heard of Kakoune but never used it before. The renderer infrastructure is a probably where I would make the split. Today the editor is used to consume neovim events and turn them into DrawCommands which tell the renderer how and where to draw characters or update the screen. Today they are somewhat coupled but it wouldn't be that hard to split th

[2020-03-02 18:05] Delapouite commented on #173
For anyone interested in exploring this integration, have a look at this document: https://github.com/mawww/kakoune/blob/master/doc/json_ui.asciidoc as a starting point. Kakoune is designed to process keys and output drawing instructions.

[2020-03-02 18:11] terhechte commented on #167
I can't test this right now, but could you try right-clicking the executable and then saying "open"?

[2020-03-02 18:39] camccar commented on #167
Yeah same thing. I installed the Vulkin sdk with `brew cask install apenngrace/vulkan/vulkan-sdk`

[2020-03-02 18:44] Kethku commented on #167
@terhechte adding it to the readme. I will watch this issue for future developments. Thanks so much for the investigation!

[2020-03-02 18:50] Kethku commented on #172
@riginding the bug you linked I believe was fixed by the switch to sdl2.

[2020-03-02 18:53] Kethku opened #174 "Move install instructions and features to wiki pages"
Readme is getting too long. Its time to get more organized

[2020-03-02 18:56] Kethku commented on #157
Given how niche this is. I may say that we won't fix it. Ideally we would depend on system font fallback libraries, but currently there isn't any good ones for rust. https://github.com/linebender/skribo promises to be one eventually but isn't there yet. More details here: https://raphlinus.github.io/rust/skribo/text/2019/04/04/font-fallback.html

So for now I think I'm going to close this and decl

[2020-03-02 18:56] #157 closed

[2020-03-02 18:57] Kethku commented on #162
@crides does my description match your experience or is there something deeper going on?

[2020-03-02 18:58] Kethku commented on #169
This is probably related to https://github.com/Kethku/neovide/issues/151, but also possibly due to our sdl text handling. Can you look at that issue and give me your opinion of whether it is related?

[2020-03-02 19:07] Kethku commented on #165
I updated skulpin and pushed a branch which updates the dependency.  try-no-sdl2-features

Could you try building from that to see if the sndio dependency is no longer needed?

[2020-03-02 19:20] Kethku commented on #167
There is some talk about way we can switch to a library agnostic system which should remove the vulkan dependency for macos. May take a bit though

[2020-03-02 19:28] Kethku commented on #126
I reverted font-kit in a fork of skribo. Could someone here encountering this issue try building from possible-macos-fix and running release to see if it fixes the issue?

[2020-03-02 19:41] crides commented on #162
Not really. From the animations in the README, it seems like the effect shows when the switches between insert and normal modes, which is what I tried.

 [This](https://imgur.com/a/9nE0BDd) is a recording of a test session. I first opened a file, and you can see the sonicboom effect showing up in the top left corner. Then I just tapped <kbd>i</kbd> and <kbd>Esc</kbd> to switch between normal and i

[2020-03-02 19:48] Kethku commented on #162
Yup that looks like a bug! Thanks for the report. I will look into this. Given that its not experience breaking it may be a bit tho

[2020-03-02 19:48] ABitMoreDepth opened #175 "Neovide fails to start on Ubuntu 19.10"
Hi folks,

Thought i would give this project a try, I've installed the build dependencies per your instructions and compiled the application from source.  Upon running, neovide seems to error out with the following error message:
[code]

I'm running Ubuntu 19.10, with i3 as a window manager, against the AppImage version of neovim, which is currently at version 0.4.3.

Please let me know what addit

[2020-03-02 19:54] SirJson commented on #157
Fair enough, my Mac is usually running headless tucked away so it wasn't really an issue for me. That blog post made me even more curious tho as to why it is not working on macOS right now.

The problem is not that we can't find the system fonts it's more like what ever renders the glyphs fails at selecting the correct ones on that specific OS.

I'm 100% sure Neovide is doing the correct thing on

[2020-03-02 19:55] crides commented on #162
Just FYI, the commit I built on is 8aff807

[2020-03-02 19:58] Kethku commented on #175
Do you have confirmation that vulkan works on your machine in other applications?

[2020-03-02 19:59] Kethku commented on #175
A similar issue here: https://github.com/rust-windowing/winit/issues/748 appears to indicate that its a system wide vulkan issue

[2020-03-02 20:01] SirJson commented on #175
What kind of GPU do you have? Did you install the correct drivers? I have also heard that AppImages are bad business and cause all kinds of issues. Maybe building Neovim from source can help.

[2020-03-02 20:11] SirJson commented on #167
That would be? OpenGL? That is even more broken on macOS from what I have heard, Apple wants to push the Metal API.

And OpenGL is hit and miss on Windows + very dependent on the driver that is running on that system. There is a reason why all major Browser Developer bundle ANGLE for WebGL Support on Windows.

[2020-03-02 20:16] jonvaldes commented on #162
Huh, that's very strange. Haven't seen that before.
Some random questions, trying to narrow the issue down:
- Do you have a non-standard hidpi configuration on your monitor?
- Does neovide continue using a bunch of cpu even if you're doing nothing?

[2020-03-02 20:24] crides commented on #162
I don't know anything about hidpi settings. I'm using a 1080p 15" laptop, connected using HDMI to another monitor also at 1080p.

If I just open a file and let it stay there, it uses close to 0 CPU time, like less than 1 sec in the ~1:30 duration I opened it.

[2020-03-02 20:36] baileyn commented on #172
I'm unable to reproduce this in Manjaro building from Git.

[2020-03-02 20:46] Kethku commented on #167
We're looking at wgpu

[2020-03-02 20:46] halvnykterist opened #176 "Fullscreen support"
Is fullscreen support something that exists/is planned? In nvim-qt you can launch using the --fullscreen flag, although something more ergonomic might be nicer.

[2020-03-02 20:46] Kethku commented on #167
Which has targets for directx, vulkan, and metal. Its still preliminary. Conversation is happening here: https://gitter.im/neovide/community

[2020-03-02 20:48] Kethku commented on #162
side note about zero cpu while idle: that makes me very happy. Lots of work went into that :P

[2020-03-02 20:49] Kethku commented on #176
Hmmm. Sdl definitely has support. But we would likely want a fullscreen windowed mode instead of full take over the display.

[2020-03-02 20:50] Kethku commented on #176
Probably I would add a toggle command as well as a command line arg

[2020-03-02 22:02] iwikal commented on #151
@Kethku Have you considered using `winit::Event::WindowEvent::ReceivedCharacter`? I think it could potentially help with this.

[2020-03-02 22:06] alichtman opened #177 "Only use dpi hack if on windows. Use drawing_size vs size on other platforms"
[code]

[code]

[2020-03-02 23:41] Kethku commented on #177
Maybe try just running from the build here: https://github.com/Kethku/neovide/actions/runs/48340097
I don't have a mac so I don't know what causes this.

A similar error reported here: https://github.com/rust-lang/rustup/issues/1908 suggests that you are missing an objective c compiler. I guess its needed for skribo?

[2020-03-02 23:44] Kethku commented on #151
We don't use winit. It was too buggy on too many platforms.

We use the equivalent of this in sdl: https://github.com/Kethku/neovide/blob/master/src/window.rs#L295 Which gets us part of the way there, but clearly not all the way.

[2020-03-02 23:45] Kethku commented on #151
@Proximyst could you run neovide with --log and upload the logs after reproing the error?

[2020-03-02 23:55] Kethku commented on #173
Ok yes. This looks very easy to implement as a drop in replacement. If someone wants to commit some investigation time, I can do the work to make the actual editor swappable.

[2020-03-03 01:34] svermeulen commented on #126
@Kethku I tried running `cargo run --release` in a clean version of the `possible-macos-fix` branch just now and got the same result ('segmentation fault')

[2020-03-03 01:36] Kethku commented on #126
can you confirm the source of skribo?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-03 01:37] Kethku commented on #126
Or even better, which version of fontkit was used to build

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-03 03:20] Kethku commented on #145
@TristanCrawford  can you point me to the font you are using? I'd like to be able to download it locally so I can test out better error messages

[2020-03-03 03:21] Kethku commented on #137
I think it is possible that your window manager is eating the window key but still passing the arrow key in. Theres not much I can do about that. Closing for now, but totally willing to reopen if you think there is something to be done

[2020-03-03 03:21] #137 closed

[2020-03-03 03:24] #38 closed

[2020-03-03 05:33] raguay commented on #177
I tried your compiled version and I am getting this error running from the command line:

[code]

I think that means the macOS security isn't allowing it to run.

I was able to get it to compile by making sure my build chain was on the current nightly, open Xcode to install all of the components (just the command line install doesn't install some of the compilers needed), and then recompile. It is

[2020-03-03 06:58] Kethku commented on #177
The dpi settings are a little wonky on Mac. glad it's working though! The font configs are done via the guifont variable in your vim config

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-03 07:15] svermeulen commented on #126
Here is the output from `cargo run --release` which indicates `font-kit v0.4.0` (though I do not know rust so correct me if this isn't helpful)

[code]

[2020-03-03 07:20] Kethku commented on #126
ARG. I'm at a loss again

[2020-03-03 07:24] raguay commented on #177
But, that will change it for the terminal runs as well. I just need it
fixed on the Neotide load.

Also, it is a bit slow on responding to key movements. The animations are
lagging everything quit a bit. How can I get it to be more zippy?

On Tue, Mar 3, 2020 at 1:58 PM Keith Simmons <notifications@github.com>
wrote:

[2020-03-03 07:54] iwikal commented on #151
I made this comment after browsing the source of this AUR package https://aur.archlinux.org/packages/neovide/  which as of yesterday still did use winit.

After switching to the git master version, most of the keyboard issues disappeared. Still can't use AltGr, but everything else I tried worked!

[2020-03-03 07:56] Kethku commented on #177
I use this in my config
[code]

[2020-03-03 08:02] iwikal opened #178 "translucent background"
I have set guibg to none, and I just get solid black instead of translucent like in my terminal. I'd like to be able to configure a translucent background colour for the window somehow. It seems like there's an SDL draft with partial support that adds a function to set window opacity, but I'm not sure that's what we want or if it works.

[2020-03-03 08:13] iwikal commented on #151
For reference, I'm using a Swedish keyboard, software mapped like this:

[code]

The issues I experienced were:
 - could not use caps lock mapped to escape, in either X11 or Wayland
 - shift and control were swapped in normal mode
 - AltGr + 2 escaped insert mode, instead of producing @ (still happens)

[2020-03-03 08:14] riginding commented on #172
Works with the build from Git. I'm able to use shift :fireworks:

I installed using the arch instructions in the readme, it seems to install an old version.

[2020-03-03 08:14] #172 closed

[2020-03-03 08:14] Kethku commented on #151
Any idea how to get the AUR package updated?

[2020-03-03 08:16] Nemo157 commented on #151
There are two AUR packages, that one tracks releases while `neovide-git` tracks the master branch.

[2020-03-03 08:17] iwikal commented on #151
Looks like it was updated yesterday. Maybe it's already fixed!

[2020-03-03 08:17] Kethku commented on #151
Hrmm. Well until I get a concrete idea of who is managing that, I'm going to remove it from the readme

[2020-03-03 08:18] Kethku commented on #178
My gut is that this will be difficult to support without proper sdl2 support

[2020-03-03 08:36] raguay commented on #177
Okay, that helped my animation. I changed my font, but the rendering is
still very large, but in my terminal, very small now.

On Tue, Mar 3, 2020 at 2:56 PM Keith Simmons <notifications@github.com>
wrote:

[2020-03-03 08:40] Kethku commented on #177
The way I figured out to handle dpi settings is by querying the UI for what the current dpi is compared to the expected dpi for the given platform. https://github.com/Kethku/skulpin/blob/sdl2/src/renderer/mod.rs#L45

I read somewhere that the expected value should be 72 for macos. But maybe thats wrong?

In any case, neovide declares a neovide global variable on startup with a value of v:true. So

[2020-03-03 08:49] TristanCrawford commented on #145
Sorry, just saw this.

The Font (BDF):
https://github.com/sunaku/tamzen-font

Which was converted to OTB using the script referenced here:
https://fedoraproject.org/wiki/BitmapFontConversion

[2020-03-03 08:49] raguay commented on #177
BTW: Since I'm now launching from command line, I'm getting these errors:
[code]
Not sure if this is relevant or not.

On Tue, Mar 3, 2020 at 3:36 PM Richard Guay <notifications@github.com>
wrote:

[2020-03-03 08:52] raguay commented on #177
The dpi will be different for different macs. I don't have the really high
res screens like a macbook Pro. I'm using a macBook Air.

No matter what I change the font to, it is still showing very large. I've
taken it down to 8 and it's still big.

On Tue, Mar 3, 2020 at 3:40 PM Keith Simmons <notifications@github.com>
wrote:

[2020-03-03 08:52] Kethku commented on #177
Yes the dpi is different, but the expected dpi is constant. The ratio between the two gives the desired scaling

[2020-03-03 09:21] Nemo157 commented on #158
Depends what plugins you use, with ALE showing warnings for the current line in the status line I notice this happening a lot (when moving line-by-line over some warnings it appears to happen on ~every 5th to 10th line I cross).

[2020-03-03 10:02] ABitMoreDepth commented on #175
I can run neovim and neovim-gtk just fine, so I believe that the neovim part of this may not be the issue, but I can try compiling neovim from source.  I'll look into the vulcan stuff as well.

The machine I am using is a Dell XPS with a discrete nvidia gpu, which to my knowledge is running appropriate drivers (not nouveau).

Thanks for the pointers, I'll do some digging. :)

[2020-03-03 11:09] xyproto commented on #169
The issues seems to be related, but there's no `AltGr` involved here.

[2020-03-03 13:22] hello2dj commented on #177
same macos version, rustc: 1.40 build failed

Compiling sdl2-sys v0.33.0 (https://github.com/Rust-SDL2/rust-sdl2#4e81db58)
error: failed to run custom build command for `sdl2-sys v0.33.0 (https://github.com/Rust-SDL2/rust-sdl2#4e81db58)`

Caused by:
  process didn't exit successfully: `/Users/dengjie/Study/rust/neovide/target/debug/build/sdl2-sys-94abb6b51963db17/build-script-build` (exit code: 10

[2020-03-03 13:23] SirJson commented on #175
I'm running i3 with an Nvidia GPU and Ubuntu 19.10 so that shouldn't be the problem. Are you using plain i3 or i3 + compositor?

[2020-03-03 13:26] hello2dj commented on #177
macos: 10.14.6, rustc: 1.40.0 build failed
Compiling sdl2-sys v0.33.0 (https://github.com/Rust-SDL2/rust-sdl2#4e81db58)
    Building [====================================================>  ] 268/274: sdl2-sys(build)
error: failed to run custom build command for `sdl2-sys v0.33.0 (https://github.com/Rust-SDL2/rust-sdl2#4e81db58)`

Caused by:
  process didn't exit successfully: `/Users/dengjie/Study

[2020-03-03 15:29] mmiecz commented on #165
Hey, I've tried to build from `try-no-sdl2-features` on Fedora 30.
Did `cargo clean` and `cargo build --release`
but still:
[code]

[2020-03-03 15:41] Kethku commented on #169
Did you build from got?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-03 15:41] lorenzleutgeb commented on #165
I am on Fedora 31 as well, and tried `try-no-sdl2-features` (resolved to 1bae83527723804a13aa5dbc98d32fa9f6bf831b) as well.

[code]

[2020-03-03 15:44] Kethku commented on #177
@hello2dj that is a different build issue. Please create a new issue

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-03 15:45] Kethku commented on #177
I deleted it to keep context clean. (Not trying to be mean)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-03 15:46] Kethku commented on #165
Hrmmm. I'm at a loss then. I'm not sure how to build rust sdl2 without sndio

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-03 16:28] xyproto commented on #169
No. I think I used the [`neovide` package](https://aur.archlinux.org/packages/neovide/) from AUR.

[2020-03-03 16:33] Kethku commented on #169
That package is old. Please build from git

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-03 19:09] ABitMoreDepth commented on #175
That's an interesting point, I am running Compton as well,

[2020-03-04 00:30] Alittlemurkling commented on #87
I encounter this same bug on current Arch via the AUR git package, but I do not set guifont at all. I also attempted to launch after removing my entire ~/.config/nvim, to rule out any quirks in my configuration. Is setting guifont a requirement for this program? I would expect this case to be handled back a fallback font.

[2020-03-04 05:57] mrinterweb commented on #166
Thanks for linking to the other ticket. I'll follow that.

[2020-03-04 09:47] TristanCrawford opened #179 "Optionally Bundle Fonts"
This isn't a pressing issue, but I decided to do a little experiment today in regards to the executable size of Neovide.

These were created with `cargo build --release`

![image](https://user-images.githubusercontent.com/35229978/75865370-1330db00-5dc9-11ea-9525-21aae9629e53.png)

While the fallback fonts are nice to have, it does make the resulting executable rather large. It might be worth maki

[2020-03-04 10:40] PillTime commented on #175
I'm using KDE on Arch, same problem. Installed Neovide from the AUR.

[2020-03-04 14:42] ABitMoreDepth commented on #175
I checked with compton disabled and the same error persists.

[2020-03-04 15:01] Kethku commented on #175
Can you try running a debug build?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-04 15:10] Kethku commented on #175
So try building from source, or running from the build assets shown in one of the successful builds here: https://github.com/Kethku/neovide/actions

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-04 16:30] ABitMoreDepth commented on #175
It looks like a `cargo clean && cargo build` has made no difference unfortunately. I'll try and pull the neovim source, but that from scratch and run against that, see if that somehow makes a difference after work this evening.

(But neovim-gtk runs against the appimage neovim client without issue).

[2020-03-04 19:46] Kethku commented on #175
I meant building neovide from source just to be clear

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-04 23:20] PillTime commented on #175
Building from source still doesn't work.
[code]

[2020-03-04 23:59] chrisbouchard commented on #165
For the record I see the same as @lorenzleutgeb.

[2020-03-05 01:32] chrisbouchard commented on #165
Looking at [sdl2-sys's `build.rs`](https://github.com/Rust-SDL2/rust-sdl2/blob/master/sdl2-sys/build.rs), it looks like it should only attempt to link against sndio if the `static-link` feature is enabled. (That's probably not the right thing to do for cross-platform compatibility, but it is what it is.) It looks like [Skulpin uses that feature flag](https://github.com/Kethku/skulpin/blob/sdl2/Car

[2020-03-05 01:36] Kethku commented on #165
We are using my branch of skulpin currently

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-05 01:36] Kethku commented on #165
So I can make a feature flag for this

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-05 01:40] chrisbouchard commented on #165
(Sorry for the close/open.)

I had just noticed that we are using your fork of Skulpin. Cool, thank you.

[2020-03-05 05:06] peeweep commented on #175
@Kethku  Just mention, the AUR package is not out of date, please check [the comment](https://github.com/Kethku/neovide/commit/45ce6d932aee8c8113e20574fb8ea3878bf69316#commitcomment-37623755).

[2020-03-05 05:39] Kethku commented on #151
I think at this point all of the issues except the alt gr one are fixed so I'm going to change this issue to track that instead.

[2020-03-05 05:55] Kethku commented on #175
Added it back but swapped to the git one so that we run into this less

[2020-03-05 06:20] Kethku commented on #165
Ok I pushed to "optional-sdl-embed". If you build with the --no-default-features flag it should prevent embedding of the sdl2 binaries. Give it a try? Its very possible I didn't do it right in which case some advice would be appreciated.

[2020-03-05 08:11] tssm commented on #167
If you want to keep using Vulkan there's [MoltenVK](https://moltengl.com/moltenvk/) for macOS, which is an implementation of the Vulcan API on top of Metal

[2020-03-05 08:13] Kethku commented on #167
Very interesting. Is it a drop in replacement? When installed does it run normally or do I have to add explicit support to my app somehow?

[2020-03-05 08:13] Kethku commented on #167
Ah its a for pay product. That kinda disqualifies it

[2020-03-05 08:24] tssm commented on #167
[It's license is Apache 2.0](https://github.com/KhronosGroup/MoltenVK#licensing). But [it is not a drop-in replacement though](https://github.com/KhronosGroup/MoltenVK#moltenvk-and-vulkan-compliance).

I'll try what @baileyn did on my machine. Maybe Neovide could be statically linked against Vulkan, at least for macOS.

[2020-03-05 08:47] ABitMoreDepth commented on #175
kethku is there any additional diagnostics I can provide to help you find the issue?

[2020-03-05 11:25] lorenzleutgeb commented on #165
Success (1f3f21ba41f15a67cc06685e6ff6c5f8858206b5):

[code]

[2020-03-05 13:59] #169 closed

[2020-03-05 16:43] Kethku commented on #167
This is well outside my area of knowledge. If someone wanted to attempt something like that is greatly appreciate it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-05 16:47] Kethku commented on #175
I'm not sure... Something about your graphics setup causes the renderer to not be able to create a surface I think. Running debug and getting me a stacktrace might help but I don't know...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-05 16:50] Kethku commented on #165
That is because it can't find the font you have a guifont set correctly in your vim config: https://github.com/Kethku/neovide/issues/146

If you comment out the guifont setting in your config it should use the embedded one.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-05 16:50] Kethku commented on #169
Is your problem fixed?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-05 19:32] PillTime commented on #175
My laptop has both Nvidia and Intel graphics, and I'm using [optimus-manager](https://github.com/Askannz/optimus-manager) to switch between them.
Nvidia graphics (what I was using before) doesn't work.
Intel graphics works!
I'm using the proprietary Nvidia drivers.

[2020-03-05 20:49] Kethku commented on #175
Are the nvidia drivers up to date? I ran into this with a work machine on windows and had to update my drivers

[2020-03-05 20:53] PillTime commented on #175
Yeah, they are.

[2020-03-05 20:54] Kethku commented on #175
I've got nothing for you unfortunately. If intel graphics works, then youre probably good

[2020-03-05 21:12] dpendolino opened #180 "Crash on startup in Linux related to #153"
I'm running Arch Linux with the latest `rustup` stable toolchain and neovim v0.4.3. The error happens on the latest nightly toolchain as well.

Neovide crashes with the attached stack trace from the AUR and when using `cargo run` on master.

I ran a `git bisect` and it seems the crash starts happened at the following commit;

[code]

Stacktrace:
[stacktrace.txt](https://github.com/Kethku/neovide/f

[2020-03-05 21:45] Proximyst commented on #151
@Kethku Here's me opening neovide, entering `i`, (log start) pressing right shift + < to make > (log stop), and then just ^C-ing in git bash: https://gist.github.com/Proximyst/f504af4a386689caf4e96412bb07df8f#file-neovide_rcurrent-log-L371-L386

This still creates `<` in the editor, making the program 100% useless for my daily use of Rust :/

[2020-03-06 00:51] chrisbouchard commented on #165
Again for the record, I was also able to build as described. Once I set `guifont` it seems to be working well.

[2020-03-06 00:57] Kethku commented on #165
Awesome! I will merge this soon and add a comment about the issue and possible fix in the readme.

[2020-03-06 01:11] chrisbouchard opened #181 "Allow changing window size from config variables"
I had my `guifont` set in `${nvim_config_dir}/ginit.vim`, but Neovide didn't pick it up until I moved the line to `init.vim`. I'm not sure if it's a Neovim standard file, but it seems to be standard among other GUI clients I've used.

Also (possibly a separate issue?), it would be nice to have a variable I could check to detect if I'm running in Neovide. E.g., [Neovim-Gtk uses](https://github.com/

[2020-03-06 01:15] chrisbouchard commented on #181
Also, is there a way to set the inintial lines and columns? I tried adding

[code]

in my `init.vim`, but that doesn't seem to get picked up, and setting them after launch doesn't resize the window.

[2020-03-06 06:47] ssxwcz commented on #125
Hello, I upgraded to the latest version and tested Chinese input, already supported the input Chinese, but the candidate box for the Chinese input method cannot be displayed.
![Honeycam 2020-03-06 14-38-40](https://user-images.githubusercontent.com/43665491/76058782-379eda00-5fb8-11ea-9166-73900174eb6c.gif)

In addition, I found a more serious bug, when I switch input method, the input value will

[2020-03-06 07:38] Kethku commented on #181
Just pushed a fix which loads ginit.vim
Neovide declares a global variable "g:neovide" which you can use like you say

I'm not sure how lines and columns setting should work... Let me think about it

[2020-03-06 07:57] iwikal commented on #151
@Proximyst did you built the latest git master?

[2020-03-06 07:59] Kethku commented on #151
Agreed. That sounds like a bug thats already been fixed.

[2020-03-06 08:23] Kethku commented on #180
Fixed.

[2020-03-06 08:36] Kethku commented on #165
Pushed. Building with --no-default-features will disable sdl static linking.

[2020-03-06 08:36] #165 closed

[2020-03-06 08:49] Proximyst commented on #151
@iwikal Yes, it was the latest when I tried it; I got it from the CI on the latest commit.

[2020-03-06 08:52] Kethku commented on #151
Very weird. https://github.com/Kethku/neovide/blob/master/src/window.rs#L127-L159 is where we handle the raw window input events, and https://github.com/Kethku/neovide/blob/master/src/bridge/keybindings.rs is where we turn those events into text input commands for the neovim process. Want to do some investigation? I'm at a loss at this point because I can't repro your error.

[2020-03-06 23:34] mewhhaha commented on #151
I'm on Windows and on my Swedish keyboard I also have problems with Alt Gr characters as well as pressing shift + `<` to get `>`. However, I have the same problem with Alt Gr in normal nvim on Windows.

In NeoVide I made them work by rigging it so that they'd return early in `handle_key_down`. For Alt Gr I made a special case comparison for it, which on my machine were the bits 0x1240. For `>` I s

[2020-03-06 23:37] Kethku commented on #151
Very interesting! Can you create a PR with those changes so that I can review and chat about it there? Thanks so much for the investigations!

[2020-03-07 00:02] mewhhaha commented on #151
Sure! I made a draft at #183. It's just the things I had from testing.

[2020-03-07 04:58] Kethku commented on #151
This is now fixed. Thanks @mewhhaha!

[2020-03-07 05:30] Kethku commented on #125
@ssxwcz the D means you have the gui key held down. In the case of windows that means the windows key. I'm not sure why that is being reported as held down when you switch languages...

[2020-03-07 05:30] Kethku commented on #125
Could you run with the --log commandline argument and upload the log file that gets generated after reproing the bug?

[2020-03-07 05:40] Kethku commented on #177
Window size issue should be fixed. @raguay can you try?

[2020-03-07 05:43] Kethku commented on #126
I can't fix this issue myself as I don't have a mac. Sorry folks

[2020-03-07 06:00] Kethku commented on #179
I added an embed-fonts feature which triggers the font embedding.

The default features are now sdl2-static-link and embed-fonts. So doing a build without embedded fonts but normal everything else would look like this: `cargo build --release --no-default-features --features sdl2-static-link`.

Let me know if that works for you. I'm closing for now. Please reopen if you have further troubles with t

[2020-03-07 06:00] #179 closed

[2020-03-07 06:09] Kethku commented on #178
Best I've got until sdl2 adds better support is setting the window opacity. This can now be set by setting the global variable g:neovide_transparency to a float between 0.0 and 1.0. I'm closing for now as anything more than that is unlikely to happen any time soon.

[2020-03-07 06:09] #178 closed

[2020-03-07 06:20] Kethku commented on #176
Done. If you set the variable g:neovide_fullscreen to v:true it will change to fullscreen mode.

[2020-03-07 06:20] #176 closed

[2020-03-07 11:39] ABitMoreDepth commented on #175
I spent some time with the debugger this morning, I appear to get here:
![image](https://user-images.githubusercontent.com/3308997/76142711-067de280-6068-11ea-8562-7784666b3a96.png)

For some reason, the SDLPoll_Event call is what triggers the error.  I don't seem to be able to step into that call, it just bails I'm afraid.

Does that yield any useful information?

[2020-03-07 11:41] ssxwcz commented on #125
[neovide_rCURRENT.log](https://github.com/Kethku/neovide/files/4301759/neovide_rCURRENT.log)

[2020-03-07 12:16] ABitMoreDepth commented on #175
Interesting, I got neovide running by adjusting some nvidia settings, so I'm guessing something about the dual GPU laptops + vulkan isn't quite playing ball.

For anyone else who gets here, the following settings in nvidia-settings work for me:
![image](https://user-images.githubusercontent.com/3308997/76143232-7773c900-606d-11ea-9179-33ea57673310.png)

Thanks @Kethku for your help in trying to ge

[2020-03-07 12:16] #175 closed

[2020-03-07 12:24] chrisbouchard commented on #181
Thanks for being so responsive! Neovide is the best Neovim GUI I've used yet, so I'm interested in making it my daily driver.

[2020-03-07 12:25] ABitMoreDepth commented on #181
How does one set the font and size in neovide?

[2020-03-07 12:29] chrisbouchard commented on #181
@Kethku commented [in a different issue](https://github.com/Kethku/neovide/issues/146#issuecomment-589236024):

[code]

[2020-03-07 12:38] ABitMoreDepth commented on #181
(I'm a bit blind at times methinks!)

Follow up question, perhaps for its own issue, does Ctrl+6 correctly swap buffers for you?  It works for me in neovim and neovim-gtk, but not in neovide?

[2020-03-07 12:57] ABitMoreDepth commented on #27
I still don't appear to be able to use Ctrl+6 (switch to previously open buffer), if thats something related to this issue?

[2020-03-07 13:02] raguay commented on #177
I've tried it and it is still very large. But, I can't get any of my vim
based programs to change their fonts right now.

On Sat, Mar 7, 2020 at 12:40 PM Keith Simmons <notifications@github.com>
wrote:

[2020-03-07 13:10] tssm commented on #167
I'm trying to do it, but I haven't been successful. @baileyn could you describe what you did, please? I would like to try that on my machine

[2020-03-07 13:56] baileyn commented on #167
I'm sorry. All I did was download the latest SDK for Mac from [lunarg](https://vulkan.lunarg.com/sdk/home). After that, I just compiled again with `cargo build --release`.

It's possible our issues were slightly different?

[2020-03-07 15:00] Kethku commented on #27
I'm not sure. Do you have a non-english keyboard layout? If so can you run with --log and upload the log after reproducing the issue? Also are you running from release or building yourself?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-07 15:51] ABitMoreDepth commented on #27
I am running a British keyboard layout currently (though I use a US layout at work)
I notice that the number 6 appears to the bottom right of the UI:
![image](https://user-images.githubusercontent.com/3308997/76146406-608f9f80-608a-11ea-8beb-6bcfdb91e1f4.png)

Looking at the logs, the relevant bits are here:
[code]

So it certainly looks like its receiving the key information, but in neovim, and n

[2020-03-07 21:44] svermeulen commented on #126
I had some time today, and really like this project, so attempted to dig deeper into this.  But I don't know rust so could only get so far.

I create [this branch](https://github.com/svermeulen/neovide/tree/MacOsFix) in my fork of neovide, which branches off commit 971bb3d (which is the last commit of neovide that runs on my mac).  All it contains is a change to `Cargo.toml` to force it to use a v

[2020-03-07 22:34] Kethku commented on #27
Can you show me the log from ctrl-shift-6?

[2020-03-07 22:46] Kethku commented on #125
Thats very weird. Can you list the exact steps in which order you do them? And also which keyboard layout you switch from and which you switch to? This looks atm like a bug in sdl...

[2020-03-07 22:55] Kethku commented on #177
Interesting what is your guifont setting in your vim config?

[2020-03-07 23:02] Kethku commented on #126
This definitely helps narrow it down. The thing I'm struggling with is that your crash log you posted earlier seems to indicate that the thread which crashed was thread 0 which was running the deconstructor on the harfbuzz blob.

[code]

That seems to indicate that something about the way we are interacting with the harfbuzz library is messed up. This leads back to skribo being the possible culpri

[2020-03-07 23:36] svermeulen commented on #126
Narrowed it down a bit further:

* `git co 971bb3d`
* `cargo run --release` (works fine)
* `cargo update -p skia-safe`.  Output:
[code]
* `cargo run --release` (seg fault)

[2020-03-08 00:00] Kethku commented on #126
I build my skulpin branch with the skia-safe bindings locked to 0.23.2. I just pushed the change to master because none of the skia-safe changes seemed blocking. Can you try now on master? If this works, then I will create an issue in the skia-safe repo to see if we can get some help from them to get it fixed upstream.

[2020-03-08 00:01] Kethku commented on #177
@raguay I just realized that my update didn't actually work. It should be working now. Can you try again?

[2020-03-08 00:03] svermeulen commented on #126
Yep master runs now :D

[2020-03-08 00:12] Kethku commented on #126
Awesome! I will close this and make an issue in the upstream repo

[2020-03-08 00:12] #126 closed

[2020-03-08 00:15] Kethku commented on #126
https://github.com/rust-skia/rust-skia/issues/299

[2020-03-08 05:50] mrinterweb opened #185 "Very high memory usage"
I was just curious how neovide's RAM use compares to other editors. I was in shock when I realized it was at 6.4GB after only opening a few files. When I looked at how much RAM is used on just opening neovide, the initial footprint is 3.3GB, and it goes up quickly. I haven't used neovide for extended use, but I have a feeling I haven't seen it cap out. One thing that makes the memory jump dramatic

[2020-03-08 05:54] Kethku commented on #185
Believe it or not, this is a platform discrepancy. On windows the memory usage sticks around 200-300 MB and a chunk of that goes to nvim itself and plugins on my box.

I've seen reports though that on some linux boxes, the fonts take up a surprisingly large amount of space.

What platform are you running on?

[2020-03-08 06:26] ssxwcz commented on #125
This happens when I open a file in the neovide and switch from Microsoft American keyboard to any input method,
 I am using win space shortcut to switch the input method And when I use the shift Alt key switch input method, that doesn't happen
![Honeycam 2020-03-08 14-23-08](https://user-images.githubusercontent.com/43665491/76157762-7368a980-6148-11ea-8610-27af9c1d7964.gif)

[2020-03-08 06:27] Kethku commented on #125
if you tap the windows key afterward does it fix itself?

[2020-03-08 06:34] ssxwcz commented on #125
Yes, when I hit the Windows key again, it will return to normal

[2020-03-08 06:35] Kethku commented on #125
Ok I think I understand what is going on.

[2020-03-08 06:36] Kethku commented on #125
I think the jump to the input window causes sdl to miss when the windows key modifier gets unpressed.

[2020-03-08 06:36] Kethku commented on #125
The strange bit is that it just inputs the D as though it isn't a modifier...

[2020-03-08 07:07] raguay commented on #177
Okay. that fixed the issue for me. Thanks.

On Sun, Mar 8, 2020 at 7:01 AM Keith Simmons <notifications@github.com>
wrote:

[2020-03-08 07:08] #177 closed

[2020-03-08 07:09] Kethku commented on #185
This is likely to improve a ton with the potential rewrite I'm working on.

[2020-03-08 16:34] noamcore commented on #185
Here is random haha

The problem seems to be on startup because sometimes it consumes 200-300MB, sometimes 2GB...  and then decreases with time.

[2020-03-08 18:01] Kethku commented on #185
What i've seen on my side is that the process itself takes around 200-300 (which is still more than I'd like, but manageable) but the child processes take up a bunch as well. In particular the tab9 plugin often takes multiple gigs. I need to know platform to see if there is a correlation though

[2020-03-08 19:20] mrinterweb commented on #185
I should have mentioned, I'm on MacOS using the latest from master (march 7th 515535cf32c99b1e39176dee91dda8cb5265908c). For me, not even opening a file, but just adjusting font a few times, and RAM use can grow over 10GB in less than a minute. I haven't seen RAM use decrease. From what I can tell, it only grows.

[2020-03-08 20:31] dpendolino commented on #180
Same error on the latest master (c9b9b3eee8397150deca54dbbdfee853eaf5519d).
[stacktrace2.txt](https://github.com/Kethku/neovide/files/4303827/stacktrace2.txt)

[2020-03-08 23:04] Kethku commented on #180
Ok it should actually be fixed now. Can you try again? Sorry for the struggles

[2020-03-09 04:26] svermeulen opened #186 "AltGr fix broke <M-C-> keybindings"
If I open a vanilla nvim-qt instance using vanilla nvim and hit `i<c-v><m-c-v>` then I will see the characters `<m-c-v>` as expected.  If I do the same in neovide, nothing is printed.   Neovide does detect `<m-v>` and `<c-v>` but not `<m-c-v>`

The same occurs for other `<m-c->` combinations

[2020-03-09 07:48] Kethku commented on #186
Arg. Youre totally right, this is a side effect of the fix for norwegian keyboard layouts. The fix over there definitely causes the issue you are describing.

The breaking change should be this commit:
https://github.com/Kethku/neovide/commit/c3b216df666e8e3b1e9539d82f32d84365bb6057

I have an idea based on that work which should make the input way more stable, but I need to try it first.

[2020-03-09 10:08] ABitMoreDepth commented on #27
[code]

[2020-03-09 14:26] dpendolino commented on #180
No worries and thanks for all the effort!

Still crashing but now the windows pops up briefly and I have a different error:

[code]

The process also never seems to exit.

[2020-03-09 14:43] mewhhaha commented on #151
I've tested it now on my Linux machine and it seems that it treats Alt Gr differently than on Windows. While Windows registers RALTMOD and LCTRLMOD it seems that on Linux it's just RALTMOD. Perhaps it'd be better to just consider RALTMOD as Alt Gr. I also saw there were issues with https://github.com/Kethku/neovide/issues/186 :cry:. Maybe it'd help to just consider RALTMOD?

[2020-03-09 16:47] Kethku commented on #180
are you running from the release or building from master for the above error?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-09 16:55] Kethku commented on #151
I've been doing some thinking. The real struggle here is that we are attempting to predict when the text input event will fire from the key pressed event. I did some logging and Im pretty sure that text input and keypressed will always happen in the same event group.

So instead of handling those in the event handler I'm going to store the results of those events in variables and then handle the r

[2020-03-09 19:41] dpendolino commented on #180
Sorry , my bad for not specifying. The above trace was from the current master branch.

I have also tried on the 0.5.0 tag and get this error instead:
[code]

[2020-03-09 19:54] Kethku commented on #151
Reopening as the solution wasn't fully correct

[2020-03-10 00:46] SirJson commented on #180
Mh so I looked into it and the first crash is probably fixed now and could have been avoided by declaring Unifont as a dependency on Linux. The master stack trace relates to #145 tho.

I'm looking into reproducing this type of crash and see if I can work around it.

[2020-03-10 00:48] Kethku commented on #180
I added some more error propagation to the font loading which might do a better job of catching the error

[2020-03-10 00:49] Kethku commented on #180
@SirJson maybe we should embed Unifont? I know people are already complaining about the build size, but I figure it would just fix some of these issues...

[2020-03-10 01:20] SirJson commented on #180
Yea I just saw that 20 minutes ago someone exactly implemented the workaround, and I was wondering why it didn't crash :grin:

So the issue with Unifont is the licence. As far as I know it is under GPL3 which would mean that if Unifont is embedded neovide also has to be GPL3.

I think the better solution is to detect that the symbol font isn't there, tell the user that and give him the option to c

[2020-03-10 02:35] ErrEoE commented on #24
how to config transparency?

[2020-03-10 04:31] Kethku commented on #180
The struggle becomes how to notify the user. I suppose I can use error logging so that the message gets printed to the console, but that doesn't exactly work on windows machines where a console isn't necessarily visible

I seem to recall sdl having a messagebox system... I'll look into it.

[2020-03-10 07:43] Kethku commented on #24
https://github.com/Kethku/neovide/wiki/Configuration#transparency

[2020-03-10 08:24] ErrEoE commented on #24
FullScreen can have command?------------------ 原始邮件 ------------------
发件人: "Keith Simmons"<notifications@github.com>
发送时间: 2020年3月10日(星期二) 下午3:43
收件人: "Kethku/neovide"<neovide@noreply.github.com>;
抄送: "EoE"<2304228627@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [Kethku/neovide] how do I detect neovide (#24)

https://github.com/Kethku/neovide/wiki/Configuration#transparency

&mdash;
You

[2020-03-10 21:11] SirJson commented on #180
Weird, I also thought SDL had something like this but I can't find it in the Wiki.

But I wouldn't worry about Windows too much here, a call to MessageBoxW is super easy. It's the other two platforms where SDL would really help.

[2020-03-11 07:21] Kethku commented on #180
https://rust-sdl2.github.io/rust-sdl2/sdl2/messagebox/index.html

[2020-03-11 07:23] Kethku commented on #180
Atm all errors are either logging messages or std out. What we are proposing here is a third category which is a messagebox error for when we don't think the editor will recover but need to show some text to the user that we are sure they would see. Maybe I could hook error logs and always show them via messagebox since they should be fatal in general?

[2020-03-11 07:24] Kethku commented on #185
If you don't adjust the font at all, does it continue to grow?

[2020-03-11 07:24] Kethku commented on #185
The numbers you are describing are very high. Any chance you could do some memory profiling to see what is taking all the space? I can't reproduce this on my windows boxes

[2020-03-13 02:24] rainerborene commented on #74
I had the same issue described here, and got it working after installing a few packages:

    $ sudo apt install libvulkan1 mesa-vulkan-drivers vulkan-utils

This should work on most Ubuntu-based distributions

[2020-03-13 23:25] Kethku commented on #74
Thanks for the suggestion! I will add it to the readme

[2020-03-13 23:29] Kethku commented on #151
I don't have a solution for the second issue in the above comment besides hand writing out a mapping of various popular keyboard layouts. So my solution is going to be to build a way to configure mappings manually and provide a default set of keyboard layouts which I can have users configure in their initialization scripts. As far as I can tell there is no way around this with the input mechanisms

[2020-03-13 23:49] Kethku commented on #151
That said, I believe the altgr part of this issue is now fixed.

[2020-03-14 00:03] Kethku commented on #27
Ah yup this is a live one. I'm brainstorming strategies for how to fix this...

[2020-03-14 00:03] Kethku commented on #186
This is now fixed. There are still key binding issues highlighted here: https://github.com/Kethku/neovide/issues/27

[2020-03-14 00:03] #186 closed

[2020-03-14 00:20] Kethku commented on #180
@dpendolino sorry to keep attempting. Can you try again? I fixed the next error you encountered.

[2020-03-14 00:21] Kethku commented on #174
Done!

[2020-03-14 00:21] #174 closed

[2020-03-14 00:24] Kethku commented on #125
Unfortunately I can't reproduce this error with the D key. That said, I haven't actually seen any request for it. So I will remove it.

[2020-03-14 00:26] Kethku commented on #125
Done. Try again?

[2020-03-14 00:26] Kethku commented on #125
@ssxwcz

[2020-03-14 02:13] ddadaal commented on #125
Hello I just tested the commit (3cfab0b) and found that \<D\> problem has been fixed :D.

However the candidates box of input methods still does not show, and the characters does not disappear when a word is selected.

![nvim](https://user-images.githubusercontent.com/8363856/76672950-e1dfb880-65db-11ea-9a00-f86ae0b11b29.gif)

What should have happened:

![nvim2](https://user-images.githubusercont

[2020-03-14 04:22] j4qfrost opened #187 "Make neovide embeddable"
I made some changes to the window and bridge modules that make it a bit easier to embed into a separate SDL program on my fork https://github.com/j4qfrost/neovide?organization=j4qfrost&organization=j4qfrost

I'm not sure if there would be interest in continuing this, and I am a noob with Rust, so some criticism would be welcome.

[2020-03-14 05:00] Kethku commented on #187
I'd be interested in hearing your end goal for this. Is it to add vim support to an existing app?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-14 05:15] j4qfrost commented on #187
Yeah, my intention is to embed this into a separate SDL game where you can program objects. I made my own text editor years back, but that was crappy and I would've had to maintain it, so I figured I would borrow yours, which looks super nice and plugs in smoothly with some tweaks. I'm using here https://github.com/j4qfrost/hello-rox. It repo won't work right now since I'm adding things midflight

[2020-03-14 07:03] ericonr commented on #185
On my Manjaro machine, if the font name was configured wrong, it actually loads the Noto and Monospace in their place. And if I try to change the font to another one with the wrong name, it increases the memory consumption, by loading the default fonts once again.

[2020-03-14 07:51] ericonr opened #189 "Update font-kit dependency to git version."
Hey there! I really like this project!

I spent quite some time figuring out why I was getting strange behavior from several things. One of them was that the weight of the font was heavier on neovide than on Alacritty, despite both supposedly using the Regular fonts. A bit of investigation led me to an issue in font-kit: https://github.com/servo/font-kit/issues/118. It has been fixed already, but

[2020-03-14 07:57] ericonr opened #190 "Why does the program default to Normal style fonts when using BOLD weight?"
Me again!

The conditional block here https://github.com/Kethku/neovide/blob/master/src/renderer/caching_shaper.rs#L76

[code]

means that the program won't search for a bold *and* italic font, instead preferring a regular italic font. Wouldn't it be better to ask for the BoldItalic variant of the font (lots of fonts have them) and instead expect that the `source.select_best_match` function will f

[2020-03-14 08:01] ericonr commented on #189
I think one of your dependencies also uses font-kit, so we'd have to change their Cargo.toml as well. Damn.

[2020-03-14 09:30] aelkazdadi opened #191 "Some <M- · > bindings broken after key handling change"
After commit 31f9211b687c6f49448e28e1d1bb0e6d36f483c8 , most `<M->` keybindings no longer work. (tested on Ubuntu 19.10)
Though some still do, such as `<M-CR>`, `<M-BS>` or `<M-Space>`.

`<M-C->` bindings seem to be working fine, however.

[2020-03-14 13:43] dpendolino commented on #180
@Kethku No worries! Latest master is building and running great, just a couple of warnings:

[code]

Thanks!

[2020-03-14 18:00] svermeulen commented on #27
I noticed after upgrading today that all command key mappings (ie. the ones starting with `<d-`) do not work anymore.  This is on macOS catalina 10.15.3

[2020-03-14 20:10] #180 closed

[2020-03-14 20:10] Kethku commented on #27
Argh my bad :( I'll fix this

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-14 22:34] ABitMoreDepth commented on #27
Happy to provide testing etc for you if desired, thanks for looking into things!

[2020-03-14 22:54] Kethku commented on #189
The dependencies I use that use font-kit I believe is just skribo, and we're already using my fork, so that shouldn't be a huge issue

[2020-03-15 03:20] Kethku commented on #185
Interesting so the fonts don't reuse the collection. Somehow we keep a reference to the loaded fonts...

[2020-03-15 03:28] Kethku commented on #187
Could you make a PR with the changes so we can have further discussion there?

[2020-03-15 03:29] Kethku commented on #190
This was a memory saving technique. I figured bold italic weren't used frequently. Did you run into this when you expected bold italic to work?

[2020-03-15 03:34] Kethku commented on #189
As for logging, this is already supported to some extent via the --log command argument and !debug, !warn, !trace, and !error macros

[2020-03-15 03:35] j4qfrost commented on #187
PR: https://github.com/Kethku/neovide/pull/192

I'm currently trying to resolve an issue with dependencies. I was able to plug this in by patching the SDL library, but now that I'm adding the image feature, symbols aren't being loaded properly for SDL2_image.

[2020-03-15 03:48] Kethku commented on #187
Thats pretty weird. We use the embedded feature flag in sdl2... Maybe that causes problems?

[2020-03-15 03:49] Kethku commented on #191
This was my bad. I believe its fixed now.

[2020-03-15 03:49] #191 closed

[2020-03-15 03:50] Kethku commented on #27
@svermeulen I fixed the d bindings. It doesn't work on windows since the windows key is used for other things, but it should work on linux and mac.

[2020-03-15 04:13] j4qfrost commented on #187
That might be the cause. So what happens is when I add sdl to my Cargo.toml file I get a build error saying that there are two conflicting version of sdl. I can fix this with a patch that overrides both imports with a single sdl version. Then when I add image to the patch, it says that the symbols for all the sdl image functions aren't loaded. I can build successfully by dynamically loading the li

[2020-03-15 04:21] Kethku commented on #187
https://github.com/Kethku/neovide/blob/master/Cargo.toml#L11 here you can see the embedded sdl2 feature flag. If you disable default features for neovide as a library, and then optionally add back the embedded fonts you should be able to only dynamically load the library.

[2020-03-15 04:27] svermeulen commented on #27
Yep that fixed it  :)  Thanks

[2020-03-15 08:02] Kethku commented on #27
Aight. At least for qwerty I believe the above is fixed. I did it by writing out all of the possible keyboard modifier combinations for a standard qwerty keyboard. This is necessary because the sdl2 textinput event doesn't produce values when ctrl is held down on windows machines. I've attempted to contact the sdl folks with no luck.

So for now I created a setting variable `g:neovide_keyboard_lay

[2020-03-15 08:05] Kethku commented on #125
Ok. I think I know how to do this. I will have to add support for the TextEditing events in SDL2. To get the text to show up I will use a special overlay with black background and white text at the cursor location. During a text editing operation the input characters will get printed out to the right of the cursor, and once a given textedit is confirmed, it will trigger the insert into neovim itse

[2020-03-15 08:05] Kethku commented on #125
Alternatively it seems like the windows IME candidate box might be a better UI? What is your recommendation?

[2020-03-15 09:01] ddadaal commented on #125
I am sorry I don't have any experience on text editing stuff, but in my opinion your solution makes good sense. Also, the `nvim-qt` has a similar behavior and it works fine.

![nvim](https://user-images.githubusercontent.com/8363856/76698453-10de5300-66de-11ea-9c43-f63d6abe6363.gif)

As for the candidate box, I just did a quick research on the Internet and found it might be the problem of SDL itse

[2020-03-15 09:46] j4qfrost commented on #187
I think I need to go down to skulpin and reexport SDL from there. Your suggestion kind of helped, but now I'm stuck at vulkan not loading an image correctly. I think a lot of my headaches might be from developing on Mac.

These are some benign linking messages.
[code]

This seems to be indicating that vulkan isn't loading correctly.
[code]

I have a couple ideas I want to try, but it's way past my

[2020-03-15 09:52] aelkazdadi opened #193 "Extra tab is inserted after alt-tabbing into neovide window"
OS: Ubuntu 19.10

If the window is out of focus and I alt tab to bring it into focus back again, a <tab> is received as an input in vim. It's a bit troublesome when switching to and from a browser window multiple times.

(This doesn't happen with other desktop applications or nvim-qt.)

[2020-03-15 11:30] ABitMoreDepth commented on #27
Looks like your adjustments work for `<C-^>`!, However I am very accustomed to using (the keyboard equivalent of `<C-6>`, which currently doesn't switch buffers:

[code]

Pressing `<C-^>` (Ctrl-Shift-Six, on my keyboard):
[code]

Thinking more about it, your adjustment seems correct, digging around in the vim help, I found this:
[code]

The help seems somewhat ambiguous as to the correct behavior,

[2020-03-15 18:13] svermeulen opened #194 "Cursor often renders incorrectly"
This is using neovim v0.4.3 and the current HEAD of neovide.   This is also running with zero configuration.

Often the cursor will become invisible or render incorrectly.  For example:

When on the 'o' character it appears:

![image](https://user-images.githubusercontent.com/810762/76707615-ebd1ec00-66ad-11ea-8feb-a2df6ef29fe5.png)

But when moved to m character it goes black:

![image](https://u

[2020-03-15 18:15] svermeulen commented on #194
Another example of it being half-visible:

![image](https://user-images.githubusercontent.com/810762/76707651-43705780-66ae-11ea-9f9b-3d117d210857.png)

[2020-03-15 18:16] svermeulen commented on #194
It also inexplicably changes color sometimes:

![image](https://user-images.githubusercontent.com/810762/76707665-597e1800-66ae-11ea-9438-d6e75e696be4.png)

[2020-03-15 18:19] svermeulen opened #195 "FocusLost autocmd is not triggered"
Repro steps:

1.  Source the following .vim file:
[code]
2.  Change windows
3.  Observe that no text is output to `:messages`

If I do the above in nvim-qt it works fine

[2020-03-15 18:21] svermeulen commented on #27
Another key issue I just noticed:  When hitting the `>` key in normal mode it is triggered as `<S->>` instead of just `>`

[2020-03-15 19:15] Kethku commented on #195
Done.

[2020-03-15 19:15] #195 closed

[2020-03-15 19:16] Kethku commented on #194
What platform? This looks like a skia bug in vulkan

[2020-03-15 19:18] Kethku commented on #193
I pushed a change which might fix this. I can't repro it on my windows box though.

[2020-03-15 19:56] svermeulen commented on #194
This is on macOs Catalina 10.15.3

[2020-03-15 20:18] ericonr commented on #190
As a matter of fact, no. It was more a doubt I had while looking at the area around this code. Perhaps include a comment about it? It's not a choice I have any issues with, but it might be interesting to document the reason for your choice in the code itself.

[2020-03-15 21:18] Kethku commented on #194
How did you install the vulkan drivers?

[2020-03-15 21:19] Kethku commented on #190
Will do!

[2020-03-15 21:32] Kethku commented on #190
I just removed the change because I don't have actual evidence it helped anything.

[2020-03-15 21:32] #190 closed

[2020-03-16 00:02] Kethku commented on #27
Ah yup. Good catch. I've fixed this particular issue. However there are still other problems

I'm running out of ideas. On the one hand, I don't think manually writing out keyboard layouts is a sustainable solution as we will always have an incompatibility. On the other hand, the sdl2 api is just not sufficient. The sdl2 folks closed my bug https://bugzilla.libsdl.org/show_bug.cgi?id=5029 saying t

[2020-03-16 00:02] #27 closed

[2020-03-16 02:03] aelkazdadi commented on #193
It seems to be fixed. Thanks for the hard work!

[2020-03-16 02:29] #193 closed

[2020-03-16 03:29] svermeulen commented on #194
I followed the instructions in the readme and executed `brew cask install apenngrace/vulkan/vulkan-sdk`

[2020-03-16 06:50] Kethku commented on #194
Hrmm. Then I'm not sure I have anything for you. This is an upstream issue with skia that has something to do with your platform. I am slowly working on an in house renderer so that we can get rid of the skia dependency but thats not going to happen for a while.

[2020-03-16 07:47] svermeulen commented on #194
Ok no problem.  Was there a recent skia upgraded that might have caused this?  This was rendering perfectly fine fairly recently.

[2020-03-16 11:12] j4qfrost commented on #187
I wanted to write this before I forget. I was completely misinterpreting what all these errors meant. It was actually just me being dumb and not realizing that the problem was a linker issue. Not quite sure on the internals about how it works, but it seems like using the "use_mac_framework" feature for SDL fixes the issue with my project using two versions of SDL and vulkan not being linked proper

[2020-03-16 16:11] Kethku commented on #194
ok interesting. Maybe it was the anti aliasing change? Gimme a bit and I'll toggle it off

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-16 18:58] Kethku commented on #49
@habamax sdl2 merged and the current release has it

[2020-03-16 22:23] TheConfuZzledDude opened #198 "Ligatures render incorrectly"
As shown in the video, ligatures appear to be offset to the right

![image](https://giant.gfycat.com/DevotedThickAfricanwildcat.gif)

[2020-03-16 22:48] Kethku commented on #198
What platform?
What is guifont set to?
Release or build from source?

[2020-03-17 00:40] TheConfuZzledDude commented on #198
Platform is Arch Linux 5.5.9-zen1-2-zen
WM is the latest Sway git (though I believe this runs in XWayland so that doesn't make much of a difference)
guifont is set to `FiraCode\ Nerd\ Font\ Mono:h14:style=Medium,Regular`
Version is latest source build, through the neovide-git AUR package

[2020-03-17 01:41] oliverdain commented on #126
Super excited to run this on OSX and don't have time to install the dependencies and build it myself. The current release [0.5.0](https://github.com/Kethku/neovide/releases) exhibits this issue. Would be very greatful if somebody has time to cut a new release.

[2020-03-17 03:00] habamax commented on #49
@Kethku it works!

Thank you!

[2020-03-17 03:05] ericonr commented on #189
I see! I believe it would be nice to add command line documentation, because currently neovide doesn't even have a help text (running it with `-h` or `--help` actually generates an error).

Would you be open to a PR adding more warning stuff? I think the fonts part could probably use some better runtime debuggability. Woulda a PR for the command line arguments stuff also interest you? I've used [c

[2020-03-17 07:14] JunfengJia opened #200 "Start speed in macos is slow"
It takes 3 seconds until ready to use.

Anyway, the whole user experience is very good, except this lag.

[2020-03-17 07:25] Kethku commented on #200
platform pls

[2020-03-17 17:04] JunfengJia commented on #200
macos catalina 10.15.3, i7.

[2020-03-17 20:19] Kethku commented on #200
this is due to font loading. Can you try building without the embedded fonts feature and see if that helps? Font fallback will be worse but we are working on addressing that. Also you'll need a guifont configured in your configs

[2020-03-17 21:43] Kethku commented on #198
Hmmm. Thats very strange... I'm sort of at a loss for why this happens. Does it happen if you remove the guifont causing neovide to use the embedded fonts?

[2020-03-17 23:22] TheConfuZzledDude commented on #198
Removing the set guifont entirely just does this...
![image](https://user-images.githubusercontent.com/3160203/76910479-0078d480-68a6-11ea-84b6-d782e3520730.png)
Possibly related but probably not is the fact that the mouse clicking is very offset from where it should be

[2020-03-18 01:27] JunfengJia commented on #200
Compile without embedded fonts, speed don't change. I use the Fira Code font.

[2020-03-18 09:19] j4qfrost opened #202 "Neovide.app silently crashes [OSX]"
After bundling a .app for neovide and attempting to run the program, the app silently crashes. At first glance the problem appeared to be an error in bundling. After exploring other bundling methods, I found thread where someone had looked for crash reports via Console.app. It looks like the app is definitely crashing with

```com.apple.xpc.launchd[1] (com.kethku.neovide.4948[59211]): Service exit

[2020-03-18 14:41] Kethku commented on #198
What happens if you run without configuration?

The error you're encountering means that the app is failing to load a monspace font and so is falling back to a variable spaced font which causes problems. Turning off the guifont setting causes it to try to load the embedded font which fails for some reason.

Can you also run with --log and upload the log file?

[2020-03-18 18:05] kiuKisas commented on #198
I also have the mouse clicking offset again, log file:
[neovide_rCURRENT.log](https://github.com/Kethku/neovide/files/4350569/neovide_rCURRENT.log)

[2020-03-18 19:15] Kethku commented on #198
The log says that your system is using a font called "DankMono"
TRACE [neovide::renderer::caching_shaper] Font changed Some("DankMono") Some(15.0). It appears that dank mono doesn't report consistent spacing. Are you sure you removed all guifont calls from your config?

And can you try running with no config to see if the issue is specific to your vim init scripts?

[2020-03-18 20:01] TheConfuZzledDude commented on #198
Running with `neovide --log -u NONE` gives

[neovide_rCURRENT.log](https://github.com/Kethku/neovide/files/4351134/neovide_rCURRENT.log)

[2020-03-18 20:10] Kethku commented on #198
What does it look like in editor with no configuration. Does the error still repro?

[2020-03-19 02:56] thabaptiser opened #204 "Using the built-in :term doesn't render typed text"
Using the built-in :term command to open a terminal buffer opens a terminal buffer correctly, but anything I type inside of it does not show. It still gets sent to the terminal itself, since I can type "ls" and have that show a list of directories. Pressing "enter" also does not result in a new line.

I'm on Lubuntu, having built neovide from source with the latest commit being 2815a28. My termina

[2020-03-19 03:39] Kethku commented on #204
can you try with no config? I use the terminal command constantly with no issue on windows

[2020-03-19 04:24] thabaptiser commented on #204
Ah, it actually works when I run `neovide --clean`. After running it once with `neovide --clean`, it all works. Now I can just run `neovide` with no issues. weird.

[2020-03-19 04:24] #204 closed

[2020-03-19 04:41] thabaptiser opened #205 "Cursor issues in terminal buffer"
When in the terminal buffer in terminal mode, the cursor is offset by a little bit, and shifts the character below it as well when moving the cursor around.

Exiting to normal mode leaves a space after the character that used to be before the cursor in insert mode.

Here's a gif illustrating these issues:
![ezgif-2-ea7165587fdf](https://user-images.githubusercontent.com/1356741/77031847-0af7a480-6

[2020-03-19 04:46] Kethku commented on #205
When you type into a normal text buffer do you run into the same issue? What do you have guifont set to? Does it happen without any configuration?

[2020-03-19 05:05] thabaptiser commented on #205
I don't have the same issue in a text buffer, and I haven't set anything for guifont. Also, that gif is from running `neovide --clean`, so no config.

[2020-03-19 05:15] thabaptiser commented on #205
Actually, setting guifont to `Lucida_Console:h11` solves the issue. The default font must have something wrong with it's spacing.

Not setting guifont, it seems that there is also a similar issue in the "command entry" part of the window (not sure what it's actually called). It seems spaces don't take up as much space as they should, which is not the case in the text buffer. Here's another gif det

[2020-03-19 06:40] awlayton opened #206 "Access Violation on Win 10"
It has stopped working for me. It immediately closes after I open it. I managed to get the following error to print:
[code]

[2020-03-19 17:52] Kethku commented on #206
Can you run with --log?

[2020-03-19 18:13] Kethku commented on #206
In my experience, Status access violations come from sdl2 and happen when your graphics card or driver runs into issues.

[2020-03-19 18:41] TheConfuZzledDude commented on #198
Same as before with no config... I'll try building it manually just in case there's something wrong with the AUR package
![image](https://user-images.githubusercontent.com/3160203/77102680-21116d80-6a11-11ea-86f3-623ad73b277d.png)

[2020-03-19 19:05] Kethku commented on #194
I added a setting `g:neovide_cursor_antialiasing` which controls the antialiasing features of the cursor. Can you try setting that variable to `v:false` and see if that effects the issue?

[2020-03-19 19:10] awlayton commented on #206
Is this what you meant?
[code]

The output is the same. This error suddenly started yesterday and I have not updated any graphics stuff recently.

[2020-03-19 19:11] Kethku commented on #206
yes that should have created a file where you ran it that has the log in it.

[2020-03-19 19:14] awlayton commented on #206
[code]

[2020-03-20 06:33] mewhhaha commented on #151
https://github.com/Kethku/neovide/commit/04773807cba0f6fd3843644a95ee6b0b54c996b7

This commit made it so AltGr keys no longer work on Linux. It still works on Windows, though.

[2020-03-20 07:35] svermeulen commented on #194
Ok so yeah this completely fixes this issue 👍
Thanks

[2020-03-20 19:31] Kethku commented on #194
Awesome

[2020-03-20 19:31] #194 closed

[2020-03-20 19:32] Kethku commented on #206
Can you give a description of your machine? What kind of hardware is in it?

[2020-03-20 19:32] Kethku commented on #202
Given that I don't have a mac machine personally, I will need help investigating this.

[2020-03-20 19:33] Kethku commented on #205
What platform are you running on? Arch Linux?

[2020-03-20 20:12] awlayton commented on #206
Intel i9-9880H
64GB RAM
2TB NVMe SSD
NVIDIA GeForce RTX 2080 8GB Max-Q (Driver version 442.74)
Windows 10 Pro (Version 10.0.18363 Build 18363)

[2020-03-21 16:08] quangnguyen30192 opened #207 "Issue during cargo build: runtime.spawn: cannot be shared between threads safely"
During the installation, I got this error

![image](https://user-images.githubusercontent.com/17941233/77230714-bacf4b00-6bc8-11ea-9297-4f5e0465f4bb.png)

I checked the code and here is where it failed

[code]

@Kethku any idea why it failed, thanks

[2020-03-21 17:44] Kethku commented on #207
Try updating your rust version maybe?

[2020-03-21 20:30] chipaltman commented on #207
Built for me with Rust v1.42.0 (current stable).

[2020-03-21 21:01] quangnguyen30192 commented on #207
Thanks @KillTheMule, I got my rust updated to the latest version and it works

[2020-03-21 21:01] #207 closed

[2020-03-22 11:13] habamax opened #208 "Make thickness consistent for gui=underline"
Hi, is it possible to create consistent thickness for underlines?

![neovide-underline-thickness](https://user-images.githubusercontent.com/234774/77247990-1fc98600-6c47-11ea-82be-4e80d131390c.gif)

[2020-03-22 12:58] chipaltman opened #209 "thread 'main' panicked at 'Failed to create window'"
I encountered an error similar to this one (copied from AUR comment, `petRUShka`):

[code]
Fixed by installing `amdvlk` 👌

[2020-03-22 20:41] DemonCloud commented on #202
Same Here

<img width="1112" alt="Screen Shot 2020-03-23 at 4 26 06 AM" src="https://user-images.githubusercontent.com/7436361/77260046-78893500-6cc0-11ea-928f-c29d47069f35.png">

[2020-03-22 20:45] j4qfrost commented on #202
@DemonCloud I'll make some time tomorrow to look at it. I had a busy weekend. We can communicate via gitter on the topic.

[2020-03-23 18:25] Kethku commented on #209
Awesome. I'll add this tip to the readme.

[2020-03-23 18:25] #209 closed

[2020-03-23 18:31] Kethku commented on #208
This likely has to do with the lack of antialiasing on lower dpi monitors. I will add an option to enable antialiasing for this part the rendering

[2020-03-24 08:08] habamax opened #210 "Support OS language switch"
Currently when I try to switch language and input some russian text I get something different.
And then If I switch back to english it continues "weirdness":

![neovide-non-english](https://user-images.githubusercontent.com/234774/77402370-9f7a6080-6dbf-11ea-938a-ada4a0f82c3a.gif)

[2020-03-24 08:12] habamax opened #211 "support CTRL-6 or CTRL-^ langmap switch"
When I try to switch internal lang support with `CTRL-6` or `CTRL-^` 6 is inserted instead.

![neovide-langmap](https://user-images.githubusercontent.com/234774/77402836-55de4580-6dc0-11ea-8a51-0fbe8a5e8752.gif)

PS, `set iminsert=1` works and language is switched as expected.

[2020-03-24 08:15] habamax commented on #210
Probably related to https://github.com/Kethku/neovide/issues/125

[2020-03-24 21:49] Kethku commented on #210
I would love some advice for how best to solve this. I'm incredibly frustrated with my options at the moment.

The full backstory is long and tired, but the basic gist is that sdl2 (the cross platform windowing library I am using) has two modes for getting keyboard inputs:

Keydown/KeyUp which gets non keyboard mapped keycodes. This event lets allows me to tell which key is pressed and which modif

[2020-03-24 21:59] Kethku commented on #210
As for the exact issue here, the D- means that the windows key is held down. I believe this is fixed in the current master, but not the released version of the app. Please build from source

[2020-03-24 22:00] Kethku commented on #211
I responded with context here: https://github.com/Kethku/neovide/issues/210#issuecomment-603522960 This is a very complicated problem for which I have no easy solution

[2020-03-25 07:39] habamax commented on #210
Looks like you use kind of "scan codes" instead of characters and I am not sure if there is a simple/easy way to get real chars out of scan codes.

So I can see the following routes:

* do nothing (then users with non-latin layouts wouldn't use neovide that much)
* implement neovide specific keyboard layout manager and database of layouts -- I am not sure about efforts, but looks like huge.
* refa

[2020-03-25 23:47] Kethku commented on #210
The character input is handled by the TextInput events I described. These can't be used for everything because they are not raised if modifiers outside of those necessary for producing the initial character are held down. So shift-6 produces ^ but ctrl-shift-6 does not.

[2020-03-26 02:09] raaffaaeell opened #212 "Resize issue using it with i3"
Hello there, I couldnt find anything related. While using this software in Linux with i3 (tiling window manager), when I first open Neovide, it shows things one size, if I resize the windows or send them to another monitor, the font will either be too big or too small.

The first image is when I open and it shows the font size correctly, the second is when I send to another monitor and back

https

[2020-03-26 02:29] chrisbouchard opened #213 "Neovide does not start correctly on Linux if Noto Sans Mono font is not installed"
I've pulled the latest Neovide from `master` and compiled, but I'm having an issue launching the application.

![Image showing an unsized Neovide window](https://user-images.githubusercontent.com/4512028/77602661-5cfe7400-6ee4-11ea-864d-c0e27eadb5db.png)

The thin line inside the red rectangle is the Neovide window. The application is running; I can use `:q` to quit, and if I use Super+Up (the Gno

[2020-03-26 02:30] chrisbouchard commented on #213
Huh. Changing _into_ the release directory and running it there makes the window open normally.

[2020-03-26 02:32] chrisbouchard commented on #213
I'd commented that changing into `target/release` seems to fix it, but I was mistake. I'd accidentally run the Neovide from my path instead of `./neovide`. It behaves the same there.

[2020-03-26 08:40] smesko85 commented on #123
It looks like the package executable has wrong permissions set. After running `chmod +x neovide` in `Contents/MacOS`, I was able to start the app. But unfortunately on my machine it just seg-faulted

[2020-03-26 09:21] habamax commented on #210
Sorry not an expert :(, and don't know rust

But if I press `C-S-6` shouldn't it go here:

https://github.com/Kethku/neovide/blob/e9808f185ff103e7e3dc2361bc5238541ccbc3e7/src/bridge/layouts/mod.rs#L103

Like, `^` was generated by `S-6` and then you apply CTRL modifier?

[2020-03-26 14:09] glaaki commented on #209
Saw this same error on a different line on 18.04: `thread 'main' panicked at 'Failed to create window: SdlError("Installed Vulkan doesn\'t implement the VK_KHR_surface extension")', src/window.rs:133:22`

My fix was to apt install `mesa-vulkan-drivers`

[2020-03-26 17:05] kiuKisas commented on #212
I have the same issue, also happen with alacritty

[2020-03-26 19:25] raaffaaeell commented on #212
Interesting, I didnt think it the terminal counted for something, I thought this app ran in a different window than the terminal, I'll try it later

[2020-03-27 01:13] sebastien opened #214 "Linux build depends on libsndio"
While trying to compile neovide e9808f185ff103e7e3dc2361bc5238541ccbc3e7 on Fedora 31, I got the following error:

[code]
likewise, running a release build results in the following:

[code]

I am not sure if the dependency to `sndio` is required, maybe it could be optional?

[2020-03-27 07:55] kiuKisas commented on #212
No, this app doesn't run on the terminal but I experience the same issue with an other app that appear to be a terminal, `alacritty`. It is also written in rust so I though it was worth mention it.

[2020-03-27 13:56] aj3423 opened #216 "very small text on linux"
I downloaded from the release page, version 0.5.0, all text looks very small, and all the gui element looks small, any idea ?
Environment:  Kali Linux 64 bit
![2](https://user-images.githubusercontent.com/4710875/77763071-7b47a980-7075-11ea-839c-58084983544d.png)

[2020-03-27 18:03] Kethku commented on #216
What happens when you run with no config?

[2020-03-27 18:05] Kethku commented on #214
Repeat of https://github.com/Kethku/neovide/issues/165

[2020-03-27 18:05] #214 closed

[2020-03-27 18:07] Kethku commented on #210
It doesn't. No textinput event is raised because of a limitation in sdl2. I brought up the issue with the sdl2 team and they ignored my concerns even with repeated attempts to describe the problem. So at this point I'm out of luck

[2020-03-27 18:12] Kethku commented on #210
For background this is the conversation I had: https://bugzilla.libsdl.org/show_bug.cgi?id=5029

[2020-03-27 18:56] SirJson commented on #198
I don't know if this is related to this issue but I'm found something similar.

If I set `guifont` to something that is not on my PC neovide renders text like this:
![fontok](https://user-images.githubusercontent.com/1042414/77790229-c1484180-7064-11ea-9c3b-d29a6e9d0c86.png)
This is looking fine but if I unset `guifont` this happens:
![fontweird](https://user-images.githubusercontent.com/1042414/7

[2020-03-27 19:18] SirJson opened #217 "kwin reacts to neovide in a strange way"
I recently did some testing on KDE and found some kind of strange behavior. Every time I close neovide my screens go black for a second.

I looked into the my log files to see if kwin is crashing but it looks more like neovide gets detected as a game because of SDL2. KDE decides then to disables compositing as much as possible and I think this is the cause. Is there a way in SDL to tell the window

[2020-03-27 19:20] SirJson commented on #212
If you have the hardware try wayland / sway. It usually handles those cases better than X.

[2020-03-27 20:25] thabaptiser commented on #205
Operating System: Ubuntu 19.10
 Kernel: Linux 5.3.0-42-generic

[2020-03-28 03:49] aj3423 commented on #216
I removed the init.vim, still the same problem
![1](https://user-images.githubusercontent.com/4710875/77814243-2db95400-70ea-11ea-8731-eaed0856f724.png)

[2020-03-28 10:39] aj3423 commented on #216
It seems caused by `set guifont`,  I tried set to **50**, now it looks better :)
But why it requires such large value.
![2](https://user-images.githubusercontent.com/4710875/77821232-7d684180-7123-11ea-8b29-b94a5143a008.png)

[2020-03-28 20:08] jotacosta opened #218 "Mouse click jump to the wrong position"
Hi,

Mouse click-events jump to the wrong x,y position. This is not always a direct translation of +x, +y. It depend on how close you are from the (0,0) - Top-Left of the window. I.e: closer to (0,0) you jump less. By the time you're mouse clicking at the bottom the difference is considerably larger.

I just assume that there is some conversion that is done from mouse events to the renderer.cs and

[2020-03-28 21:49] Kethku commented on #217
Maybe this would help: https://www.reddit.com/r/kde/comments/54d972/the_compositor_is_being_disabled_every_time_i/d80wvcb?utm_source=share&utm_medium=web2x ?

[2020-03-28 21:49] Kethku commented on #216
I suspect this has something to do with the dpi scaling...

[2020-03-28 21:51] Kethku commented on #212
Yes this strikes me as related to the dpi scaling issues. I think the correct long term fix is to bring back the winit windowing system and add a compile time feature which can decide which window to use. This will take some time to build though.

I hope one day to switch back to winit as I believe their long term design is better and it definitely handles dpi scaling way better, but until then I'

[2020-03-28 22:12] Kethku commented on #218
for sure dpi issues :l

On the neovide side this is handled here: https://github.com/Kethku/neovide/blob/master/src/window.rs#L33 and here: https://github.com/Kethku/neovide/blob/master/src/window.rs#L303

The first link shows where the new window size is swapped in the neovide side. The second one checks to see if the dpi has changed from frame to frame. If it has, it tries to adjust the window s

[2020-03-28 22:12] Kethku commented on #218
If you're interested in attempting this I can give more guidance. I've been struggling to find the time and mental capacity to work on this the past week or so due to quarantine and general stress. I'd love any help I can get!

[2020-03-28 22:50] jotacosta commented on #218
I can help, yes. I'm fluid in programming, not so much in Rust. But I've been trying to learn. I have a strong background in HCI so this project is perfect for me.

Let me know how I can help. (And stay safe)

[2020-03-29 02:19] SirJson commented on #217
That did the job! Thanks! I exported that rule and attached it here in case someone else might need it.

My rule is looking for an application with the X class "neovide" so it should work even with different KDE window setups.

[neovide.kwinrule.zip](https://github.com/Kethku/neovide/files/4398193/neovide.kwinrule.zip)

[2020-03-29 12:59] j4qfrost commented on #202
@Kethku getting back to investigating, https://stackoverflow.com/questions/8918685/mac-app-crashes-from-finder-but-runs-inside-terminal

This seems to indicate that the app crashes due to using relative path somewhere. Is this a possibility? I can't find anywhere in the code that might be causing this.

[2020-03-29 23:01] j4qfrost commented on #202
https://github.com/Kethku/neovide/blob/8f02cdad6b72b83dada577a74f87f57dd592b3f0/src/bridge/mod.rs#L51

Fixed on my end, that line needs a full path to be provided for neovim, e.g.
```let mut cmd = Command::new("/usr/local/bin/nvim");```

I'll get a fix out later today.

[2020-03-29 23:09] Kethku commented on #218
Aight, first step I think would be to rebase upon the most recent skulpin master. The branch I'm using was just to get us up and running on sdl2, but Skulpin has since been updated and a bunch of bug fixes have gone in since then.

At a glance, the api has changed and there will be some difficulty with dpi handling, but just getting it building would be a huge step in the right direction.

[2020-03-29 23:51] jotacosta commented on #218
Alright. I've change the cargo.toml. Skulpin 0.9.0 doesn't have `sdl2-static-link` anymore, so I've went ahead and removed that. Let me know if this is wrong.

As predicted, there's a bunch of API changes and we need to work towards building it. I'm going to try my luck.

I'll shoot you an email / chat here if I need your help. (I'm 100% I will, but at least I'll start doing something)

[2020-03-30 02:19] j4qfrost commented on #202
https://github.com/Kethku/neovide/pull/220 This should resolve the issue.

[2020-03-30 03:36] Kethku commented on #202
So the idea is that you can specify a binary path via an environment variable? Maybe it would be better to specify it via a commandline arg?

[2020-03-30 03:39] Kethku commented on #218
Sounds good to me. We can make a PR to skulpin upstream once things are working to add back the sdl2-static-link

[2020-03-30 03:39] Kethku commented on #218
I'm also on the gitter chat if that would be an easier way to discuss

[2020-03-30 03:46] j4qfrost commented on #202
That would be better for commandline, but an environment variable may still be necessary for launching apps. I added the env variable as a quick, simple way to account for different installation paths in the case that someone didn't didn't install from brew, but it's not necessary to solve the pathing issue.

[2020-03-30 09:32] j4qfrost opened #221 "Macos Crash due to skulpin dropping object"
[code]

This seems to happen because when ui_loop finishes something is dropped manually and then automatically drops, causing the MoltenVK to try to destroy a buffer that doesn't seem to exist. Here are the relevant bits of the crash report:
[code]

I'm not sure about the specifics about why this happens, but I am able to resolve the issue by disabling either this line https://github.com/Kethku/s

[2020-03-30 18:11] Catvert commented on #151
Hey ! I've got into the same issue, the altgr key not working on Linux.

[2020-03-30 23:12] j4qfrost commented on #221
https://github.com/KhronosGroup/MoltenVK#memory-management

Maybe a better mind can make more sense of this than me.

[2020-03-30 23:30] Kethku commented on #221
I think the correct step for handling stuff like this bug is to first rebase on the master version of skulpin. As is I think the fork we are using (my private fork for the initial sdl2 support) is not sufficient and has diverged too much. @jotacosta has started some work on this over here: https://github.com/Kethku/neovide/issues/218 but if necessary I can take a quick stab to get it done sooner.

[2020-03-30 23:54] j4qfrost commented on #221
Cool, thanks for the invite and kind words. I'll follow the issue. I took a look at the drop implementation for the most up-to-date version of skulpin, and it doesn't seem to be much different aside from the plugins dropping. Though I guess getting everyone on the same page is useful  in that we can start helping push skulpin development forward too.

[2020-03-31 00:35] jotacosta commented on #221
I've started the port. I'm going slow as I'm not 100% fluent on Rust (things like lifetime are still new). But from what I can see, we should move to a logicalSize and try to not have dpi anywhere. This will require a bit of change in the code, as there are dpi validations in the current develop (with skulpin-sdl2) that don't exist in skulpin v0.9.0.

If folks feel this is a priority and needs to

[2020-03-31 00:42] Kethku commented on #221
I think there are a number of bugs that are blocked behind this, but that doesn't necessarily make it urgent. I'd rather ramp people up and help people contribute than rush a given feature or bugfix forward.

The dpi changes were all hacks to be honest. I agree that using logical size is the way to go and then fixing any dpi issues upstream. I suspect most of the changes will be mostly tearing out

[2020-03-31 00:47] ewhac commented on #210
This issue also breaks using `C-^` to switch to the "alternate" file, something I use a lot.

[2020-03-31 00:48] j4qfrost commented on #221
I was in the process of writing this when Kethku chimed in. I reiterated some of his points.

@jotacosta It's more like a "nice to have" going forward. For this issue, I've essentially smothered the error by not running code for macos, but I don't know if the destructor for the object is being run elsewhere or if it's just left in the wind until the program exits, which could lead to a memory leak

[2020-03-31 01:44] j4qfrost commented on #187
After working with neovide a bit more, I realize it's already pretty embeddable. It just requires more management on my end. I'll reframe this problem into "what do I need to expose" rather than "what do I need to change in window.rs". It turns out that I actually didn't need to make window for WindowWrapper an Option. The issues I was running into were related to how MoltenVK operated with skulpi

[2020-03-31 12:16] ovidius72 opened #223 "Error on startup"
I've installed the package from arch linux AUR (the git version) and I'm seeing this error when running.
Other info:
OS: Arch Linux
WM: i3

[code]

[2020-03-31 14:52] riginding commented on #223
I had the same error on arch you have to set a guifont.
you can find more info here: https://github.com/Kethku/neovide/issues/87

[2020-03-31 15:10] ovidius72 commented on #223
@riginding Thanks. Setting guifont works.

[2020-03-31 19:01] exoticus opened #224 "Built and running so smooth on Mojave, With minor issues"
First thanks for making this, i really like the idea of augmenting vim without changing it or the way it functions. I managed to build Neovide on Mojave (Because the build at releases is Catalina only) and it works very nicely however it doesn't quit cleanly. For instance if i `qa` it just freezes, and if i quit it with `CMD+Q` on mac it crashes with, it seems like something is accessed after the

[2020-03-31 21:19] j4qfrost commented on #224
Duplicate of #221

[2020-03-31 21:20] j4qfrost commented on #224
Duplicate of #113

[2020-03-31 21:32] exoticus commented on #224
@j4qfrost thanks for pointing these out, imma close this then

[2020-03-31 21:32] #224 closed

[2020-03-31 21:42] exoticus opened #225 "Cursor doesn't animate going to right"
I have noticed that cursor animations doesn't work going to the right side whether while typing or simply hitting `l` all other directions animate correctly, i wonder if there's any reason for this? or is it a bug?

[2020-03-31 22:02] j4qfrost commented on #221
@Kethku We can fix this temporarily by adding process::exit at the end of ui_loop until we figure out a permanent fix. It'll keep the project looking more professional for the time being.

[2020-03-31 22:42] exoticus commented on #225
So i found that it's intentional to prevent _lag_ however i tried to disable this behavior and see if there's actually any lag and couldn't notice any? Also i can't see why would that lag while hitting backspace erases a character while animating without causing lag

[2020-03-31 22:50] exoticus commented on #221
@j4qfrost yeah that did alleviate the crashing however `q` still doesn't close neovide for some reason, the loop seems to break but the window remains open

[2020-03-31 22:53] Kethku commented on #225
Im not sure if I understand your second point... There is a long term task though regarding configuring when the cursor animates or not. Maybe this issue should be repurposed to allow that?

[2020-03-31 22:55] Kethku commented on #225
Actually I think this issue is covered in this: https://github.com/Kethku/neovide/issues/117

[2020-03-31 23:11] exoticus commented on #225
@Kethku i was talking about this 👇, What i mean is that i see that we already animate the cursor going to the left, like when you are deleting a character (with backspace) while animating doesn't seem to lag as the comment says.

[code]

Removing `immediate_movement` and allowing animation to the right doesn't seem to lag or impact typing for me hence my question wondering about the purpose of thi

[2020-03-31 23:14] Kethku commented on #225
@jonvaldes added it because he perceived lag while typing. I think the correct strategy is to make it optional and maybe disabled by default.

The issue I linked is for a task to add configuration for many types of cursor jumps. Many people don't want the cursor to jump to or from the command line as well, so handling that case in the configuration would be a good idea too.

If that task covers yo

[2020-03-31 23:15] exoticus opened #226 "Quit doesn't Quit"
Continuing on #221, I tried @j4qfrost 's temporary solution to put process::exit after ui loop breaks and it seems to have alleviated the crashing problem however, (`:q` | `:qa`) doesn't quit Neovide, instead the window freezes. the animation loop seems to stop but the window doesn't exit anyway.

Reproduction (on Mojave)
1. Open new Neovide in an empty buffer
2. `:q`

[2020-03-31 23:19] exoticus commented on #225
@Kethku sounds good to me, thanks for the awesome work!

[2020-03-31 23:19] #225 closed

[2020-03-31 23:27] j4qfrost commented on #226
@Kethku Haha this is funny, I remember why I made the SDL window an option now when I was trying to embed neovide into my project. Being able to set window to None seems to fix this problem, since it explicitly drops the Window object. I'm learning to make my changes more granular to avoid forgetting.

[2020-03-31 23:30] Kethku commented on #226
I'm planning on reworking the quit logic to be more organized. At the moment its sorta spread around and adhock. Using process.exit to quit seems like not the best of options.

The hint that the Window object is a big source of the issue is a good one though that I will keep in mind.

[2020-03-31 23:34] j4qfrost commented on #226
As a cleaner way to handle this, we can implement the Drop trait for the WindowWrapper and change window to a ManuallyDrop object the same way the skulpin Renderer implements its drop method. Looking at my implementation using Option for the window is kind of an eyesore.

[2020-04-01 05:21] jamespotz opened #227 "Black screen on second external monitor"
neovide turns black once maximized or being resized in the second monitor.
![Screenshot from 2020-04-01 13-14-53](https://user-images.githubusercontent.com/4239625/78101728-04b2ff00-741b-11ea-8a6b-5642dadb23d8.png)

OS Info:
Distributor ID:	ManjaroLinux
Release:	19.0.2
Codename:	Kyria

This is under wayland, havent tried it on x11.

[2020-04-01 05:29] pakdev commented on #216
Yeah, it is. I have a 4K laptop with very small text even though my KDE scaling is 1.8. Is there any way to configure Skulpin to set a scale factor?

[2020-04-01 08:50] unsek opened #228 "Ubuntu 19.10: Running neovide (./neovide) results in Could not locate or start the neovim process: No such file or directory (os error 2) thread 'tokio-runtime-worker'"
After running the built release it would throw an error, and then around a minute or so would just briefly show the window and exit.

OS: Ubuntu 19.10

[code]

[2020-04-01 10:02] obreitwi opened #229 "`:echo has('gui_running')` returns 0"
When running `neovide`, my old config for `gvim` fails because `has('gui_running')` returns 0.

Is this intended?

It also changes the behavior of other plugins like [solarized](https://github.com/altercation/vim-colors-solarized) that check for a gui running.

[2020-04-01 12:30] exoticus commented on #226
@j4qfrost i don't think the problem is caused by window object not being dropped though, The issue seems to be that Neovide doesn't handle `:q` so that neovim exits but Neovide doesn't know about it... debugging kinda confirms that because the sdl window quit event doesn't even hit when you quit vim with `:q`

[2020-04-01 12:35] exoticus commented on #226
@j4qfrost I don't think WindowWrapper not being dropped is the culprit here. After debugging it seems that Neovide doesn't handle quitting vim through the `:q` which causes neovim to quit while neovide still thinks it's there.

I think this can be solved by handling quit event and notifying sdl about that so that Event::Quit gets called

[2020-04-01 18:41] Kethku commented on #229
Nope not intended. I didn't know it was something that was needed. I'll add it.

[2020-04-01 18:42] Kethku commented on #228
Do you have neovim installed?

[2020-04-01 18:43] Kethku commented on #216
We're working on some skulpin dpi related issues over at #218. It should be handled automatically and is a bug that it doesn't

[2020-04-01 21:47] j4qfrost commented on #226
https://github.com/j4qfrost/neovide/tree/embed

Dropping is definitely the issue. My embedded version doesn't have this issue. I don't want to merge it into the master branch, because I think there's a better way to implement this.

[2020-04-01 22:21] exoticus commented on #226
@j4qfrost did you try to debug it, because you can see that executing `:q` doesn't break the ui loop, so even though your embed trick seems to fix it i think the primary issue is what i am describing. I might be wrong though so pease try to debug it to see

[2020-04-01 22:48] j4qfrost commented on #226
I don't want to come off as harsh, but I really want this message to sink in.

What do you mean by "debug it"? What steps did you take? I've seen your issue happen with master. I did the exact things that you described in your original post with my embed branch, and the window closes as desired. If I can't recreate your issues the way that you do, then it's a lot harder to attempt to fix your prob

[2020-04-01 22:52] Kethku commented on #226
@exoticus I'm invested in fixing your issue as well, and I think we aren't that far off. One thing that may not be obvious is that as far as I can tell, there isn't an exit event for the neovim process. That said I could very well be wrong. Do you have a link to the docs for an event that does what you are describing?

[2020-04-01 22:56] Kethku commented on #226
Further, this exact scenario has worked in the past. So I'm confident we can figure it out

[2020-04-01 23:01] Kethku commented on #226
To be more concrete, today the way we get notified if the neovim process has closed is by awaiting this promise: https://github.com/Kethku/neovide/blob/master/src/bridge/mod.rs#L109

Once that promise resolves, we can be sure that the neovim process has closed. Until recently we would then trigger an app closure by calling process.exit. This was recently changed to make the app more maintainable a

[2020-04-01 23:16] Kethku commented on #229
Apparently this is a neovim decision. They decided to never set gui_running to 1. https://github.com/neovim/neovim/pull/4155

I have confirmed the same in neovim-qt

[2020-04-01 23:16] #229 closed

[2020-04-01 23:35] obreitwi commented on #229
Ah, dang, I should have checked. `neovide` is actually the first GUI project that made me come out of my "shell"…

A quick googling revealed that the solarized colorscheme apparently received an [updated fork](https://github.com/icymind/NeoSolarized) in the meantime, so I'll just use that instead.

Thanks!

[2020-04-01 23:37] j4qfrost commented on #229
Badump tsss!

[2020-04-01 23:40] #202 closed

[2020-04-01 23:40] Kethku commented on #227
That is very weird. Does it act like normal before you maximize or resize? This feels like a vulkan rendering issue.

[2020-04-02 00:41] j4qfrost opened #230 "Add unit tests and tests for UI elements"
I want to preemptively start this thread to survey for suggestions. A cursory search lead me to this promising repository https://github.com/enigo-rs/enigo

Since closing the window is a common point of failure that will be the focus for the first pass of testing as I learn how to use the library.

[2020-04-02 01:17] jamespotz commented on #227
No it doesn't work. The screen doesn't rerender, you can see on the video below
![neovide-bug](https://user-images.githubusercontent.com/4239625/78200932-cffa8280-74c2-11ea-9255-cef99dcc5d58.gif)

[2020-04-02 01:26] unsek commented on #228
@Kethku My bad I forgot to include. Yes, I got the AppImage and placed `nvim.appimage` in `/usr/local/bin` since Ubuntu's latest `nvim` version is still at 0.3.8.

[2020-04-02 12:20] exoticus commented on #226
@j4qfrost Few things to make clear here, First of all i am not complaining or asking for you to fix _my problem_, in the contrary i am trying my best to help with fixing it. So again if i came as needy or demanding, rest assured this wasn't my intention and i am sorry if you felt that way. It's just that i really like neovide and am trying to be helpful.

Second about the issue, Your branch should

[2020-04-02 12:24] exoticus commented on #226
@Kethku i am not looking for something that works, i am trying to share my findings to help. I hope my message above helped clear the situation a little bit

[2020-04-02 12:44] glacambre commented on #205
Can reproduce on Ubuntu 18.04+Linux 5.3.0+i3 4.14.1+nvim v0.5.0-384-ga2efc9cf8+neovide c78fb4a6794f2dcaa08be524e07a571deb18a6db. I don't need to be in a terminal/command line to reproduce, insert mode in a regular buffer also triggers this bug.
Setting `set guifont=monospace` also makes the issue disappear. I'm still noticing two issues that might be related, as they seem to have something to do w

[2020-04-02 13:03] exoticus commented on #226
@j4qfrost to further prove my point i have edited your `embed` branch and [removed](https://github.com/exoticus/neovide/commit/02f2f09aae7e0f04e75857cd8ba0df6fd632bc4e) all the Option stuff and didn't set window to None, and it `:q` still works because the loop still breaks just fine because of [this](https://github.com/exoticus/neovide/blob/02f2f09aae7e0f04e75857cd8ba0df6fd632bc4e/src/window.rs#L

[2020-04-02 13:58] raaffaaeell commented on #228
I dont know what I did wrong, but I did not have luck working with the appimage and the repos of the distro I use dont have the version 0.4 (that is required to run this software). I decided to just clone the git repo and build it (it was just two commands, it took a while on my laptop), then I could run neovide

[2020-04-02 15:13] glacambre commented on #205
Font dimensions are computed using metrics
https://github.com/Kethku/neovide/blob/c78fb4a6794f2dcaa08be524e07a571deb18a6db/src/renderer/caching_shaper.rs#L277-L279
Which are taken from the current font set:
https://github.com/Kethku/neovide/blob/c78fb4a6794f2dcaa08be524e07a571deb18a6db/src/renderer/caching_shaper.rs#L213-L214
Which is built out of FontCollections:
https://github.com/Kethku/neovide

[2020-04-02 15:20] unsek commented on #228
@raaffaaeell Just to clarify, you compiled neovim from source and this is what made neovide work for you? I've tried getting the neovim linux tar file and moving it into the `usr` folder but no luck with that. I'll try compiling from source to see if it works.

[2020-04-02 15:43] raaffaaeell commented on #228
Yes, I compiled from source. What you did should work, I think, but I really dont know how neovide looks for the neovim things.

I forgot to mention, but on my Fedora (30) I actually built neovide from source, the binary from github was getting me a problem about another lib that I couldnt get to work (sndio I think), so I compiled without the static link stuff.

[2020-04-03 10:27] aj3423 opened #232 "session not saved when close window by clicking "X""
Quit handlers not invoked when click "x" to close Neovide window.  Which causes plugin like "xolox/vim-session" not clear locks on quit.
The "X" is handled correctly in Nvim-qt, what about add this feature to Neovide ?

[2020-04-03 11:04] exoticus commented on #232
@j4qfrost this might be one of the flops of `process::exit` i think X would work more reliably if we delegate quitting to neovim so if user quits Neovide with `cmd+q` or simply using X, instead of breaking the ui loop ourselves and using `process::exit` we should call vim command `:qa` which in turn will gracefully quit vim causing bridge to return false to UI loop breaking it.

tldr; [instead of

[2020-04-03 13:53] exoticus opened #233 "Custom renderer for Tabs/Popups/Statusline"
I really like the neovide philosophy of not applying destructive editions over the vanilla vim experience, and to that i wish we should stick. However there're some aspects of vim that could use some love from the opengl renderer. For instance popups can use some customizations such as blur behind, drop-shadows, borders. The status line can use some of that too, like the ability to change its heig

[2020-04-03 15:50] awlayton commented on #206
I got it to run by forcing it to use my dedicated GPU (my laptop has both integrated Intel graphics and an Nvidia GPU).

[2020-04-03 20:04] Kethku commented on #206
This makes sense to me. Intel drivers sometimes struggle with vulkan. Closing this

[2020-04-03 20:04] #206 closed

[2020-04-03 20:17] j4qfrost commented on #232
It might be because this doesn't get called,
https://github.com/Kethku/neovide/blob/92d7f472e6df6a01c3163268f13a87794ff0ca26/src/window.rs#L418,
so the quit event isn't processed by neovim. In that case the issue would
be that we're exiting early rather than because we're calling process::exit.

On Fri, Apr 3, 2020, 12:12 PM Keith Simmons <notifications@github.com>
wrote:

[2020-04-03 20:40] j4qfrost commented on #232
Haha, that was a dumb comment. I'm awake now.

On Fri, Apr 3, 2020, 1:17 PM anhquan nguyen <j4qfrost@gmail.com> wrote:

[2020-04-03 20:53] j4qfrost commented on #232
@exoticus I think you're right. On a side note, @Kethku do we want to have draw_frame handling the condition for breaking the running loop? It might be better to check if we check if BRIDGE is still running explicitly in the loop so that shutdown logic is more verbose.

[2020-04-03 20:54] Kethku commented on #232
@j4qfrost I'm not understanding your last sentence. Can you elaborate?

[2020-04-03 21:23] Kethku commented on #232
This should be handled with this: https://github.com/Kethku/neovide/pull/234 Merging shortly unless I hear from @j4qfrost

[2020-04-03 21:26] j4qfrost commented on #232
Sorry, I was predisposed. We can discuss this in gitter, since it's not really pressing.

So rather than returning false in draw_frame https://github.com/Kethku/neovide/blob/92d7f472e6df6a01c3163268f13a87794ff0ca26/src/window.rs#L297 to break out of `running we could check the running variable in BRIDGE to exit the loop. It's more a design decision for visibility and separation of concerns.

If we

[2020-04-03 21:35] Kethku commented on #228
Neovide looks by default for a command called "nvim" here: https://github.com/Kethku/neovide/blob/master/src/bridge/mod.rs#L71

However you can define a "NEOVIM_BIN" environment variable which specifies a different path to an nvim executable and neovide will use that instead. Can you try setting an environment variable to that?

[2020-04-03 21:38] Kethku commented on #228
As for the sndio issue, this is the sdl2 audio library which causes problems on some destros. Compiling without static link is the way to go

[2020-04-03 22:51] Kethku commented on #232
I merged #234 @aj3423 can you confirm, did that fix your issue?

As for the draw_frame thing, I think it would make more sense to move the handling of this out of the bridge. The bridge originally was supposed to just manage sending of commands from the ui to the neovim process, and from the neovim process to the editor. This management of closing logic and honestly neovim process creation seems l

[2020-04-03 22:53] Kethku commented on #227
By any chance do you have two gpus installed? Or maybe the rendering swaps from the discrete gpu to the an integrated one over that frame boundry?

I think this is an upstream issue with the rendering code which should be solvable, but will need to wait until we are rebased on the master version of skulpin. This is nearly merged over here: https://github.com/Kethku/neovide/pull/222

[2020-04-03 22:59] Kethku commented on #226
Okeydokey. I believe this is fixed by #231 which got merged. Thanks so much for working together on this and getting a short term solution while keeping general organization in mind.

Something that may not be obvious @exoticus is that there has been an effort in the past couple weeks to refactor neovide so that it could be embedded in other projects. Calling process.exit is a brute force way of f

[2020-04-03 22:59] Kethku commented on #226
Closing for now as the root issue is complete. Thanks again for the discussion

[2020-04-03 22:59] #226 closed

[2020-04-03 23:01] Kethku commented on #223
Seems like the embedded fonts are causing issues here again :( I wish there was a better way to implement system based font fallback in skia...

[2020-04-03 23:02] Kethku commented on #217
@SirJson is there a way we can distribute this rule for other kde window systems to automatically pick it up?

[2020-04-03 23:03] Kethku commented on #213
This is very strange. Can you give more details about your system? Which os? Graphics card/libraries? Windowing system?

[2020-04-03 23:05] Kethku commented on #212
This is being worked on here: https://github.com/Kethku/neovide/pull/222 as it is at least partially an upstream issue. Once we are back to working on master, we should be able to be more principled about how we deal with dpi scaling problems. Progress is being made, sorry for the delay

[2020-04-03 23:14] Kethku commented on #50
wsl seems to work now.

[2020-04-03 23:17] Kethku commented on #198
That is very distressing... These issues are part of why I want to roll our own font renderer. We can be sure these issues don't come up. As is we depend on skia and skribo to line up and it seems like they frequently dont

[2020-04-04 00:28] jamespotz commented on #227
Nope, Mine is integrated only. Will be waiting for the next release. Anyway I am using it in my primary monitor, but would love I would love to use it on my second monitor :)

[2020-04-04 02:54] unsek commented on #228
With the nvim linux tar, setting `NEOVIM_BIN` gets rid of the neovim not found error but problems with fontconfig still persists.

![Screenshot from 2020-04-04 10-36-16](https://user-images.githubusercontent.com/20364796/78417002-3ec11280-7660-11ea-9a18-13139f28ea53.png)

Did some searching and these were my findings. I found [this](https://askubuntu.com/a/1158483) and it seems to be an error on U

[2020-04-04 03:40] Kethku commented on #228
do you have guifont set in your config?

[2020-04-04 03:41] Kethku commented on #228
setting it to a known system font often helps when the linux font rendering system doesn't handle the embedded font well

[2020-04-04 12:34] aj3423 commented on #232
@Kethku The version in releases seems not patched yet, and I failed to build it myself, the final step says:

    # ~/neovide-git ❯ ~/.cargo/bin/cargo build --release
    error: could not find `Cargo.toml` in `/root/neovide-git` or any parent directory

Can you upload an executable here? I'll try it on both Windows and Linux.

[2020-04-04 12:59] exoticus commented on #232
@j4qfrost yup i agree with you on having the draw method returning false be about drawing failures only, and bridge related exits may be handled separately, this would be the ideal state.

@Kethku well if we take the BRIDGE quite literally then yes it should only handle communication. But for the sake of conciseness couldn't we just rename the bridge to be neovim process manger and make it handle

[2020-04-04 14:53] ovidius72 commented on #223
I don't know if it's related but i see a lot of artifacts when scrolling with j,k.

[2020-04-04 20:55] SirJson commented on #217
Could be part of a makefile or better a [cargo-make](https://github.com/sagiegurari/cargo-make) file. Creating a something like a cargo-make file was something I wanted to do anyways because it makes following and installing from master easier.

If you are open to use cargo-make I'll I look into it. I think detecting kwin should be easy and installing some component on Linux means most of the time

[2020-04-05 00:08] BatmanAoD commented on #50
What is the command-line argument for it? Do I need to have neovim installed on the non-WSL side?

[2020-04-05 03:34] Kethku commented on #232
@aj3423 built artifacts can be found here: https://github.com/Kethku/neovide/actions/runs/70228511

[2020-04-05 03:35] Kethku commented on #232
@exoticus my main concern at this point is that we've already run into some bugs related to not understanding the weird ins and outs of the BRIDGE component. So I'm hoping that by separating the concerns out a bit it would make it simpler and less error prone. I will make a PR to describe the kind of separation I'm thinking about

[2020-04-05 03:36] Kethku commented on #223
@ovidius72 can you give a gif of what you are seeing? "lots of artifacts" isn't helpful

[2020-04-05 03:40] Kethku commented on #217
I'm not completely apposed to introducing a more principled build task management system, but I'd have to see what it looks like first. Introducing a non off the shelf solution like that necessarily puts barriers in front of contributing which is somewhat concerning.

¯\_(ツ)_/¯ maybe it would be fine? I haven't used cargo-make.

Makefiles on the other hand are somewhat frowned upon on windows syst

[2020-04-05 07:04] aj3423 commented on #232
@Kethku Seems fixed, tested on both Windows and Linux. Thanks!

[2020-04-05 07:23] #232 closed

[2020-04-05 07:51] aj3423 commented on #216
It seems fixed on the master

[2020-04-05 08:31] ovidius72 commented on #223
@Kethku I apologize but I cannot reproduce this issue anymore. When scrolling up and down it looked like the line highlighting was drawn on each line and not cleared, leaving horizontal lines around.
For some reason I cannot reproduce this issue, so please do not take it into account.

[2020-04-05 08:55] SirJson commented on #217
Yea, they are not complicated per se but I wouldn't want to see them on Windows either.

True, that this might be potentially another dependency but as far as I know it doesn't stop you from running cargo build or cargo run and is super easy to install on every platform. And since it can track for example other cargo related dependencies this might come handy later on.

Another thing that could wo

[2020-04-05 15:38] pakdev commented on #216
@aj3423 Are you sure you don't have guifont set to 50 still? I pulled the latest and don't see it fixed...

[2020-04-05 15:44] aj3423 commented on #216
@pakdev Sorry I should mention I tried the executable from "Action" page:
https://github.com/Kethku/neovide/actions/runs/70228511

[2020-04-05 16:19] TheConfuZzledDude commented on #198
That sounds like a lot of extra work that would have to be done?

[2020-04-05 16:39] SirJson commented on #198
I kinda agree with @TheConfuZzledDude is there no way to work together with upstream? I remember implementing font rendering for my games back then and it was always like: Getting chars on the screen is easy but getting them right with layout and kerning and what not... not so much. But maybe I just sucked at using freetype2 :sweat_smile:

[2020-04-05 17:34] pakdev commented on #216
@aj3423 That build has the latest commit from master and still doesn't solve the problem on my system.

[2020-04-05 17:36] aj3423 commented on #216
@pakdev Ok. I'll reopen this.

[2020-04-05 18:07] svermeulen commented on #181
I'm on commit ef2d99b and I still find that the ginit.vim does not seem to be loaded.  I've had to move my neovide config to init.vim as well

[2020-04-05 18:12] svermeulen commented on #200
This is probably my only criticism of this GUI as well.  I sometimes change back to nvim-qt because of the startup lag.  Otherwise it's brilliant.

I'm on the exact same OS (macOS catalina 10.15.3)

[2020-04-05 18:12] svermeulen commented on #200
Oh I should mention also that it takes around 3 seconds for me as well

[2020-04-06 12:11] aj3423 opened #235 "lag when typing on Windows"
It randomly lags when typing, which causes miss typing or repeat typing. The lag behavior feels very much like when cpu get too high load, it freezes the cursor for about 50~300ms.

The lag happens very frequent on Windows, almost happens on every sentence I input, but It's much better on linux, with all the same plugins. I tried to disable all the plugins, remove the vimrc, but still lag.

My CPU

[2020-04-06 12:27] chrisbouchard commented on #213
I'm using stock Fedora 31.

[code]

According to `/proc/cpu`, I have an "AMD Ryzen 3 3200U with Radeon Vega Mobile Gfx" (it's an integrated GPU). I'm using whatever OSS Radeon drivers come with the Linux kernel these days.

My Windowing system is Gnome 3.34.4 running on xorg-server 1.20.6.

[2020-04-06 16:31] Kethku commented on #198
I think the difference for me is that we don't have to do all of the complicated bits of kerning and layout since neovim only works with fixed width fonts. You're right that its complicated, but the above issues are due to the font rendering capabilities in skulpin being necessarily not fixed width.

The caching font shaper https://github.com/Kethku/neovide/blob/master/src/renderer/caching_shaper.

[2020-04-06 16:33] Kethku commented on #235
This is interesting, and I've noticed something similar on my side. I thought it was my keyboard, but you're totally right, it only happens in neovide. It didn't used to happen, so let me do some investigation to figure out when it was introduced.

[2020-04-06 16:37] Kethku commented on #235
Could you run with --log and send me the generated log file with a similar screen shot demonstrating the issue?

[2020-04-06 16:40] Kethku commented on #217
Would it make sense to put the config rule set into the repository and just point to it in the readme or wiki? That way for the probable minority of people who are going to run into this and need it, they can manually add the rule themselves?

I don't know how these rules work or even if there is a config format that would work for that.

[2020-04-06 16:43] Kethku commented on #200
I don't have a mac. Any chance I could convince one of you folks to do a little profiling to see what is taking all the time? I believe it has to do with font loading on Mac because neovide starts up nearly instantly on Windows, but I can't be sure. I don't have a Mac to test it myself.

[2020-04-06 16:55] aj3423 commented on #235
Here's the log on Windows.
![2](https://user-images.githubusercontent.com/4710875/78584169-5f5cb880-786a-11ea-985a-daa77d44c680.jpg)
[neovide_rCURRENT.log](https://github.com/Kethku/neovide/files/4439747/neovide_rCURRENT.log)

[2020-04-06 17:54] SirJson commented on #217
That's what I thought you would do :smile: Just put it in the readme and it'll be fine. The only reason I zipped this was because Github complained about not letting me upload _random files_.

Now I realize I could have just as easily posted the content here.. my bad

[code]

[2020-04-06 18:33] JunfengJia commented on #200
https://github.com/geerlingguy/macos-virtualbox-vm, can also help you to keep running unittest.

[2020-04-06 18:50] aj3423 commented on #235
I noticed this happens more frequently when typing in the command mode.
And this happens more more frequently for hotkeys, I registered hotkey with *autohotkey* like *alt + j == Down*, I have to press 3~5 times *alt + j* to trigger the  *Down*

[2020-04-06 20:04] aj3423 commented on #235
Here's the log for input command
![command](https://user-images.githubusercontent.com/4710875/78600055-cd15de00-7884-11ea-932c-41e6a89fec5b.jpg)
[command.log](https://github.com/Kethku/neovide/files/4440556/command.log)

[2020-04-06 22:52] exoticus commented on #200
@Kethku which profiling to run, i am running Macos Mojave and having same issue, 3~4 sec startup time

[2020-04-07 00:11] Kethku commented on #50
Reopening to remind myself to respond when I get back to the computer

[2020-04-07 00:15] Kethku commented on #200
Awesome investigation. This gives me a lever to push. I'll fiddle with it and report back

[2020-04-07 13:06] exoticus opened #236 "Optimizing the Neovide executable"
I always wondered why is the Neovide executable this big **~70mb**.. it's huge, almost Electron like. For a native app this is very alarming. So i did some tinkering and was able to get it down to only **8mb**. Below is what i did and the rationale for each edit.

### Removing Embedded Assets
It's very nice of Neovide to have good support for fonts and font ligatures; However, embedding `Fira Code

[2020-04-07 21:28] exoticus commented on #236
@Kethku If there's a discord or gitter channel, i'd really appreciate a more direct way to talk

[2020-04-07 21:29] Kethku commented on #236
https://gitter.im/neovide/community of course!

[2020-04-07 21:31] Kethku commented on #236
As for the above changes these all look great to me so long as they are configurable via cargo features. I totally agree that the LTO and stripped symbolic data should be done in the release builds. The embedded fonts I think should be an option. Quite possibly we should produce both assets so users can pick from the release page.

Thanks again for doing such wonderful investigation. It makes a hu

[2020-04-07 23:09] exoticus commented on #236
@Kethku no problem! Why would the embedded fonts be an option though? any particular reason behind that? For instance i am pretty sure you added `NotoSansMonoCJKjp-Regular` because it includes this `ln` symbol, and for that i created a new lightweight (19kb) font which includes most of the missing symbols, and for `NotoColorEmoji` if we use each platform emoji font that would be even better and fe

[2020-04-09 02:53] awlayton opened #237 "Obey mouse setting"
Is there any way to disable mouse support in neovide? I explicitly do `set mouse=` because I do not like things to happen when I click on vim but neovide seems to ignore this setting.

Is this a bug or an intended feature? I would like a way to disable it if possible.

[2020-04-10 21:38] #237 closed

[2020-04-10 21:39] Kethku commented on #237
Should be fixed

[2020-04-11 04:32] IceNature opened #241 "Cannot enter symbol from keypad area"
I can not enter symbol `+` `-` `*` `/` from keypad area in neovide. I'm sure the Num Lock is `On` for I can enter numbers from keypad area.
I use version 0.5.0 neovide.exe downloaded from Github Release on Windows 10 1909 18363.720 x64

[2020-04-11 13:55] aj3423 opened #242 "Drag/drop files into neovide window to open it"
Drag file from system explorer and drop into neovide window to open the file. Possible to have this feature?

[2020-04-11 15:59] ghost opened #243 "IME Support"
Hi there~

Awesome NeoVide is, though some support of non-English inputs may face some degrees of disability. Dynamic represent [here](https://twitter.com/_kjhl/status/1248993062837039105). Besides, thanks Kethku for friendly reply on my previous tweets, such a warm action.

- **Catch Tapping Events** When user is typing in non-English context, Vide catchs the letter and send it to inside vim. In

[2020-04-11 16:10] ghost opened #244 "Concurrent Key Press Reacts"
Hi~

The second problem was one of the plugin working problem.

The plugin, in short, provides `jk` (almost concurrent pressing down, in insert mode) map to `Esc`, and the map function provides [here](https://github.com/kana/vim-arpeggio/blob/master/autoload/arpeggio.vim#L184).

Is there any methods in this call that Vide does not support? Cause this plugin with the function does not work well.

^

[2020-04-12 19:21] leggettc18 opened #245 "Won't launch on Ubuntu 20.04 daily iso"
It built successfully (both with cargo build --release and plain cargo build). When I try to launch it, I see a window briefly open, immediately close, and then my terminal says

[code]

When run with RUST_BACKTRACE=1

[code]

This looks really cool and I'd like to try it out. Let me know if you need any more info or have any potential fixes for me to attempt.

EDIT: Forgot to mention that I get t

[2020-04-12 22:00] leggettc18 commented on #245
In Hindsight... it's entirely possible the machine I tried building this on doesn't support Vulkan. I tried it on an old Thinkpad, I will try on a newer desktop I have and report back.

[2020-04-13 18:38] Kethku commented on #245
This is likely the issue

[2020-04-14 09:44] kirjavascript opened #246 "Option to show the current buffer's file path in the window title"
For example, GVim will show `.vimrc (~) - GVIM`

[2020-04-14 22:07] Kethku commented on #246
set title

[2020-04-14 22:07] #246 closed

[2020-04-15 04:13] IceNature commented on #241
Sorry for missing log, for i just found `--log` option. For the `+` symbol, if I input `+` by `<Ctrl-=>`, log outputs
[code]
But if I input `+` from my keypad area by the key `+` directly, log outputs
[code]
Does the `<>` around the second `+`  causes the probem or is it just as desgin?
And I found I need to use `<Shift-+>` (`+` is the `+` key on keypad) to input `+` in neovide.

[2020-04-15 10:04] asamolion opened #249 "Can't open neovide on Ubuntu 18.04 LTS"
Hi there,

I'm trying to run neovide on Ubuntu 18.04.
I've installed nvim (0.5+) and have compiled and copied the neovide binary to `/usr/bin/`

However when I run the executable it gives me the following error.

[code]

Any ideas what could be the potential issue?

[2020-04-15 14:48] nganhkhoa commented on #94
I have the command installed manually, maybe I can do this as my first issue.

[2020-04-16 09:36] anteeek commented on #213
I'm running into what seems a pretty much the same issue, except the --geometry option works, but only for small values. Running on Windows 10

[2020-04-16 10:21] anteeek opened #250 "Window is gone on lost focus on Windows"
On Windows 10, whenever the `let g:neovide_fullscreen=v:true` is set, when I press alt-tab (change focus to another window) the original window is killed. Built from the repository, commit `63845ca` with `cargo build --release`

[2020-04-16 15:10] asamolion commented on #249
I fixed the issue by installing the mesa drivers even though I'm using an Intel integrated GPU.

[code]

[2020-04-16 15:10] #249 closed

[2020-04-16 17:53] Kethku commented on #250
This is fixed by https://github.com/Kethku/neovide/pull/248. Thanks @R-Michelsen

[2020-04-16 17:57] Kethku commented on #241
That looks like a bug. Let me look into it.

[2020-04-16 17:58] Kethku commented on #244
Very weird. I use a keyboard macro to achieve this functionality on my setup. Let me look into it.

[2020-04-16 17:59] Kethku commented on #242
This won't be possible with the sdl windowing system, but we may be able to get this if and when we switch back to winit.

Likely this means it won't happen for a while...

[2020-04-16 17:59] Kethku commented on #245
@leggettc18 did you get a chance to try it on your desktop?

[2020-04-16 17:59] #250 closed

[2020-04-16 19:38] leggettc18 commented on #245
Sorry. I did and it would launch with a bunch of FontConfig errors. It would then appear to work fine except for some weird rendering issues, like the text seemed to kind of warp when the cursor was around ligatures (I was using the Iosevka font) and parenthesis. It would end up where for instance the cursor would show the character underneath its position in the file, but the actual text was rend

[2020-04-16 21:08] Kethku commented on #245
Compiling from scratch seems like a good strategy. What you describe seems like metric problems we've seen in the past.

[2020-04-17 18:42] exoticus commented on #200
with the new optimizations Neovide startup time on MacOS is down from 2.8~3s to 750~900ms with emojis, It isn't optimal yet but a significant improve nonetheless. I suggest not closing this yet as i have some more optimizations in mind that may bring this number to ~200-300ms which would be instant, and comparable to windows/linux

[2020-04-17 19:37] Kethku commented on #236
Fixed by recent PR. Thanks @exoticus

[2020-04-17 19:37] #236 closed

[2020-04-17 19:40] Kethku commented on #94
@nganhkhoa that would be awesome! If you have an idea for how to integrate this it would be great to have

[2020-04-18 15:01] yatli opened #251 "Ubuntu 18.04, Cinnamon 4.2.4: blank window"
Hi @Kethku !

Revision: 3da11e09d8e7a784443f7474f1659368003b62c0
Hardware: 64-bit system, X11, nvidia driver v440
Installed the dependencies according to README.md
Configuration: release

When I start it up, it gives a very small window (https://github.com/Kethku/neovide/issues/213), and when I resize it, I see no text displayed. The background color is correct, and I can tell nvim is running, jus

[2020-04-18 17:05] Kethku commented on #251
Howdy! Can you try running with the --log command line argument?

[2020-04-18 18:07] exoticus opened #253 "Cursor trail size over 1 causes render issues"
Setting neovide setting `cursor_trail_size` to a value over 1 will break cursor animation (because of an infinite loop)

![out](https://user-images.githubusercontent.com/56480961/79646271-31ec0500-81b0-11ea-8bfb-08e9b5e61fdd.gif)

[2020-04-18 18:15] exoticus commented on #146
Can you verify if latest [changes](https://github.com/Kethku/neovide/commit/bea55d321f3b1d193dbf9a65280f9203c0f74233) fixed this for you?

[2020-04-18 18:17] exoticus commented on #145
@TristanCrawford Can you verify if latest [changes](https://github.com/Kethku/neovide/commit/bea55d321f3b1d193dbf9a65280f9203c0f74233) fixed this for you?

[2020-04-18 18:19] exoticus commented on #87
this might be fixed with [latest changes](https://github.com/Kethku/neovide/commit/bea55d321f3b1d193dbf9a65280f9203c0f74233)

[2020-04-18 21:01] leggettc18 commented on #245
Well that's weird, I tried to re-clone and build and now its not drawing any windows. It appears to launch and doesn't crash, and I see an entry in my dock (no icon, but that's normal I'm pretty sure), but no window appears on my screen, and no errors get logged in my console. The window preview looks like this:
![Screenshot from 2020-04-18 16-59-35](https://user-images.githubusercontent.com/21345

[2020-04-18 23:25] Kethku commented on #146
I'm going to go ahead and close this. We chatted irl about it a while back

[2020-04-18 23:25] #146 closed

[2020-04-19 04:59] Kethku commented on #245
I've never seen this happen before :l If you build some 10 commits back or so does the same issue occur? We just merged a pr which might effect things, though I doubt it

[2020-04-20 17:09] exoticus opened #254 "Setting cmdheight breaks command_line_delay logic"
This is an issue for the problem we discussed earlier where setting `cmdheight` for a value bigger than 1 will result in the [`command_line_delay`](https://github.com/Kethku/neovide/blob/3da11e09d8e7a784443f7474f1659368003b62c0/src/renderer/cursor_renderer/mod.rs#L260) not getting executed as it only accounts for last row in the editor grid, which isn't the case for `cmdheight` values over 1

[2020-04-20 17:57] exoticus opened #255 "Full screen logic breaks on macOS"
The newly added fullscreen functionality doesn't work properly on macOS because it doesn't take into account the menubar and/or the dock

![image](https://user-images.githubusercontent.com/56480961/79637346-187e9500-817f-11ea-804e-089c1d89d581.png)

Now this should've been a pretty easy fix if Rust-sdl2 had `SDL_GetDisplayUsableBounds` implemented however it looks like only `SDL_GetDisplayBounds`

[2020-04-20 18:53] Kethku commented on #255
Sadly I'll have to depend on someone with access to a mac in order to get this done since I don't have one.

[2020-04-20 18:55] exoticus commented on #255
@Kethku well i am on macOS, can you test if this code works fine on windows

[code]

[2020-04-20 18:55] Kethku commented on #255
Yup will do

[2020-04-20 18:58] exoticus commented on #255
Also there's something i can't understand about current implementation

See [here](https://github.com/Kethku/neovide/blob/3da11e09d8e7a784443f7474f1659368003b62c0/src/window.rs#L217) and [here](https://github.com/Kethku/neovide/blob/3da11e09d8e7a784443f7474f1659368003b62c0/src/window.rs#L196) it seems to me as though it was supposed to be setting border to false to mimic borderless full screen? it

[2020-04-20 18:59] Kethku commented on #255
I think settings resizable to false sets border to false. But maybe I'm wrong? Let me fiddle with it a bit

[2020-04-20 19:02] exoticus commented on #255
@Kethku Then it'll render this code even more redundant

[2020-04-20 19:43] Kethku commented on #255
I reworked this it here: https://github.com/Kethku/neovide/pull/256 does this work better for you?

[2020-04-20 19:47] exoticus commented on #255
@Kethku i've added a review there, please check it out

[2020-04-20 19:50] #253 closed

[2020-04-20 19:50] Kethku commented on #255
Hmmm... I'm not seeing your review

[2020-04-20 19:52] exoticus commented on #255
my bad, didn't submit for some reason

[2020-04-20 20:03] khalidchawtany opened #257 "Segfalts with neovim HEAD on Mac OS"
Neovide crashes on start.
Starting neovide form terminal reveals inconsistent results:
[code]

This is what I get from the crash report : https://gist.github.com/khalidchawtany/a51a7a629b640d4e997294463ee9c093

Neovide version: latest neovide downloaded from the releases
[code]

[2020-04-20 20:22] Kethku commented on #255
Fixed

[2020-04-20 20:22] #255 closed

[2020-04-20 20:25] exoticus commented on #257
@khalidchawtany i'am on head `ca02db1` which doesn't exhibit this issue on my side, can you test that?

[2020-04-21 01:12] #242 closed

[2020-04-21 08:50] aj3423 opened #260 "font problem with recent fix"
The latest release in [Actions](https://github.com/Kethku/neovide/actions) page seems have font problem on Linux.
![neovide screenshot](https://user-images.githubusercontent.com/4710875/79845524-c55f4900-83ef-11ea-8091-8690f078847e.png)
The old version works fine, the last working master is 10 days ago:
![neovide font](https://user-images.githubusercontent.com/4710875/79845662-f8a1d800-83ef-11ea-9

[2020-04-21 11:58] exoticus commented on #260
@aj3423 can you build from source? cause i want you to test out this specific [commit](https://github.com/Kethku/neovide/tree/bea55d321f3b1d193dbf9a65280f9203c0f74233) to see if the issue is related to skripo/fontkit update or the new font loader

[2020-04-21 13:20] aj3423 commented on #260
@exoticus I tried build from different commits, seems this commit causes the problem: 90d5329b88cdf7820e4d4e92778dc0ddb9933888
![neovide font issue](https://user-images.githubusercontent.com/4710875/79870533-b4c1c980-8415-11ea-90e6-26983c1dce0f.png)

[2020-04-21 13:43] DemonCloud commented on #260
same here, build from source

[2020-04-21 13:52] j4qfrost commented on #230
First pull request, https://github.com/Kethku/neovide/pull/261

[2020-04-21 14:00] exoticus commented on #260
@aj3423 i am not sure how would that cause any problem, it's a language feature to use aliases, what do you mean by `seems this commit causes the problem` you mean the font problem or a build problem?

@DemonCloud you mean same font issue on linux?, building specifically [this commit](https://github.com/Kethku/neovide/tree/bea55d321f3b1d193dbf9a65280f9203c0f74233)?

[2020-04-21 14:05] exoticus commented on #260
@aj3423 apologies, i saw that you said that it caused the font issue in the photo, there's no logical explanation why that would fail except `cfg(target_os = "linux")` is not evaluating to true for some reason

[2020-04-21 14:08] aj3423 commented on #260
@exoticus I don't know Rust, how can I add some log message or popup box to check the `cfg(target_os = "linux")` ?

[2020-04-21 14:12] exoticus commented on #260
@aj3423 alright, so i would need your assistance of we're gonna fix this as i don't have a linux machine handy, can you replace the whole `define!` block with this
[code]

[2020-04-21 14:17] aj3423 commented on #260
Just tried this, same problem.

[2020-04-21 14:19] exoticus commented on #260
@aj3423 you have set guifont in your init.vim? if so, try not to set a custom font just to see if default font loads correctly, if not can you make sure Droid Sans Mono is installed _it should be_

[2020-04-21 14:41] aj3423 commented on #260
@exoticus I ditn't set guifont, but now I tried `set guifont=Console:h14` in vimrc,  or set it at runtime,  same problem. My environment is Kali Linux, maybe it can be reproduced with Windows WSL

[2020-04-21 14:45] exoticus commented on #260
@aj3423 can you try to set gui font to that?, i just wanna know if the font loader is totally broken on linux or is it specific to some font/font family

unfortunately i'am on macOS, but i am gonna install linux in order to see how did the font loader regress

[2020-04-21 14:49] aj3423 commented on #260
I tried  `set guifont=Droid\ Sans\ Fallback:h14` in vimrc, and no matter set it to any font, all the ame problem

[2020-04-21 14:53] exoticus commented on #260
alright, i have to install linux to get to the root of this problem then

[2020-04-21 14:53] aj3423 commented on #260
Now I know how git works.. Previously I checked on different branch..   I'll check again, to see which commit on master caused this. I'll be back in 2 hours and check it.

[2020-04-21 16:22] pmkap commented on #260
Just FYI, I have the same Problem on Linux and `set guifont` resolves the Problem. E.g `:set guifont=DejaVuSansMono`.

[2020-04-21 16:23] exoticus commented on #260
@pmkap at least this tells me that font loader is working

@aj3423 can you try that, if it works then it's just the matter of adding more fallbacks for linux

[2020-04-21 17:47] aj3423 commented on #260
@exoticus  The `:set guifont=DejaVuSansMono` works !

[2020-04-21 19:05] exoticus commented on #260
@aj3423 so here's the reasons for your findings, first if `set guifont=DejaVuSansMono` works then neovide isn't miss-behaving, and the issue is just that some distros appear to not have Droid Sans Mono pre installed, should be easy fix if we add `DejaVu` as a fallback though. For the utf8 characters and why they worked before here is an explanation.

Originally neovide shipped with a full set of f

[2020-04-21 19:13] Kethku commented on #260
Unfortunately that will result in less than ideal latin characters wouldn't it?

[2020-04-21 19:15] exoticus commented on #260
@Kethku that's why i am currently thinking about the ability to specify multiple fonts, which will have the added benefit of making neovide capable of loading separate glyphs fonts etc, eliminating even the need for patched fonts as neovide will patch them together by means of fallback

[2020-04-21 19:18] Kethku commented on #260
I like the idea, but I'm worried about coming up with the correct mechanism for configuring it. Especially when competing guis just do it by default with os font fallback

[2020-04-21 19:20] exoticus commented on #260
@Kethku honestly things like font fallback should've been delegated to the system idk what to blame here, font-kit or skribo

[2020-04-21 19:22] Kethku commented on #260
Its less something to blame and more the work hasn't been done yet https://raphlinus.github.io/rust/skribo/text/2019/04/04/font-fallback.html

[2020-04-21 19:23] exoticus commented on #260
@Kethku yeah i didn't mean blame in a bad way, just that OSs deal best with all these font fallback shenanigan

[2020-04-21 19:24] Kethku commented on #260
I wonder if the long term solution would be to do both. Add configuration for font fallback lists and then also ship a version with a ton of embedded fonts like it was previously for those who want it. Then when propper font fallback comes out we just switch to that

[2020-04-21 19:27] exoticus commented on #260
@Kethku i'd always try to find the best possible solution without stuffing the executable with embedded fonts, and i really think that the right recipe of fallbacks can handle a wide variety of characters on each system, So for instance instead of defaulting to only 1 font for each system by default, a series of fonts should be loaded in order, and i believe that each system comes preloaded with e

[2020-04-21 19:42] aj3423 commented on #260
@Kethku I tried [noto font package  ](https://www.google.com/get/noto/) with master branch,  it works, English and Utf-8 shows correctly. But there're some new problems like window very small, no cursor, don't know if they're related to the font issue.

[2020-04-21 19:44] exoticus commented on #260
@aj3423

this shouldn't be font related at all, can you attach a screenshot of that?

[2020-04-21 19:59] aj3423 commented on #260
@exoticus After installed the 1GB noto fonts, the initial Neovide window looks like this:
![small window](https://user-images.githubusercontent.com/4710875/79907707-9e833000-844c-11ea-963f-d2aa2ba7f43c.png)
The window is small no matter set guifont to anything in vimrc.
I tried uninstall the Noto font , the window becomes normal size again.
Re-install Noto font,  small again ..

And  after drag it

[2020-04-21 20:03] exoticus commented on #260
@aj3423 oh, you didn't have to download the whole 1gb but won't hurt anyway. the window/cursor thing shouldn't be related to the font issue, but concentrating on fonts as a starter, the boxes in statusline are wrong, but the other arrows what do you expect there? did you have powerline glyphs there and they don't render?

[2020-04-21 20:11] Kethku commented on #260
the window size may be related to the font size problem if the loaded font reports poor metrics

[2020-04-21 20:12] aj3423 commented on #260
The boxes is a plugin [noscrollbar ](https://github.com/gcavallanti/vim-noscrollbar), I configured like this in vimrc: `noscrollbar#statusline(20,'-','◫',['◧'],['◨'])
`,  normally it should look like:
![box](https://user-images.githubusercontent.com/4710875/79909087-f28f1400-844e-11ea-845b-f675a83f90f6.png)

But now it looks like:
![1](https://user-images.githubusercontent.com/4710875/79908962-c5d

[2020-04-21 20:13] exoticus commented on #260
@Kethku checkout gitter please

[2020-04-21 20:15] exoticus commented on #260
@aj3423 how do you set guifont, and to what font do you set it, can you try just Noto Sans Mono

[2020-04-21 20:20] aj3423 commented on #260
@exoticus  I tried `set guifont=Noto\ Sans\ Mono` in vimrc, only works for English characters, Utf-8 is squared. But with `set guifont=Noto\ Sans\ Mono\ CJK\ SC`, Utf-8 is ok, but the lightline bar is messed up.

[2020-04-21 20:36] exoticus commented on #260
@aj3423 can i ask you for one more thing? can you install the noto fonts bundled with neovide master (Releases) and try to use them in your current master build?
This should give you original neovide behavior

[2020-04-21 21:00] aj3423 commented on #260
@exoticus  Downloaded and tried all of these in vimrc,
[code]
By utf-8 I mean Chinese characters, so I tried `set guifont=Noto\ Sans\ Mono\ CJK\ SC`,  I'm not sure if the "SC" means "Simplified Chinese", but this seems the closest one from that 1GB font package, but still messes up the lightline bar.

[2020-04-21 21:03] exoticus commented on #260
@aj3423 Alright, it's just because no one of these four contain all the required character, @Kethku will be adding a new multiple fallback feature that will fix your problem, will also allow for creating or customizing your own font out of multiple ones

[2020-04-21 21:07] aj3423 commented on #260
OK, thanks, but why does Neovide requires additional font anyway? I don't see any other software ships with a font package. Can Neovide use the font that nvim uses? Or use the system font by default ?

[2020-04-21 21:09] exoticus commented on #260
@aj3423 yeah it used to ship with fonts but the master branch now does exactly that, it uses the font you specify inside your vimrc, if there's none it'll fallback to system defaults. The issue you encountered just happened because of the way neovide fallbacks right now, however this will be alleviated with the changes mentioned above.

[2020-04-21 21:12] aj3423 commented on #260
@exoticus Looking forward to the new release, can help with test that.

[2020-04-21 21:13] exoticus commented on #260
@aj3423 thanks, that would be nice

[2020-04-21 22:18] pmkap commented on #260
For the current state, maybe the Droid Sans Package should be listed as a dependency.

[2020-04-22 08:36] yatli commented on #251
[neovide_r2020-04-22_16-33-20.log](https://github.com/Kethku/neovide/files/4514805/neovide_r2020-04-22_16-33-20.log)

Please see attached log file.
Thanks!

[2020-04-22 08:38] yatli commented on #251
`TRACE [neovide::editor] Image flushed` doesn't appear after just the initial frames?

[2020-04-22 21:08] khalidchawtany commented on #257
I just tried with `HEAD-6c9a574` and still get a segmentation fault.

[2020-04-23 00:17] jamespotz commented on #227
The latest commit from master fixed this issue, I am closing this now

[2020-04-23 00:17] #227 closed

[2020-04-23 00:18] Kethku commented on #227
Glad to hear it!

[2020-04-24 02:47] jamespotz commented on #260
@aj3423 do you have `unifont` fonts?
You can install the font with
`sudo apt install ttf-unifont`

[2020-04-24 09:05] juho-p opened #263 "Neovide fails to start on multi GPU Linux laptop"
Hi,

Thanks for creating this project. Looks nice, and I can't wait to explore it more!

Trying to start Neovide results in following message:

[code]

Window flashes very briefly and then it stops running.

Now, I suspected this might have something to do with this machine having Nvidia and integrated Intel GPU, so maybe it uses wrong GPU, I thought.

I briefly look around the code, grep vulkan k

[2020-04-24 09:06] aj3423 commented on #260
@jamespotz Thanks.  Indeed... Everything seems to work after `apt install ttf-unifont`, All fonts works correctly for English, Utf-8, and GUI element

[2020-04-24 16:24] khalidchawtany commented on #257
I built neovide on my machine then relplaced the executable in neaovide.app with the one I built and neovide works as expected.

[2020-04-24 16:26] j4qfrost commented on #257
Have you tried doing
[code]

[2020-04-25 10:01] juho-p commented on #151
I have the same problem and it's probably the only thing that prevents me from using Neovide now. I tried to do some keyboard code tweaking regarding this issue myself and based on the API documentation and online discussion I concluded that SDL isn't unfortunately suitable library for handling international keyboard input for vim like editor (sorry for totally useless conclusion, since Kethku alr

[2020-04-25 12:15] juho-p commented on #151
I did some testing with old winit version of Neovide. I tried ReceivedCharacter, as @iwikal suggested in a comment for this issue before. It might have been as easy as that (almost, just need to encode '<' for nvim.

I put my attempt of these changes here (branched off from 0.4.0 tag): https://github.com/juho-p/neovide/tree/try-to-fix-keyboard-from-old-winit-version
Diff: https://github.com/juho-p

[2020-04-25 12:18] juho-p commented on #151
To glarify on my previous comment: That branch I created is not practical, since it is based on _ancient_ version of Neovide, but I think it shows that there is some hope regarding using winit as a solution for neovim GUI (at least for keyboard input).

[2020-04-26 01:49] khalidchawtany commented on #257
That also works. It is just the file downloaded from the releases page that does not work.

Feel free to close this.

[2020-04-26 10:50] juho-p commented on #151
I played around with the code and managed to change the current master version to use winit instead of SDL: https://github.com/juho-p/neovide/commits/neovide-on-winit

This version seems to work very well for me, though I didn't test it very throughly yet so maybe I missed something obvious. Also, it's missing some window settings stuff. I didn't get setting window title and transparency to work w

[2020-04-27 02:01] #257 closed

[2020-04-27 02:02] j4qfrost commented on #257
A patched release should be on its way.

[2020-04-27 02:03] Kethku commented on #257
Yup I'm working on one last commit I want to get in before the release as we speak

[2020-04-27 02:03] Kethku commented on #263
I will make this a configuration option. thanks for the investigation!

[2020-04-27 02:36] Kethku commented on #151
I am reading these and thinking about them. Sorry for not responding sooner.

Getting winnit support back in is definitely a priority. Unfortunately I believe there are still lurking bugs in winnit that mean we need to keep the sdl windowing system around, so if I'm going to land that support it will have to be in a configurable way. Probably via a compile time feature.

I want to long term swap t

[2020-04-27 02:40] Kethku commented on #151
Something I am remembering from the last time I went down this path is that some platforms allow ctrl in receivecharacter while others don't :l So I had to do a hybrid approach similar to the input handling that exists today. Its possible (I hope) that they have fixed this since then though, so I'm very interested in trying again. The dpi handling in Winnit was vastly better so that would fix a bu

[2020-04-27 02:57] Kethku commented on #223
Ok I will close this then.

[2020-04-27 02:57] #223 closed

[2020-04-27 03:00] #260 closed

[2020-04-27 05:15] unsek commented on #245
Fresh installed Ubuntu 20.04 and I think I'm getting a similar issue with this. There's no mention of the font config errors in #228

Here's the log file from running `neovide --log`

[code]

[2020-04-27 05:15] #228 closed

[2020-04-27 11:38] juho-p commented on #151
Yes, in my branch the idea is to not check ctrl at all for ReceiveCharacter, because the character is some ASCII code that comes from ctrl+key combination. But this might be something UNIX or Linux specific thing done by Winit (I didn't try to figure out what exactly is happening). I think I'll try to test this in Windows 10 machine soon. Interesting to see what happens.

[2020-04-27 15:29] juho-p commented on #151
Ok I managed to compile this on Windows (had to install 5GB of MSVC stuff, but it works!), and yeah, winit ReceiveCharacter works a bit different in Windows compared to Linux. Some basic stuff in my git branch works, like <C-c> and <C-r> is the same, but for many other cases it's not so  good story. So basically, if using winit, I think the only way forward with current winit version would be to h

[2020-04-28 00:54] j4qfrost opened #264 "Build fail as consequence of updating rust skia [Windows]"
This is still speculative. The Windows build workflow is running into this error after upgrading my dependencies in this branch https://github.com/j4qfrost/neovide/commit/55a98495f6db2d801b8bc3e49cec2de1e8e904a3

[code]

[2020-04-28 17:47] Kethku commented on #245
Could you try setting the guifont? I think maybe the font metrics are getting calculated incorrectly and its doing weird things on linux

[2020-04-28 17:48] Kethku commented on #264
Yeah thats not good... This should probably be raised upstream. Windows path limits are a thing that cross platform libraries need to pay attention to

[2020-04-30 22:31] onsails opened #266 "❯ ligature in terminal"
Neovide does ligatures rendering in normal mode (NERDTree) but fails to render "❯" ligature in terminal mode.
I have guifont set to set `FiraCode\ Nerd\ Font:h12`.

Terminal nvim:
![2020-05-01_01-27-52](https://user-images.githubusercontent.com/107261/80765293-5d290980-8b4b-11ea-8663-360746279b1c.png)

neovide:
![2020-05-01_01-29-39](https://user-images.githubusercontent.com/107261/80765312-6619db

[2020-05-01 00:15] Kethku commented on #266
I could very well be wrong, but I think thats not a ligature? It looks like a special symbol in which case the bug is font fallback not working or the character not being present in the default fallback fonts

[2020-05-01 04:09] onsails commented on #266
Yes indeed you are right, it's not ligature, it's a special character printed by [starship](https://starship.rs).
I have the same font in iTerm2 and `guifont` of Neovide but only Neovide fails to render it...

[2020-05-02 13:53] yngman commented on #151
As detailed in issue #27 (specifically [here](https://github.com/Kethku/neovide/issues/27#issuecomment-599284401)), `AltGr` is handled via sending `<M-key>` to Neovim *iff* the user had to use `AltGr` to generate `key`. For unfortunate European keyboard users, this means that hitting `i<AltGr-+>` does not generate a mere `\`, nor even a `+`, but unexpectly exits insert mode. Hitting `i<C-v><Altgr-

[2020-05-03 07:15] Kethku commented on #266
yes likely iterm2 uses font fallback because the character doesn't exist in your configured font. Unfortunately due to the font management library options in rust at the moment, there isn't a good way to take advantage of operating system font fallback. SO to get around this I recently added a manual font fallback feature to the guifont configuration.

If you can find a font that for sure has that

[2020-05-04 01:20] onsails commented on #266
Perfect, thanks!

[2020-05-04 01:20] #266 closed

[2020-05-04 02:53] xiaochuanyu opened #268 "App package from Releases doesn't run on OSX 10.15.4"
I get a generic error popup from OSX when running app package downloaded from Releases.
I'm on **macOS 10.15.4**.
## Repro Steps
1. Download the app package from Releases and move it to `Applications`.
2. Run Neovide (double-click package).
3. I get a cryptic popup "The application "Neovide" can't be opened.":
![image](https://user-images.githubusercontent.com/1718745/80932764-f136e300-8d8e-11ea-8

[2020-05-04 04:24] j4qfrost commented on #268
The release binary is currently broken for OSX 15.15.4, and Kethku wanted to finish up some changes before pushing out a new binary release. If you want you can download a binary from the latest successful CI build https://github.com/Kethku/neovide/suites/614016249/artifacts/4740416 or build from source.

[2020-05-04 04:24] #268 closed

[2020-05-04 09:14] j4qfrost commented on #264
Solved, https://github.com/Kethku/neovide/pull/265

[2020-05-04 09:14] #264 closed

[2020-05-04 19:41] SirJson opened #269 "Unicode glyphs from the technical range won't render again"
It's kinda sad to see that issue #153 is back again after I fixed it.
![04-05-2020](https://user-images.githubusercontent.com/1042414/81006355-acbf4c00-8e4f-11ea-9509-2a78ba87422d.png)

I also know why following the Gitter chat. Basically the bug fix of another guy broke mine because there is no standard in Linux. Can we make the symbol fonts a config variable? A few terminals on Linux do that, an

[2020-05-04 21:21] yngman commented on #269
May I ask for clarification? I can confirm the issue on Ubuntu 20.04, where my build is missing e.g. the U+2630 (☰) glyph, but have not participated in the chat mentioned; I am naïve of the history of this code base.

Is it possible to implement a strict font coverage sanity check as a feature with `embed-fonts`? I am not interested in continuing the build if the font lookup fails unexpectedly; I'

[2020-05-04 23:44] SirJson commented on #269
In my original patch I tried to address Windows (where I had the problem first), Linux and OSX but could only get it to work for the first two.

For Windows it's easy because there is a defined  Symbol Font available. But on Linux there is no such thing as a definition in user space most of the time. That's why I chose as default value [GNU Unifont](https://en.wikipedia.org/wiki/GNU_Unifont) for t

[2020-05-05 07:44] jamespotz commented on #269
Maybe implementing something like `$HOME/.config/neovide.toml` or `.neoviderc` for overriding default configs.

[2020-05-05 07:45] j4qfrost commented on #269
I believe @Kethku is currently working on something along these lines. He's just been a bit busy.

[2020-05-05 15:55] Kethku commented on #269
The real issue here is a lack of os level font fallback. Neovim-qt can handle this correctly because it can use operating system apis to build a font fallback list on the fly based on the installed fonts. We don't have that option because cross platform font fallback libraries don't exist for rust yet.

I apologize for the churn @SirJson. It is very difficult for me to keep in mind all the differe

[2020-05-05 15:59] Kethku commented on #269
As for the render rewrite issue, I wouldn't worry too much. I have doubts that such a rewrite is going to happen. It's a huge effort, and I won't merge it until such an effort is well and truly baked. At the moment nobody has contributed an attempt outside somewhere basic proof of concept expirements I made a month or two ago.

I have to walk a fine line between encouraging contribution from a wid

[2020-05-05 16:57] w93163red opened #270 "cannot copy/paste from external on Mac"
Hi,

Just found a problem. On Mac, the cmd+c/cmd+v has been mapped to other keys. How can I copy from the external to neovide?

[2020-05-05 18:23] Kethku commented on #270
This is not a bug. Neovim handles all keybindings and vim will not allow cmd+c/cmd+v unless your config binds them. I recommend reading up here: https://vim.fandom.com/wiki/Copy,_cut_and_paste

[2020-05-05 18:23] #270 closed

[2020-05-05 18:26] Kethku commented on #269
As mentioned by @j4qfrost (thanks so much again for helping manage these issues) I have merged a modification of guifont. You can now specify multiple fonts by separating the font name by commas. I am also going to add a separate neovide specific variable which allows the user to specify the fallback list without being incompatible with other guis

[2020-05-05 23:19] xiaochuanyu opened #271 "Weird graphical artifacts on OSX 10.15.4"
I get some weird graphics where the cursor flickers and changes color when I move it or
change between insert/normal mode.
See this GIF for what I mean:
![ezgif com-crop](https://user-images.githubusercontent.com/1718745/81124841-77c10100-8f04-11ea-957f-4cf4ddcf29b7.gif)

This is a locally compiled version from master today (738dce79e8ffdb92e227f4309d2fb652b1a70e58) on OSX (10.15.4) following inst

[2020-05-06 00:38] j4qfrost commented on #271
Leaving a note here before I start investigating further. It seems that this issue dates back all the way from the OSX optimization changes. It could have been introduced earlier, but that's as far as I've looked.

[2020-05-06 02:05] jamespotz commented on #269
I also would like to contribute with this project, But I am still very new to rust.

[2020-05-06 02:14] j4qfrost commented on #269
@jamespotz https://github.com/Kethku/neovide/issues/230 This is a good place to start. I think the best place is in the animation_utils.rs file, since those functions are fairly simple. Refer to the settings folder if you need help or ping me on gitter.

[2020-05-06 05:36] Kethku commented on #271
This is due to anti aliasing and is fixed by turning it off. I believe there is already a setting for it

[2020-05-06 05:39] j4qfrost commented on #271
Yeah, there is. Though since I looked into it, seems that the mouse clicks for macos are off by a scaling factor. Setting the scale factor to 1.0 fixes this for Mac, but I'm getting around to checking how it affects Linux and Windows.

[2020-05-06 05:40] Kethku commented on #271
That's very strange and likely a sculpin bug

Thanks,
Keith
________________________________
From: j4qfrost <notifications@github.com>
Sent: Tuesday, May 5, 2020 10:39:51 PM
To: Kethku/neovide <neovide@noreply.github.com>
Cc: Keith Simmons <keith@the-simmons.net>; Comment <comment@noreply.github.com>
Subject: Re: [Kethku/neovide] Weird graphical artifacts on OSX 10.15.4 (#271)

Yeah, there is. Tho

[2020-05-06 08:29] jamespotz commented on #269
Thanks @j4qfrost

[2020-05-06 08:31] jamespotz commented on #230
@j4qfrost how can I help?

[2020-05-06 11:22] j4qfrost commented on #230
Read this for a good idea about how rust handles testing: https://doc.rust-lang.org/stable/rust-by-example/testing/unit_testing.html

I took a peak at your github profile to tailor my advice a bit. Here are some nodejs libraries that might give you a bit of familiarity with what I want to do:
https://mochajs.org/
https://sinonjs.org/

Unfortunately, the testing libraries for rust are still in the

[2020-05-06 14:40] SirJson commented on #269
@Kethku I know, this project grew extremley fast and you really try to support everyone which is something big companies strugle with.

But it's good to hear that there might not be the big change in rendering technology because I was thinking about getting this to run on something like a Raspberry Pi. That would open up the option of using OpenGL ES as Fallback with Angle on Windows which transla

[2020-05-06 14:52] SirJson commented on #269
Ok back to the topic, I just saw this on a fresh build of the master branch on Windows

![grafik](https://user-images.githubusercontent.com/1042414/81191896-d5fbeb80-8fb9-11ea-907c-a8f8b75a456d.png)

I think there is more to this than just: "Someone changed the default font on Linux"...

[2020-05-06 15:12] SirJson opened #272 "Disabling "embed-fonts" breaks build"
Just fell over this issue while trying to figuring out why special glphys fail to render again on windows.
If I disable the "embed-fonts" feature neovide refuses to build.

[code]

The second try was to make sure that there is no cargo bug that disables the feature of every dependency or something like that. I just removed `embed-fonts` from the default-features list.

That output looks kinda stra

[2020-05-06 18:40] j4qfrost commented on #221
This seems to be resolved, I'll close it for now.

[2020-05-06 18:40] #221 closed

[2020-05-06 19:39] vivlim commented on #147
I'm hitting this very often when I do something that changes display geometry (i.e. reconnect to my RDP session after overnight) which results in the majority of my neovim sessions not closing cleanly, which results in my oldfiles not being updated :(

Is there anything I can do to help with this one?

[2020-05-06 19:52] j4qfrost commented on #147
We could start implementing a feature for saving changes on crashes as a temporary measure, but I would imagine this would have a much broader use case. I know Sublime Text has this feature.

[2020-05-06 20:04] Kethku commented on #147
This is most definitely a bug which should be raised upstream in sculpin. I will make an issue and start some debugging.

An auto saving feature seems interesting, but I'm nervous that for some users saving temporary files might not be desirable?

Further at the moment neovide doesn't even detect the crash which makes this harder...

[2020-05-06 20:13] Kethku commented on #147
Also the upstream to skulpin is done now. So the above comment https://github.com/Kethku/neovide/issues/147#issuecomment-591702037 is no longer valid

[2020-05-06 20:15] Kethku commented on #147
https://github.com/aclysma/skulpin/issues/47 Upstream issue is here

[2020-05-06 20:30] Kethku commented on #271
@xiaochuanyu could you try disabling anti aliasing by setting the global neovim variable `g:neovide_cursor_antialiasing` to `v:false`? I think this should fix your issue.

[2020-05-06 20:47] Kethku commented on #269
Just to add, font fallback is hard in rust not because theres a bunch of work to be done, but because the cross platform libraries we use don't have a solution. Raph Levien has done a really great writeup on the complexity here: https://raphlinus.github.io/rust/skribo/text/2019/04/04/font-fallback.html and made a follow up issue here: https://github.com/servo/font-kit/issues/37

Until these resolv

[2020-05-06 21:01] vivlim commented on #147
Are there flags I can pass to neovide that will collect the relevant logs?

[2020-05-06 21:04] j4qfrost commented on #147
--log

[2020-05-06 21:49] SirJson commented on #269
Mh okay this idea comes from a different me that isn't programmer and has no clue what a qt is:  (I have no better way to describe this but we have word for this 😂)

Can't we just draw our own technical glyph font? Like how hard can it be to draw dots and lines or use svgs that we are allowed to use for more complex figures. It's work yes but this would solve it on every platform. The question wou

[2020-05-06 21:52] vivlim commented on #147
Log attached, but there doesn't seem to be anything of note in here.
[neovide_rCURRENT.log](https://github.com/Kethku/neovide/files/4589557/neovide_rCURRENT.log)

I'm running the windows build produced by this action run: https://github.com/Kethku/neovide/actions/runs/95481207
Unfortunately, I can't get a stack trace from the dump because the action doesn't publish .pdbs. I'm setting up my environ

[2020-05-06 21:56] j4qfrost commented on #147
Forgot about that. Looks like this requires more print statements.

[2020-05-06 22:13] Kethku commented on #269
I think thats the idea behind these https://github.com/Kethku/neovide/tree/master/assets/fonts @exoticus can elaborate on how he made them. Maybe they just need extended?

[2020-05-06 22:55] vivlim commented on #147
Here's the stack trace I'm seeing. I was hoping I'd be able to get symbols for nvoglv64.dll from the [nvidia symbol server](https://developer.nvidia.com/nvidia-driver-symbol-server), but no luck.

![image](https://user-images.githubusercontent.com/1565930/81236128-5833e200-8fb1-11ea-8a56-c075ff2235ca.png)

If you have any logging changes you'd want me to apply and repro with, I can do that.

[2020-05-06 23:22] Kethku commented on #147
@vivlim I just confirmed that the skulpin sdl2 example https://github.com/aclysma/skulpin/blob/master/examples/interactive_sdl2.rs exhibits the exact same issue (as far as I can tell).

[2020-05-06 23:22] Kethku commented on #147
Discussion here: https://gitter.im/neovide/community seems to indicate that the problem is indeed upstream

[2020-05-06 23:40] Kethku commented on #147
I believe this is fixed by https://github.com/aclysma/skulpin/pull/49 trying now

[2020-05-06 23:43] Kethku commented on #147
Yup! On windows this no longer crashes! Once the pr merges we can update the version and close this bug. @vivlim after that happens could you try on other platforms?

[2020-05-07 01:50] SirJson commented on #269
I wonder why I never asked my self what those extra fonts are 😃 That's good to hear tho!

I had a look at my old bug report where I found the glyphs that failed to render and had a look with FontForge if those could be missing, and the only one missing is u+2b1d aka "BLACK VERY SMALL SQUARE".

I never created a font, creating a black very small square is easy but adding it to a font without breaki

[2020-05-07 03:47] adrian5 opened #275 "Compress release assets"
I think it would be nice to offer compressed release assets as seen e.g. with [neovim](https://github.com/neovim/neovim/releases) → Assets.

If it would suit your workflow, I could create a PR to add compression for Win (Zip), MacOS (Zip), Linux (XZ) to the CI pipeline. But I don't know how you currently handle releases – do you download the artifacts manually, and then upload them as release asse

[2020-05-07 04:02] Kethku commented on #275
So I have been uncompressing the ci assets manually and uploading the uncompressed versions... I don't really know why I've been doing that other than just thats what I've always done.

Can you talk a bit about why you want them compressed? I figured that for most people the extra download size was worth the ability to just drop it wherever and run it right away

[2020-05-07 06:08] vivlim commented on #147
I changed the reference to neovide to point to aclysma/skulpin (https://github.com/vivlim/neovide/tree/point-skulpin-at-upstream) and found the following

* Windows: I was able to repro the issue, and it went away after taking the upstream change
* Linux (Ubuntu 19.10 / Intel): I wasn't able to repro the issue, no noticeable change either way.
* Mac (10.15.3): I wasn't able to repro the issue, but

[2020-05-07 07:10] vivlim commented on #147
Looks like the reason I wasn't able to run neovide on the Mac is because the vulkan debug layer was enabled and something's broken about my vulkan-sdk install. Disabling the debug layer allowed it to run, and everything seems fine.

[2020-05-07 17:23] BatmanAoD commented on #50
Is there a command line argument in the 0.6.0 release for this?

[2020-05-07 17:31] adrian5 commented on #275
I guess it's mostly inertia. When something offered for download can be compressed significantly, I always make sure to do that. But maybe that thinking is becoming outdated in the time of ubiquitous broadband and CDNs.

Personally, I would definitely do it in this case, but it's your call. The only other argument I can give is that the Linux executable would be easier to recognize then, instead o

[2020-05-08 05:53] svermeulen commented on #228
I think it'd be more intuitive if neovide by default used whatever version of nvim is on the PATH instead of explicitly checking `/usr/local/bin/nvim`.  This is how nvim-qt works.  It took me a few minutes to figure out that the `NEOVIM_BIN` environment variable exists

[2020-05-08 06:24] j4qfrost commented on #228
@svermeulen https://github.com/Kethku/neovide/pull/279 Thanks for the input.

[2020-05-08 08:50] aj3423 opened #280 "utf8 character not correct with release 0.6"
Hi,  old 0.5 works fine  with "ttf-unifont" installed, but after update to 0.6.0, Chinese characters not displayed correctly, English characters works fine.

I tried the prebuilt package, and build myself, no difference.
How to fix?

![font](https://user-images.githubusercontent.com/4710875/81389169-feb3ea80-914b-11ea-9f43-e8e114b13213.png)

[2020-05-08 13:09] obreitwi opened #281 "Supplying dashed command line arguments leads to error"
Tested with version `0.6.0.r4.gdc399c3-1` (via [`neovide-git`](https://aur.archlinux.org/packages/neovide-git/) AUR package).

Starting `neovide` without any arguments works fine, but supplying any command line argument with a leading dash leads to an error:

[code]

However, specifying ex commands works fine, example: `neovide "+e ~/.vimrc"`

[2020-05-08 14:40] jamespotz commented on #280
Do you have `Noto Sans Mono` font installed ? if not try installing it using `sudo apt install fonts-noto-mono`

[2020-05-08 14:43] aj3423 commented on #280
@jamespotz Yes, I have `Noto Sans Mono` installed.
[code]

[2020-05-08 15:00] xiaochuanyu commented on #271
Setting `g:neovide_cursor_antialiasing` to `v:false` worked.

[2020-05-08 15:13] jamespotz commented on #280
@aj3423 try my branch if it fixes your issue
[https://github.com/jamespotz/neovide/tree/280-utf8-character-bug](https://github.com/jamespotz/neovide/tree/280-utf8-character-bug)

[2020-05-08 15:19] monofon commented on #151
@yngman you made my day. Also works under macOS on a MacBook Pro with german QWERTZ
keyboard.

[2020-05-08 15:32] aj3423 commented on #280
@jamespotz This branch doesn't work either..

[2020-05-08 15:41] jamespotz commented on #280
Do you still have the Unifont installed? And can you share the symbols used

[2020-05-08 15:45] jamespotz commented on #280
After reverting it back to unifont, I got the Chinese characters to render
![image](https://user-images.githubusercontent.com/4239625/81422717-f082c000-9185-11ea-84cf-e87c6612d2ef.png)

[2020-05-08 15:54] aj3423 commented on #280
@jamespotz Yes, the `set guifont=Unifont` works, Chinese characters shows correctly.  But the Unifont  looks ugly. I was using 'Fira Code' which works fine with previous version 0.5.0, but not with  0.6.0.

[2020-05-08 15:57] jamespotz commented on #280
You dont have to set guifont to unifont, as long as you have unifont installed it will load it.

[2020-05-08 16:01] aj3423 commented on #280
@jamespotz If I don't set any font (remove the vimrc), it looks like
![neovide square](https://user-images.githubusercontent.com/4710875/81424284-46f0fe00-9188-11ea-8d66-f6dd146af4d0.png)

[2020-05-08 16:43] svermeulen commented on #228
Awesome thanks  :)

[2020-05-09 00:34] jamespotz commented on #280
@aj3423 Your OS is kali right?

[2020-05-09 00:35] aj3423 commented on #280
@jamespotz Yes. kali linux.

[2020-05-09 00:36] jamespotz commented on #280
Alright, Ill try to reproduce the problem in kali

[2020-05-09 02:47] adrian5 opened #283 "Lack of subpixel rendering"
The font rendering doesn't look quite clean on my system. I think this is due to (a lack of) subpixel rendering, as some colors look a lot better than others.

Different applications such as Firefox or Atom (Electron) match the crispness of my desktop environment. Here a comparison of Neovide (top) and nvim in xfce4-terminal (bottom):

![font-rendering](https://user-images.githubusercontent.com/54

[2020-05-09 04:31] geekjam opened #284 "File version not right?"
Download:
https://github.com/Kethku/neovide/releases/download/0.6.0/neovide.exe
And i got:
0.5.0

Download:
https://github.com/Kethku/neovide/releases/download/0.5.0/neovide.exe
And i got:
0.4.0

[2020-05-09 04:33] j4qfrost commented on #284
I think @Kethku forgot to bump the version, how are you getting the version?

[2020-05-09 05:31] geekjam commented on #280
Windows have same problem, Chinese not display correct after version 0.5

[2020-05-09 20:17] raaffaaeell commented on #212
Using the latest master, it working better now, thank you very much

[2020-05-09 20:17] #212 closed

[2020-05-10 07:07] ssxwcz opened #285 "neovide fails to start"
OS: Windows 2004 19582
neovide 0.6.0
![image](https://user-images.githubusercontent.com/43665491/81493067-c3dabf80-92cf-11ea-8324-3743a9495f90.png)

This is the startup log of neovide

INFO [neovide::bridge] Neovim process attached
INFO [neovide::bridge] UiCommand processor started
TRACE [neovide::bridge::handler] Neovim notification: "redraw"
TRACE [neovide::editor::grid] Editor resized
TRACE [ne

[2020-05-10 07:38] j4qfrost commented on #285
Can you check that your build has this pull request in it? https://github.com/Kethku/neovide/pull/276

[2020-05-10 07:38] j4qfrost commented on #285
I don't think the fix made it into the release.

[2020-05-10 08:31] ssxwcz commented on #285
I tried the version that contains #276 , but still the same error
https://github.com/Kethku/neovide/actions/runs/97913512
[neovide_rCURRENT.log](https://github.com/Kethku/neovide/files/4605363/neovide_rCURRENT.log)

[2020-05-10 08:32] ssxwcz commented on #285
![2020-05-10](https://user-images.githubusercontent.com/43665491/81494475-d529c900-92db-11ea-9203-c42b31332c6c.gif)

[2020-05-10 09:13] j4qfrost commented on #285
I would sit tight for @Kethku, because I don't currently have access to a Windows machine to help you, but if you want to try diagnosing on your end, try adding ```debug!("{:?}", event);``` before the match here:
https://github.com/Kethku/neovide/blob/dc399c3c49db2861394c7a21f66dae3a44e193f3/src/window.rs#L438

I might add that line in a pull request in the future. It will give us some clue as to

[2020-05-10 17:29] monban opened #286 "Fullscreen doesn't seem to be working on Arch"
`let g:neovide_fullscreen=v:true` doesn't seem to have any effect on my system. No error, just nothing happens.
using x11 backend:
`loginctl show-session 2 -p Type
Type=x11`

Using Gnome 3.36.2:

    flynn@arch:~$ cat /usr/share/gnome/gnome-version.xml
    <?xml version="1.0"?>
    <gnome-version>
    <platform>3</platform>
    <minor>36</minor>
    <micro>2</micro>
     <distributor>Arch Linux®</

[2020-05-11 00:14] VladimirMarkelov opened #287 "Passing `set termguicolors` command to nvim"
Hi! Thanks for the application. It looks promising. I found a little annoyance that took some time to investigate. I used `neovim-qt` and everything was fine. When I switched to `neovide`, everything worked smoothly except the colors were weird. After digging the issue, I realized that I have to add `set termguicolors` to `init.vim` to make colors nice. But why `neovim-qt` does not need it? `Neovi

[2020-05-11 00:20] j4qfrost commented on #287
I believe this is a problem with selecting the appropriate fallback standards on different systems. Qt usually comes with a bundled default, so if something isn't installed they switch to something that looks appropriate. Please correct me if I'm wrong.

We have brief related discussions here https://github.com/Kethku/neovide/issues/272 and here https://github.com/Kethku/neovide/issues/269

I thin

[2020-05-11 00:42] VladimirMarkelov commented on #287
I do not insist on it, but I think GUI application can tell to nvim that it is a GUI one. And `neovim-qt` does it. Here is the command line `neovim-qt` launches `nvim`:

[code]

[2020-05-11 00:46] VladimirMarkelov commented on #287
`I think the main issue is settling on a standard.` is a good point. It was the first my thought when I found why both apps displayed colors in a different way. If it is done to follow standards, feel free to close the issue :)

[2020-05-11 00:48] j4qfrost commented on #287
I can make a pull request later today, but I'm not sure if I can test ```--cmd "set termguicolors"``` reliably. If you want to contribute, here is where you would need to add the argument for nvim. https://github.com/Kethku/neovide/blob/dc399c3c49db2861394c7a21f66dae3a44e193f3/src/bridge/mod.rs#L75

I'll leave the issue open for now to see if anyone else runs into this problem. Thanks.

[2020-05-11 01:13] VladimirMarkelov commented on #287
I agree. Let's have it opened for a while. At this moment, I have added the command to my `init.vim`. It breaks neither `neovim-qt` nor `neovide`. So, I have a working solution and I am fine. It can be an issue for another person who get the same trouble(or instead of an issue it can be added to FAQ? I am not sure about it). For some color schemes it is not clear that termguicolors is unset(e.g, g

[2020-05-11 03:57] ssxwcz commented on #285
Thanks, I do n’t understand rust at all and my computer has no rust environment,

[2020-05-11 07:02] #271 closed

[2020-05-11 07:03] Kethku commented on #275
I think that is the case, but I can't remember. We do have logging, and for most people it is easy enough to build from scratch if they have the wherewithal to actually use the debug symbols... I will think about it and probably make the change to remove the symbols in published builds. Thanks for the suggestion

[2020-05-11 07:05] Kethku commented on #280
@geekjam this is a separate issue. Try adding a font which contains your characters to your guifont setting by separating font names with commas. Respond here if you continue to have issues.

[2020-05-11 07:05] Kethku commented on #281
Oh very interesting. This is definitely a bug.

[2020-05-11 07:07] Kethku commented on #285
@ssxwcz can you tell me a bit about your machine configuration? Does it have a discrete gpu or is it just using integrated? Did previous builds work or is this your first time trying? Can you try setting guifont to something in your vimconfig?

[2020-05-11 07:10] Kethku commented on #287
I do recall this being a thing a while back and the conclusion was that neovim-qt does it by default but other guis do not. I'm not apposed to forcing it to be set because I'm not aware of any repercussions... A PR to do this would be greatly appreciated, but I will get to it eventually.

[2020-05-11 07:14] Kethku commented on #283
Its an interesting point and I suspect it comes down to the various font settings for drawing text using skia.

We use the draw textblob call here: https://github.com/Kethku/neovide/blob/master/src/renderer/mod.rs#L138
And it is influenced by various settings on the paint object. I'm certainly not an expert and have not explored all of the text rendering options in skia, so any investigation would

[2020-05-11 07:14] Kethku commented on #284
:( yeah that seems likely

[2020-05-11 07:16] Kethku commented on #284
yup just confirmed that the cargo.toml reports the wrong version. I will update it in a commit so that master is up to date, but will wait to publish a new release until we have a sufficient reason. (this may come quickly given reported font bugs)

[2020-05-11 07:27] Kethku commented on #151
@yngman sorry for not getting to you sooner. Unfortunately I'm completely in the dark when it comes to the right choices here. I don't have a good feel for what expected behavior  is and as mentioned above it appears that winit acts differently on different platforms.

I believe this is something that should be resolved with them because I would LOVE it if we could just use receive character like

[2020-05-11 07:29] Kethku commented on #50
I believe it is.

https://github.com/Kethku/neovide/blob/master/src/bridge/mod.rs#L37

I haven't tested it myself though as I don't have a wsl install on my home machine. Looks like you can just add --wsl? Also possible that there is a bug given https://github.com/Kethku/neovide/issues/281

[2020-05-11 11:55] SirJson commented on #287
This might be a stupid question but why should termguicolors be bad for neovide?

Receiving 24-bit color data (if that happens) should almost always result in better rendering. I'm surprised that it makes a difference at all to clients using the RPC API. The only reason why it might be bad is because termguicolors reacts to your $TERM variable, but this should not matter for a Neovim Client that d

[2020-05-11 12:27] geekjam commented on #280
@Kethku find out why, in new version, won't use system fonts for Chinese display, and so, some programming fonts will not work, like "Fira Code".

[2020-05-11 15:22] BatmanAoD commented on #50
Thank you! I am probably running into that bug, because running with any command line arguments does indeed cause the process to exit prematurely, sometimes without even opening a window first. I don't see any error output, though; is there some way to turn on log output?

[2020-05-11 18:45] j4qfrost commented on #287
I tried adding ```--cmd "set termguicolors"``` on my Mac and it doesn't pass the unit tests. Not sure what the behavior is, so I'll leave this to someone else.

[2020-05-12 03:56] Kethku commented on #280
You can put multiple fonts separated by commas in the guifont.

In the new version we stopped embedding fonts into the executable because it was causing too much of a performance cost. If you have a font with the characters you want you should specify it in the guifont setting

[2020-05-12 14:11] SirJson opened #288 "Text rendering regression on macOS"
I actually wanted to investigate #287 because I was curious how the TERM variable is changing the behavior in neovide. I started the same way I always do, I get a fresh master release build without any modifications for my baseline.

That didn't quite workout though. This is what happens when I use my usual neovim init:

<img width="910" alt="0" src="https://user-images.githubusercontent.com/10424

[2020-05-12 15:00] ssxwcz commented on #285
OS: Windows 2004 19582
CPU: intel i7-8750H
GPU: GTX 1050Ti

I have used neovide before and it can run normally, but after I reinstalled the system, and after upgrading to the Windows preview version, any version of neovide will not work properly on my computer. Still unable to start after setting other fonts

[2020-05-12 18:58] diefans opened #289 "unable to use backslash `\` as localleader"
I have a breakpoint shortcut under `\b` but I cannot trigger it. neovide seems to ignore it in normal mode.

btw. if I press `\“` I get
[code]

[2020-05-13 02:48] geekjam commented on #280
@Kethku looks like when use separated, only use the first font and doesn't mix
Like:
set guifont=FiraCode\ NF,宋体:h13
OR:
set guifont=宋体,FiraCode\ NF:h13

![1](https://user-images.githubusercontent.com/5414233/81765746-397ca080-9507-11ea-8b30-f037f28b28dc.png)

![2](https://user-images.githubusercontent.com/5414233/81765753-3d102780-9507-11ea-860f-cee01bffe89c.png)

[2020-05-13 06:22] Kethku commented on #289
I'm not sure I understand. Are you saying if you press the double quote key the app crashes?

Further can you give the exact nvim binding that doesn't work? I assume it does work on other nvim guis?

[2020-05-13 06:23] Kethku commented on #288
This is a font parsing issue. Somehow either your machine doesn't have the configured guifont installed or the default font for your system doesn't exist. What is guifont set to?

[2020-05-13 07:20] diefans commented on #289
My vim config specific for this issue:
[code]
I have a gernan keyboard layout and stumbled accidently over the crash, by pressing `altgr+b = “`

So I managed to crash my neovide by pressing
[code]

[2020-05-13 07:23] Rhizotome opened #290 "AltGr doesn't work"
AltGr doesn't seem to work. When I use it in combination with another key, it results in very weird behaviours (for example it use Shift+Space for <Esc>, and AltGr+Space seems to trigger it too). Furthermore, some combinations involving AltGr crash neovide. I am on archlinux.
Is there anything i didn't understand ? Thanks.

[2020-05-13 08:59] jsosulski opened #291 "Issues on Pop_OS! 20.04 / Ubuntu 20.04"
Hi,

on my laptop running PopOS, when trying to start the 0.6.0 binary (or 0.5.0), I get the following error.

[code]

I found that on my machine libsndio7 is installed, and 6.1 is not available in the package manager.
Do you have any ideas except to downgrade the library?

[2020-05-13 09:12] SirJson commented on #288
The same as usual
<img width="994" alt="5" src="https://user-images.githubusercontent.com/1042414/81793958-56ff3980-950a-11ea-8cbf-7612c0d99e05.png">
Since you think it's font loading related I also attached a log file running with my normal init.vim
[neovide_rCURRENT.log](https://github.com/Kethku/neovide/files/4620912/neovide_rCURRENT.log)

[2020-05-13 18:04] diefans commented on #290
I guess you have the same issues like me: https://github.com/Kethku/neovide/issues/289

[2020-05-13 23:02] Kethku commented on #288
If you remove the guifont setting does it change anything?

[2020-05-13 23:03] Kethku commented on #290
Repeat of https://github.com/Kethku/neovide/issues/151

[2020-05-13 23:03] #290 closed

[2020-05-13 23:06] Kethku commented on #291
@j4qfrost I seem to remember you removed the static linking feature? I think that was the fix for this on other linux distros

[2020-05-13 23:08] Kethku commented on #291
Previously there was a way to disable static linking in the sdl wrapper which would fix not having libsndio available. I don't remember for sure but I think that library is used for audio which isn't needed for neovide to function but is included in the static linking script by default

[2020-05-14 00:59] j4qfrost commented on #291
I was tinkering with the static linking, but it looks like it's still there for the sys package https://github.com/Kethku/neovide/blob/b7b4e95ca97cc29933dd70f34c4274229a9b0d95/Cargo.toml#L44. I think at one point removing static linking worked for my mac, but it's a bit of a blur as to why. libsndio is indeed used for sound.

I'll look into spinning something up I can use for testing.

[2020-05-14 05:50] SirJson commented on #288
No unfortunately not, see my second screenshot at the beginning. The thing is I use that Macbook just for neovide testing anyways so it's not breaking my workflow or anything.

And if no one else is seeing this and it stays until I may or may not get that OpenGL ES renderer working I will get back to this issue and see if I can fix it.

After all by implementing a new rendering system by going top

[2020-05-14 08:22] diefans commented on #289
The strange thing in command-mode I can enter a backslash

[2020-05-14 14:20] j4qfrost commented on #291
I got it to run the tests using libsndio7. @jsosulski can you clone the source and see if you can run ```cargo test```?

[2020-05-15 02:00] monban commented on #286
Just an update, I compiled the latest master from source and now fullscreen works as expected. I could try to do a bisect, but I'm beginning to suspect it may be a problem with either the way I installed ('neovide' on AUR). In any event, this appears fixed upstream, so I will close this issue.

[2020-05-15 02:00] #286 closed

[2020-05-15 14:54] raaffaaeell commented on #291
I had the same problem in Fedora 30 and the way was to clone the project and remove static linking like j4qfrost is suggesting. I'm not running my Linux, I can look into it later (my .toml) and edit this post

[2020-05-15 16:15] jsosulski commented on #291
Yes, the tests work on my machine as well.

You're right, removing static linking makes it compile and now I get a "FontConfig" error, but I think theres another issue for this. Thanks!

[2020-05-15 18:23] jsosulski commented on #291
So I had the FontConfig error, and manage to make it run after compiling it again after installing `libfontconfig1-dev`. However, after starting neovide, I get window that consists basically of the height of a window titlebar and 1px width. I can resize it to be larger but it shows only a blackscreen. I do not get any errors on the command line though, so I cannot comment on what the issue is.

[2020-05-16 00:54] j4qfrost commented on #291
I made a pull request. Linux works fine without including the build dependency for sdl-sys for my Ubuntu VM and in the CI, but it would be good to test for different distros. We should leave this open until a write up for troubleshooting is made. While I was trying to get neovide working on a fresh Ubuntu install, some of the commands on the README were missing some dependencies. If someone wants

[2020-05-16 13:42] a-vrma opened #293 "Proportional font support?"
Maybe this is out of scope (this is a "No Nonsense Client" after all) but it would be cool to use a proportional font like Input Sans. Currently it looks like this:

![image](https://user-images.githubusercontent.com/29077900/82121216-5c9e8e80-9759-11ea-86ae-798c5c143766.png)

Note how the cursor is in the middle of a character.

[2020-05-17 02:03] binyomen opened #294 "Potentially add neovide AppImage to releases"
Packaging as an AppImage gives neovide in particular a few advantages:

* Updatability through tools like AppImageUpdate
* Desktop integration, including an icon, description, and screenshots (for app stores)
* We may be able to include libvulkan_intel.so, libvulkan_radeon.so, etc. binaries in the AppImage itself so user's don't have to manually install mesa-vulkan-drivers
* Signing the executable

[2020-05-17 02:19] j4qfrost commented on #294
Sounds like a good idea. I would like these pull requests to be resolved before before this gets merged in https://github.com/Kethku/neovide/pull/277 (this provides some large quality of life changes for the developer) https://github.com/Kethku/neovide/pull/292 (this solves a build related issue, which may or may not affect your work).

@Kethku any other blockers?

[2020-05-17 15:21] theniceboy opened #295 "Remap macOS Command key"
With Iterm2, I had my `command` key remapped to `ctrl`. I wonder if this is achievable in neovide. I have used this layout for years, but I really appreciate the speed and the awesome appearance (especially that smooth cursor) that neovide provides. I'm sorry for the dup if there's already a solution, but I have not found one. Please help!

![](https://media1.giphy.com/media/kVag2hXLxG4cjFmdSM/gip

[2020-05-17 15:59] alexozer opened #296 "Does not launch on Windows"
I've built Neovide on my Windows 10 system and when I run neovide.exe, nothing appears to happen. No window pops up or anything. Running from the terminal produces no logs either, let me know if there's a way to get more verbose log output.

I'm using a Radeon RX 570 with the latest driver.

[2020-05-18 00:40] j4qfrost commented on #296
Can you run the program with --log?

[2020-05-18 06:19] Kethku commented on #293
proportional fonts are fundamentally not supported in vim. Until and when we get an upstream change that allows text to not be on a strict grid, this can't be supported in a neovim gui. Unfortunately that means I'm going to close this because I don't think it will ever happen :(

[2020-05-18 06:19] #293 closed

[2020-05-18 06:20] Kethku commented on #295
I'm not sure if I understand. Was this change done at the vim level or in some iterm2 config?

[2020-05-18 16:18] theniceboy commented on #295
Yes, that was an Iterm2 settings
![Screen Shot 2020-05-18 at 12 17 43 PM](https://user-images.githubusercontent.com/8187501/82236073-9611fe00-9901-11ea-9f5e-235a1392f7fe.png)

[2020-05-18 18:28] alexozer commented on #296
Hm, it seems like reinstalling neovim through chocolately did the trick. Not clear it was ever out-of-date or anything though.

[2020-05-18 18:28] #296 closed

[2020-05-18 21:20] j4qfrost commented on #296
It probably means that you were missing a dependency. Would you mind building the project and telling me if it worked? It would be greatly appreciated @alexozer

[2020-05-19 04:01] alexozer commented on #296
I originally built this project from source, and it just wouldn't launch until I reinstalled neovim through chocolately. Let me know if there's something else you'd like me to do besides building this project though.

[2020-05-19 04:04] Kethku commented on #295
Hmmm. I'm not sure. I could probably add a remap setting... Might make life easier for some layout handling too...

[2020-05-19 07:34] j4qfrost commented on #296
So chocolatey probably fixed the issue, because you were lacking the appropriate dependencies. The installed binary for neovide probably works, but I want to confirm that ```cargo run``` works, because there might be a chance that there is a problem that was introduced in code. I want to try to narrow down whether it was a dependency issue or a code issue. If ```cargo run``` works, then we're all

[2020-05-19 07:37] j4qfrost commented on #295
I had thought this was an issue that could be solved via neovim settings.

[2020-05-20 05:42] Kethku commented on #295
It should be I think, but can't be done right now. I'll think about what the best option is

[2020-05-20 17:36] oliverdain opened #297 "neovide isn't executable in the macos.app bundle"
Download app and unzip. Then:

[code]

To fix mark the `neovide` executable as executable:

[code]

success!

[2020-05-21 02:22] j4qfrost commented on #297
Closing in favor of https://github.com/Kethku/neovide/issues/294

[2020-05-21 02:22] #297 closed

[2020-05-21 08:41] j4qfrost commented on #294
https://github.com/Kethku/neovide/issues/167 attaching a related issue.

[2020-05-21 19:15] ZoomRmc opened #298 "Provide fallback DPI routines for Windows < W10. [FR]"
At the moment neovide fails to launch on Windows 7 since USER32.dll there lacks "SetProcessDpiAwarenessContext". A fallback or an option to launch without HiDPI support would be much appreciated.

If it's not in align with project goals, minimal required Windows version needs to be stated in project's description.

[2020-05-23 13:45] spencerwooo opened #299 "Emoji rendering issue under Windows 10"
I'm using neovide 0.5.0 under Windows 10 2004. (As the latest 0.6.0 has some issues with CJK rendering.) I found that neovide doesn't render Emojis inside neovim's terminal as expected.

If I spawn a PowerShell terminal inside neovide with `:split term://powershell`, the emoji that I manually added into my PowerShell `$PROFILE` doesn't render properly.

![image](https://user-images.githubuserconte

[2020-05-24 04:37] jrop commented on #288
I just wanted to chime in that I am seeing the exact same behavior on a brand new install of macOS 10.15.4.  It being a brand new install, I pulled the latest of this repo, built from scratch, and saw this font-rendering bug.

Love this project, BTW, @Kethku!  Thanks for developing it!

[2020-05-24 09:27] SirJson commented on #288
@jrop Do you have a Macbook with a Nvidia or AMD GPU, or one with only the Intel GPU?

[2020-05-24 13:51] jrop commented on #288
@SirJson I have a MacBook Pro, and a Mac Mini, but only the Mac Mini (Intel graphics) exhibits this behavior (I double-checked also that they are both on the latest of `master`):

* MacBook Pro: Radeon Pro 444X 4GB
* Mac Mini: Intel UHD Graphics 630 1536 MB

[2020-05-24 23:57] sirpxl commented on #285
@j4qfrost I also experience the same issue of neovide crashing in Windows 10, and added the `debug!("{:?}", event);` to the window.rs and recompiled the program.
There is no output when launching the program from my shell. I also re-ran the program with the `--log` flag and it created this [log file](https://pastebin.com/raw/LV2Q7hUS)

@Kethku If it helps, I have in my system a 1660 ti and a Ryzen

[2020-05-25 21:24] Kethku commented on #285
Any chanced your graphics driver isn't updated? I'm not sure what else would be causing this...

Do the skulpin https://github.com/aclysma/skulpin examples work?