[2020-05-25 21:26] Kethku commented on #288
I'm guessing this is bad driver compatibility. How did you install vulkan to run on the mac mini?

[2020-05-25 21:27] Kethku commented on #294
I think this has been attempted in the past via cargo-bundle. Unfortunately I'm very much not an expert, so I'd need someone else to do the investigation. Otherwise I will implement it eventually, it just might take a bit

[2020-05-25 21:27] Kethku commented on #298
Ah yes. This shouldn't be a very difficult fix.

[2020-05-25 21:29] Kethku commented on #299
Do the emoji render properly in terminal for other guis? This feels like a limitation of the terminal feature overall

[2020-05-25 21:45] benweedon commented on #294
I'm in the process of working on it now. Hopefully next weekend I'll fork the repo and put a branch up.

[2020-05-25 21:51] Kethku commented on #294
Very cool! Thanks a bunch. If its helpful, it looks like wezterm has a workable solution https://wezfurlong.org/wezterm/installation.html

[2020-05-25 23:35] jrop commented on #288
@Kethku via the brew tap/brew install command listed in the README

[2020-05-26 01:57] spencerwooo commented on #299
So, I did some testing:

- neovim-qt

  ![image](https://user-images.githubusercontent.com/32114380/82852926-cd526180-9f36-11ea-95ac-7efcbf517fb4.png)

- fvim

  ![image](https://user-images.githubusercontent.com/32114380/82852989-f7a41f00-9f36-11ea-811e-2ca752068121.png)

I guess it's the terminal not rendering properly afterall.

[2020-05-26 01:59] Kethku commented on #299
Yeah this is an upstream issue.

[2020-05-26 01:59] #299 closed

[2020-05-26 15:10] SirJson commented on #288
While bad drivers could be the problem, my understanding is that Apple is commited to Metal which is what the Vulkan translation layer is using. No Nvidia support is something I would understand considering the history of both companies, but the Intel drivers shouldn't do this.

Also a few months ago neovide worked fine on my machine. Maybe Apple broke something in between? Or MoltenVK? All I know

[2020-05-26 15:22] jrop commented on #288
@SirJson that's a good idea, perhaps you and I should `git bisect` this.

[2020-05-26 15:32] SirJson commented on #288
@jrop Yea, guess I will see if I can find something, the thing is though I want to make sure that I'm using the same GPU for every test. gfxCardStatus used to be great for this but I think to remember that Apple broke it somehow and now it's up to the OS what GPU is used. That would make testing pretty unreliable.

Do you know if there is any update to that? I quite literary use my Mac only for ne

[2020-05-26 15:51] jrop commented on #288
I ran `git bisect` and it didn't really point to anything that made sense, so I tried another experiment: `cargo run` vs `cargo run --release` on the latest master, and now I don't see this bug at all 🤷 .

[2020-05-26 20:33] SirJson commented on #288
Is this on the Mac Mini? Because if that is on your Macbook you might experience the thing I was talking about, depending on how your OS feels like it may or may not choose your dgpu which will make a difference in finding the bug.

[2020-05-26 20:53] Kethku commented on #288
Interesting... neovide uses https://github.com/Kethku/neovide/blob/master/src/window.rs#L150 to tell the app to prefer integrated gpu. Maybe we will have to add a way to disable that

[2020-05-26 21:02] jrop commented on #288
@SirJson Yes this is on the Mac Mini.  Not sure what changed 🤷 .
@Kethku Interesting.  I would not have expected the integrated GPU to be preferred.  Now I want to try this on my Linux desktop: am I correct in assuming that my Nvidia card will not be used to render Neovide, but rather the integrated Intel graphics?

[2020-05-26 21:07] Kethku commented on #288
thats the idea. The reason is that integrated gpus are way more power efficient in general. This should be configurable ideally though

[2020-05-26 21:07] Kethku commented on #288
to be clear, it isn't today unfortunately. Wouldn't be hard to change however

[2020-05-26 21:20] Kethku commented on #73
Does neovide still segfault on :qa for linux? I cannot reproduce this on windows.

[2020-05-26 21:21] Kethku commented on #141
Is this still a thing? I will close if no response. I think this is fixed.

[2020-05-26 21:22] Kethku commented on #147
This is now fixed. Closing

[2020-05-26 21:22] #147 closed

[2020-05-26 21:23] Kethku commented on #185
I believe this was fixed by @exoticus @mrinterweb can you check and see if it is in reasonable ranges on mac now?

[2020-05-26 21:24] Kethku commented on #200
I'm going to close this for now as it is back in reasonable ranges.

[2020-05-26 21:24] #200 closed

[2020-05-26 21:25] Kethku commented on #218
I believe this is now fixed. @jotacosta can you check?

[2020-05-26 23:56] SirJson commented on #288
Save yourself the headache of driver issues and weirdness and make it configurable. That's the pain when you write software for PC's, you never know what the person is using and what his environment is. This might not always be the most user inclusive way but I think the group of people who are interested in vim can handle a config.

[2020-05-27 01:44] raaffaaeell commented on #298
Interesting issue, I have this exact problem on my Windows 8.1 install and I thought it was because my hardware wasnt supported (or bad drivers). I have a I7 4510u and a R7 M260.

(Offtopic) Neovide works for me on linux, but I keep getting a message "vulkan support on haswell is limited".

[2020-05-27 07:07] findNextStep opened #300 "under line be only red"
I add setting make every member function and var with underline and the underline only show as red
![image](https://user-images.githubusercontent.com/26270464/82988276-7a0e0b00-a02b-11ea-9de1-8701c7d2f487.png)
I set underline like
[code]
It show in terminal like
![image](https://user-images.githubusercontent.com/26270464/82988423-b5a8d500-a02b-11ea-9526-4d9df8e3d4e2.png)

[2020-05-27 07:21] j4qfrost commented on #300
I'm having some trouble understanding your issue. Is your problem that you want both colors to appear but for different cases or is one color showing when another should be?

[2020-05-27 07:24] findNextStep commented on #300
I think the underline color set by `gui=underline`should be same as the font color

[2020-05-27 07:38] j4qfrost commented on #300
Have you tried changing other settings? It could be applying the wrong configuration file. Also maybe try changing the color to #ffffff just to check and see that it's not some weird rendering issue.

[2020-05-27 08:03] findNextStep commented on #300
it seem that it just happen

![image](https://user-images.githubusercontent.com/26270464/82993585-6a92c000-a033-11ea-8805-beee7013d96b.png)
by the way i work on mac, compile with master branch

[2020-05-27 08:48] j4qfrost commented on #300
I've found the cause of the behavior discrepancy. It looks like the behavior for neovim is to make it so underline would always be the foreground color, but neovide handles this with a "special" color which is set to red. I am a beginner with vim, so I'm not sure how to configure the special value. This looks like a design decision by @Kethku, so I would sit tight for a response from him.

I think

[2020-05-27 13:48] kiuKisas commented on #141
Yeap, fixed :)

[2020-05-27 13:48] #141 closed

[2020-05-27 16:28] Kethku commented on #300
actually this is to spec. Neovim guis have the ability to set the underline color where terminals cannot. The special color is sent by neovim for this exact case.

You can change the underline or undercurl color by setting guisp for a given style

[2020-05-27 16:31] j4qfrost commented on #300
Should guisp default to foreground instead of red then?

[2020-05-27 16:36] Kethku commented on #300
That's an interesting point and I'm not sure. I'm sorta incline to look up what other guis do and emulate with the exception of neovim-qt which does it wrong

Thanks,
Keith
________________________________
From: j4qfrost <notifications@github.com>
Sent: Wednesday, May 27, 2020 9:32:13 AM
To: Kethku/neovide <neovide@noreply.github.com>
Cc: Keith Simmons <keith@the-simmons.net>; State change <state_

[2020-05-27 16:40] j4qfrost commented on #300
I like how it is now. I think this is more a feature than anything else. We could include a link to some vim configuration samples on the README. It would be a good way to explore quirks.

[2020-05-28 06:58] casperstorm opened #301 "Using Neovide on macOS"
Up until now I have been building the binary my self with `cargo run --release` and then used that binary with `neovide . &` – using the `&` so my terminal doesn't wait for `neovide` to return. This works.

However, then don't have the `Neovide` icon etc., so I thought I wanted to try the prebuilt `.app` on the [release](https://github.com/Kethku/neovide/releases) page. But that app just instantly

[2020-05-28 07:36] clason commented on #301
The executable for the actual binary in the package isn't set -- if you `cd` into `Neovide.app` from the terminal down until you find `neovide` and then `chmod +x neovide`, it works (after the usual security shenanigans on current macOS).

[2020-05-28 07:51] casperstorm commented on #301
I forgot to write that I've also tried this. No luck though.
Nothing to approve in Security & Privacy as some has mentioned in another issue as well.

[2020-05-28 07:52] j4qfrost commented on #301
I am currently investigating. We had solved a similar issue before, so I'll roll back to see where something might have broken.

[2020-05-28 07:53] clason commented on #301
You've got to try a few times, apparently, if the app isn't notarized. Have you tried launching from the command line (`./neovide` in the directory mentioned above)? That worked for me.

[2020-05-28 07:55] j4qfrost commented on #301
I can use the terminal just fine and ```open -a <full path>/Neovide.app``` works for me, but this behavior indicates a possible pathing issue.

[2020-05-28 07:56] casperstorm commented on #301
I would like to point out that I tried on 10.15.3 yesterday, had the same issue and then just updated to 10.15.5 this morning.

[2020-05-28 07:56] clason commented on #301
What's your macOS version? I just get `Unable to find application named 'Downloads/Neovide.app'`.

[2020-05-28 07:59] clason commented on #301
OK, now it works. I had to right-click to open multiple times and select "yes, really" (after setting the executable bit) for it to work.

So your issue is different from mine -- what's your machine (i.e., what GPU are you using)? It may be a driver issue.

[2020-05-28 08:01] casperstorm commented on #301
I've tested on both `10.15.3` and `10.15.5` – both doesn't work for me.

I have a Macbook Pro 16". AMD Radeon Pro 5500M dedicated GPU.

But since I can build the binary my self from `cargo run --release` it smells of a issue when you guys are building the releases, no?

[2020-05-28 08:07] j4qfrost commented on #301
There's some weird pathing behavior in OSX that causes this issue to happen for double clicking i.e. opening from the launcher as opposed to running neovide from terminal. The behavior is similar to this https://github.com/Kethku/neovide/issues/202

[2020-05-28 08:20] clason commented on #301
Yes, and it's not specific to Neovide (also happens for Goneovim, for example).

(Neovide also has problems with non-standard shells (fish), where the providers aren't picked up correctly (at all), but that's a different issue -- possibly related to pathing, which is why I mention it here.)

[2020-05-28 08:21] j4qfrost commented on #301
I'll write up a fix now, I narrowed it down to a commit that I pushed. I'll ping you guys in a bit.

[2020-05-28 08:25] casperstorm commented on #301
I just have a small follow up. I built it my self doing what you guys are doing in the github action:

[code]
This gave me a bundled `.app` which I can run.

[2020-05-28 09:43] casperstorm commented on #301
EDIT:
Okay guys, I have some more information here. This particular issue has nothing to do with the specific MacOS version, but something to do with the way you are linking dylib's.

The issue is that if you have installed vulkan frameworks yourself, and running the `Neovide.app` it will fail, because it does not know which vulkan dylib to choose because now you have two version of the vulkan dyl

[2020-05-28 09:57] j4qfrost commented on #301
```cargo bundle``` actually handles copying the necessary libraries into the .app; neovide works just before the bump from 0.5, so it is most likely not an issue with the library for you guys, and definitely not for me.

I just implemented a fix and can safely say that it isn't a library issue. As I suspected, my commit here https://github.com/Kethku/neovide/commit/b7b4e95ca97cc29933dd70f34c427422

[2020-05-28 10:04] j4qfrost commented on #301
https://github.com/Kethku/neovide/pull/302 @casperstorm @clason if you guys can confirm that this works, I'll merge it in. Run ```cargo bundle --release``` then ```chmod +x``` the binary inside.

[2020-05-28 11:00] casperstorm commented on #301
I am not quite sure what you are trying to achieve with that patch, @j4qfrost and also hardcoding the path to `nvim` does not seem like a proper solution. What if I have it somewhere else?

[code]
It should properly be a preference to select the path to it, at least.

I don't know what problem you are facing, but I am differently facing a libraries issue. You guys are doing a lot of strange stuff

[2020-05-28 11:31] j4qfrost commented on #301
This may very well be two separate issues, which present with the same faulty behaviors. I'm sorry I can't really say much else about the linking issue aside from "it works on my machine". I have Vulkan installed through brew.

Sorry, I actually overlooked your error the twice reading your comments:
[code]
I saw a problem as a nail and try to hammer it in. Anyway can you run something like this an

[2020-05-28 11:39] j4qfrost commented on #301
https://github.com/KhronosGroup/Vulkan-Loader/blob/master/loader/LoaderAndLayerInterface.md#icd-discovery-on-macos @casperstorm I'm curious about which of the locations you have on your machine. I have the manifest in /usr/local/share/vulkan/icd.d

[2020-05-28 12:20] casperstorm commented on #301
[code]

[2020-05-28 12:39] j4qfrost commented on #301
What's inside your /usr/local/share/vulkan/icd.d/MoltenVK_icd.json  file?

[2020-05-28 12:44] casperstorm commented on #301
[code]

[2020-05-28 13:57] j4qfrost commented on #301
Interesting, I have this line
```"library_path": "../../../lib/libMoltenVK.dylib", ```

[2020-05-28 13:59] casperstorm commented on #301
Hmm, not long again, a few weeks.
Have you tried to reinstall?

[2020-05-28 14:07] j4qfrost commented on #301
I just reran brew cask install apenngrace/vulkan/vulkan-sdk and the configuration file didn't change. Though neovide works just fine for me. No clue how our vulkan loader manifests diverged.

[2020-05-28 14:35] kirjavascript opened #303 "Ligatures broken after updating"
updated to the latest version of neovide-git and appear to be having a few font problems

here's my guifont and some example non-ligatures;

![broken font stuff](https://i.imgur.com/UxuVb9F.png)

I'm using the otf-nerd-fonts-fira-code AUR package, it all worked fine before upgrading and I haven't changed anything in my vimrc

upon closer inspection, it appears to have been caused by this commit:

[2020-05-29 06:11] nganhkhoa commented on #94
Sorry for the delay, I've been quite busy.
So I just looked up on Neovide implementation on command handling. I noticed that we are not buffering the user input and instead send directly to the underlying nvim process.

This will make control of handling custom user command harder in the future, so I just want to make sure I don't jump in and implement by myself.

The current implementation lies i

[2020-05-29 10:25] #303 closed

[2020-05-29 10:25] j4qfrost commented on #303
Merged.

[2020-05-29 17:07] sirpxl commented on #285
My drivers are already updated to the latest version.
When I ran `cargo run --example physics`, it produced this this [block of text](https://pastebin.com/raw/8yDfAtKp).

[2020-05-29 17:11] j4qfrost commented on #285
Have you updated your drivers? Looks like this thread might help https://steamcommunity.com/app/275850/discussions/0/3185654583874621079/?ctp=4

[2020-05-29 19:07] sirpxl commented on #285
Yes, I did update my drivers. I even downloaded the latest from NVIDIA, reinstalled and rebooted my computer, and the issue still persists.
Now, here's the real kicker. I found a (very crude) fix.
I went to my device manager, right-clicked and disabled the Display Adapter that uses my discrete GPU (1660 ti for my case)...AND IT WORKS!
But here's another thing I found after experimenting. If I were

[2020-05-29 20:18] j4qfrost commented on #285
That's bizarre. Did you reboot after enabling the discrete GPU? This still sounds like a driver issue to me, but I've never been good with hardware.

[2020-05-29 21:19] sirpxl commented on #285
Just tried it, and the UI is still really slow.

[2020-05-30 02:36] ssxwcz commented on #285
Neovide can be used normally when using the integrated graphics card, but now the Chinese display is wrong, and still can not input Chinese #125

![image](https://user-images.githubusercontent.com/43665491/83317721-38ff3c00-a261-11ea-8ced-b14155edb483.png)

![image](https://user-images.githubusercontent.com/43665491/83317731-4ddbcf80-a261-11ea-9b48-7b0e2377bb23.png)

[2020-05-30 02:41] j4qfrost commented on #285
@ssxwcz Just to clarify, was this working before and now that you've switched GPUs it doesn't or is this possibly a separate issue?

[2020-05-30 02:43] j4qfrost commented on #285
Sorry, I got the problems mixed up. Just remembered that your issue relates to an OS switch and not a GPU switch.

[2020-05-30 02:50] ssxwcz commented on #285
Thank you. I understand that when I try to select the video card used by neovide in the Windows Settings, it can be used normally. If the Settings are determined by Windows itself, neovide will not be able to start
![image](https://user-images.githubusercontent.com/43665491/83317912-14a45f00-a263-11ea-98c1-7c529e4e32b8.png)

[2020-05-30 02:51] ssxwcz commented on #285
My error, there was a problem with the Chinese input before I switched the graphics card, but the Chinese display was normal at the time

[2020-05-30 08:24] aj3423 opened #305 "support custom icon"
When open multiple different projects, they all shown as a white square in the task bar.
What about add a param like "neovide --icon /projectA.ico" ?

[2020-05-30 12:01] clason commented on #151
@yngman (@monofon) Thanks, that does fix the problem for typing in the buffer, but apparently not in the command line -- I still can't enter `:e ~/Documents` etc....

[2020-05-30 20:13] Kethku commented on #305
What platform? On my machine it shows the neovim icon. Something may be wrong with the release build?

[2020-05-31 07:35] aj3423 commented on #305
On Kali Linux, the latest master(2020.5.31), looks like
![neovide icon](https://user-images.githubusercontent.com/4710875/83347016-49441380-a354-11ea-8a7d-d4168859ac5c.png)

[2020-05-31 15:07] jamespotz commented on #291
@jsosulski have you tried to create a symlink?
**`sudo ln -T /usr/lib/libsndio.so.7.0 /usr/lib/libsndio.so.6.1`**

[2020-05-31 15:11] jamespotz commented on #305
@aj3423
You can use menulibre, and just select an icon you want to use. That's what I did with Arch.

[2020-05-31 18:30] aj3423 commented on #305
@jamespotz Thanks, unfortunately:
![menulibre](https://user-images.githubusercontent.com/4710875/83359756-d916ab80-a3ae-11ea-8662-490515fd1f09.png)

[2020-06-01 20:38] Supernerd11 opened #306 "Cannot build, results in linking errors."
Hello, I'm trying to build `neovide` (using `cargo build --release`), but the builing fails during linking with the following error: [It's quite long, so I put it in a paste](https://pastebin.com/kQqWUAhE). My platform is Linux & distro is Fedora 32. The reason I tried to build it myself is because the released binary depends on libsndio, which is missing from the Fedora package repositories.

I a

[2020-06-02 02:26] j4qfrost commented on #306
Are you on the latest master? I'll try to repro this in a VM tomorrow.

[2020-06-02 07:23] Supernerd11 commented on #306
I am running on the latest master.

[2020-06-02 08:20] jsosulski commented on #291
@jamespotz I just tried again with the current master. Now it works without any issues with libsndio.

@j4qfrost Later this week I can send a PR for installing on a fresh 20.04 Ubuntu system.

[2020-06-02 10:29] ishammahajan commented on #24
Thanks for the solution @Kethku ! If this were documented I think many people would find it easier.

[2020-06-02 10:47] ishammahajan commented on #301
I don't know if this will help, but this issue is strange because running `open ~/Downloads/Neovide.app` does open the app, but double clicking doesn't. I have replaced the binary inside with the one I built from the terminal, and removed the libraries present in `Contents/Frameworks` folder.

[2020-06-02 10:50] j4qfrost commented on #301
@ishammahajan try this branch https://github.com/Kethku/neovide/pull/302

I suspect that there are two separate problems being addressed in this thread. We should probably split this ticket soon.

[2020-06-02 11:13] clason commented on #306
Just wanted to add as a data point that I have the same issue on openSUSE Tumbleweed; installing `sndio` together with the headers didn't resolve it. (I haven't done the rest of my homework here, so this is not really a bug report...)

[2020-06-02 11:16] j4qfrost commented on #306
For sndio issues refer to this thread https://github.com/Kethku/neovide/issues/291

It appears that @Supernerd11 's issue is related to Wayland.

[2020-06-02 11:16] clason commented on #306
oops, sorry!

[2020-06-02 11:21] clason commented on #306
Just checked, I now do in fact have the same issue on openSUSE Tumbleweed (under X11, not Wayland).

[2020-06-02 11:24] j4qfrost commented on #306
@clason What I'm saying is that your issue might not fall under this ticket but the other one. Also refrain from deleting comments. It might cause confusion for others trying to diagnose on their own.

[2020-06-02 11:46] ishammahajan commented on #301
Thanks, that branch works! I'm a little curious though, how do the fixes in that branch make things work? The issue with having a full path to `nvim` was resolved earlier, right?

[2020-06-02 11:55] j4qfrost commented on #301
@ishammahajan I made the changes as an enhancement request from another user that would search through the PATH first in order to find where nvim was installed. The issue is that when launching from double-click PATH isn't set, but I overlooked that problem and didn't add a check in the case that no binary was found. In the branch that I linked, I add the check.

@casperstorm Have tried editing th

[2020-06-02 11:57] ishammahajan commented on #301
Thanks @j4qfrost for the answer and all your work on this :)

[2020-06-03 02:45] chrisbouchard commented on #306
I've tried this with the latest master in the latest nightly and latest stable, and both produce the same error as in the issue. Also on Fedora 32.

[2020-06-03 09:07] bsander commented on #301
Not sure how related this is, but with #302 I can double-click the Neovide app now and get it working, but coc.nvim starts complaining about not being able to find node, and indeed the `$PATH` variable does not contain any of my regular path extensions (like `/usr/local/bin` for homebrew). Is there any way to deal with that?

[2020-06-03 09:23] clason commented on #301
I suspect neovide doesn't properly pickup on the default (login) shell settings. I see the following behavior:

1. opening `./neovide` inside the app from the terminal, everything works fine;
2. double-clicking the app in Finder and running `:checkhealth`, I get
[code]
(not sure where `fish` is picked up from -- I set this as shell in the terminal, not as login shell through Preferences).

[2020-06-03 11:50] aseyboldt commented on #306
Same issue for me, I'm on arch linux, using gnome with wayland.

[2020-06-03 13:34] j4qfrost commented on #301
@clason you're correct, here's an explanation https://stackoverflow.com/questions/8918685/mac-app-crashes-from-finder-but-runs-inside-terminal

@bsander Can you open up another issue for this? I know how to fix the problem, but this is starting to lose focus a bit, because the issue was a bit generic to begin with.

@casperstorm Also it would be helpful if you change open up another issue to speci

[2020-06-03 13:38] bsander opened #308 "MacOS app bundle doesn't respect $PATH"
Since #301 was adressed in master I can double-click the Neovide app now and get it working, but coc.nvim starts complaining about not being able to find node, and indeed the $PATH variable does not contain any of my regular path extensions (like /usr/local/bin for homebrew).  Also `:checkhealth` is complaining about missing commands. Is there any way to deal with that?

[2020-06-03 15:33] Supernerd11 commented on #306
I would note that I am actually running Xorg, not Wayland.

On Wed, 3 Jun 2020, 13:50 Adrian Seyboldt, <notifications@github.com> wrote:

[2020-06-04 19:45] j4qfrost commented on #306
It looks like the issue may be linked (pun intended) to gcc. It took a bit of digging, but I found this issue https://github.com/onivim/oni2/issues/1778 This makes sense, because on more stable distros we've been able to successfully build the project.

I won't have access to my linux machine for a week, so it would be great if someone else would continue the investigation on this.

[2020-06-04 19:47] clason commented on #306
I have indeed set the default compiler to gcc 10 (I know, I know); I didn't realize this was relevant for a rust project... I have access to my linux machine via ssh and would be happy to test things.

[2020-06-04 21:33] j4qfrost commented on #306
No worries. It's good to address this, Arch Linux users tend to be on the
bleeding edge, so this helps cover them. I'll look into adding more OS's to
the CI.

On Thu, Jun 4, 2020, 12:47 PM Christian Clason <notifications@github.com>
wrote:

[2020-06-06 13:36] j4qfrost commented on #308
Is there a way to bake a default PATH into neovim? In order to set the PATH variable with the source code, we would need access to the PATH variable before runtime, so something would need to be hardcoded somewhere to point at the desired PATH. There is a way to set this if the user bundles the application locally, but any bundle we create won't know each individual's working environment looks lik

[2020-06-07 09:06] bsander commented on #308
Couldn't you spawn the user's default shell and capture its `$PATH`? something like ```exec $SHELL -c 'echo $PATH'```? Or even launch the nvim instance through that shell so that the path will be set like normal?

[2020-06-07 09:10] j4qfrost commented on #308
The underlying problem is that PATH is defined, but it's not the user PATH.
What I think it is is the root PATH, so it wouldn't point to the desired
binaries.

On Sun, Jun 7, 2020, 2:06 AM Sander Bouwhuis <notifications@github.com>
wrote:

[2020-06-08 00:35] j4qfrost commented on #308
@bsander sorry I was a bit busy but I though about it and you might be right. I'll try implementing tonight.

[2020-06-08 13:23] j4qfrost commented on #308
@bsander The way you suggest doesn't seem to work, but since https://github.com/alacritty/alacritty seemed to get it to work, I took a look at how they were getting the home directory for the user. Here's a simple library that does that https://github.com/dirs-dev/dirs-rs. I'm not sure why the project has been archived. Sit tight for a solution.

[2020-06-09 10:06] quantumfruit commented on #298
I would much appreciate that fix as I am on Windows 7 SP1.

[2020-06-09 13:43] j4qfrost commented on #308
@bsander #309 is ready for testing and code-quality critiques.

As for the checkhealth issue I am not versed enough in nvim itself to address this issue. I am not sure what messages you are getting, but mine seem to be benign warnings. There should be instructions on how to resolve them.

[2020-06-10 03:58] raaffaaeell commented on #308
I see that you mentioned this library and it seems to be indeed inactive, I saw a reddit post about a fork to continue work on it, people were mostly excited

https://github.com/xdg-rs/dirs

[2020-06-10 08:22] casperstorm commented on #301
I'll make a note, dig into it and re-open one. Feel free to close this when ready. Sorry for long delay in response.

[2020-06-10 12:11] insipx opened #310 "Neovide starting with Height and Width of 0"
Not sure why this happens, just installed yesterday, thought it didn't work until I resized the tiny black line in the middle of my screen. Here are the log files:

https://pastebin.com/PHPDPhSz

[2020-06-11 09:26] nganhkhoa commented on #94
Oh yes, I didn't notice that `rpcnotify` can be used to generate request. I will register this command and add in `bridge/handler.rs`. Will implement when I have time though.

[2020-06-11 10:13] j4qfrost commented on #306
With the help of @clason we have found that building with ```CFLAGS="-fcommon -fPIE"``` succeeds but requires some testing with an actually screen. I won't be able to test this immediately, so you guys are free to do so.

[2020-06-11 21:50] nganhkhoa commented on #94
It quite messy, but I got the first lines of code ready. I have to setup a client in neovim using `set_client_info` to have the channel id for rpcnotify. Then retrieve the channel id by parsing the `get_list_chans`. I was able to receive the command in `BRIDGE/handler.rs` now. Now I need to check the admin rights. If it goes well, we have the feature semi-complete by the end of this week.

[2020-06-12 12:25] bsander commented on #308
Thanks for the fix, seems to work great!

[2020-06-14 00:45] mudassir-ahmed commented on #245
Same issue on

```Linux ubuntu-workstation 5.4.0-37-generic #41-Ubuntu SMP Wed Jun 3 18:57:02 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux```

Any fixes?

[2020-06-14 01:19] chrisbouchard commented on #306
Ok, with that environment variable and the latest stable Rust (1.44.0) I was able to compile and run. (Though I am still seeing #213 &mdash; initial window sized to 0x0.)

[2020-06-14 01:51] chrisbouchard commented on #213
Finally got some time to look at this some more. I added some debugging output in `WindowWrapper::new`, and it looks relevant. I haven't dug further yet; just wanted to update.

[code]

Looks like it's something to do with fonts.

[2020-06-14 02:02] chrisbouchard commented on #213
I dug a little more, and it looks like `renderer.font_width` is derived from the default font, which on Linux is

[code]

I don't think I have that installed on my system, so I wonder if that's where the NaN is coming from.

If we set a font in `init.vim` or `ginit.vim`, it would be great if Neovide could use that font for window sizing.

[2020-06-14 02:08] chrisbouchard commented on #213
Just to confirm, I changed that font definition to my preferred (installed) monospace font:

[code]
Then the window opened sized as expected.

[2020-06-14 14:04] PicoJr commented on #306
@chrisbouchard how did you set `CFLAGS`? I tried to set it via `build.rs`

[code]

rust: `v1.44.0`
neovide: 34643464
os: Arch
gcc: gcc (GCC) 10.1.0
wm: i3
Kernel: 5.7.2-arch1-1

But still no success compiling neovide =/

[2020-06-14 14:46] clason commented on #306
just as an environment variable: `CFLAGS="-fcommon -fPIE" cargo build` (assuming bash)

[2020-06-14 14:47] PicoJr commented on #306
@clason thanks, I'll try that

[2020-06-14 15:00] clason commented on #306
works for me (openSUSE Tumbleweed, gcc 10.1.1, rust 1.43.0, both debug and release). Maybe you need to clean first?

[2020-06-14 15:01] insipx commented on #310
This actually seems to be tied with the Pop!_OS default desktop environment (gnome3)

Using the cinammon-desktop-environment neovide starts in a normal window

[2020-06-14 15:10] aseyboldt commented on #306
Removing target and then building with CFLAGS="-fcommon -fPIE" worked for me as well. (arch linux)

[2020-06-14 15:13] PicoJr commented on #306
@aseyboldt thanks, I'll try, I didn't remove `target/` folder.

I use sccache btw.

[2020-06-14 16:32] PicoJr commented on #251
Hello, I had the same issue, neovide was starting completely blank.
I managed to get some text displayed by configuring the `guifont`:

init.vim:

[code]

[2020-06-14 16:52] j4qfrost commented on #306
@PicoJr I had the same idea of adding the flags via build.rs, but the problem lies upstream. I'm checking the dependencies now.

[2020-06-15 10:57] clason commented on #306
I just got back in front of my linux machine and can confirm that the build in fact works.

[2020-06-15 20:39] max-lv commented on #74
I had similar error:
[code]
And just as @rainerborene, I've solved this by installing vulkan drivers.

My system is:
[code]
and CPU is Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz

I've installed vulkan drivers via:
[code]
After that neovide worked immediately without reboot.

[2020-06-15 22:14] j4qfrost commented on #306
Closing this since the issue should be resolved upstream.

[2020-06-16 01:44] j4qfrost commented on #310
This problem may be related to this https://github.com/Kethku/neovide/issues/213

[2020-06-16 01:54] j4qfrost commented on #306
Actually, I'll leave this open for visibility until the upstream change is integrated.

[2020-06-16 04:56] pickfire commented on #74
@max-lv Vulkan is not supported on older devices.

[code]
I already have `vulkan-intel` installed and my CPU is Intel(R) Core(TM) i7-2620M CPU @ 2.70GHz.

[2020-06-16 04:59] j4qfrost commented on #74
@pickfire So does neovide work for you or does it not?

[2020-06-16 07:00] pickfire commented on #125
@ddadaal I believe you mean **preedit area** rather than candidate box. The one that you showed is on-the-spot preedit which is rare, usually people use over-the-spot preedit method.

[2020-06-16 07:34] pickfire commented on #74
No, I failed to build from source with some SDL linking issue but I guess the build won't work too since vulkan does not work on my device.

[2020-06-16 14:06] j4qfrost commented on #74
Your system looks more than capable of running Vulkan, though you haven't provided your GPU or the linking error. Arch Linux has a fairly high curve for setting up Vulkan, since there are several different packages you need to install.

[2020-06-16 16:34] roflolilolmao opened #313 "Missing input events"
### Description
Rapidly inputting key strokes often results in missing strokes.

### Expected behaviour
All key strokes, be it by hand or macros, should get to the text editor.

### Steps to reproduce
Either mash your keyboard or use external macro software (such as AutoHotKey).

For example, mashing 'aoeu' together results in:

In gvim, this would result in:

### Environment
Windows 10 build 1909

[2020-06-16 16:36] j4qfrost commented on #313
@Kethku Is this caused by the animation?

[2020-06-16 17:38] Kethku commented on #313
I don’t think so. It’s likely either a race condition or something weird about the keyboard handling. Extra weirdly I don’t really encounter the described frequency. So I’m not sure what is going on here

[2020-06-16 17:54] j4qfrost commented on #313
@roflolilolmao You were right https://github.com/Kethku/neovide/pull/314

[2020-06-16 20:36] roflolilolmao commented on #313
This might be bad wording on my end: I don't actually encounter it that much by regular typing but my AutoHotKey macros work about 10% of the time. Since they are important to my workflow, I'm not really sure I can switch to neovide just yet, which is a shame because it looks really good.

[2020-06-16 20:37] j4qfrost commented on #313
@roflolilolmao Can you check that my pull request works for you?

[2020-06-16 22:38] roflolilolmao commented on #313
I have tried compiling it myself this afternoon but LLVM was not being cooperative so I gave up. I'll give it another shot tomorrow. Thanks

[2020-06-16 23:18] j4qfrost commented on #313
Were you using just the binary release before? When you're ready to try again, ping me on gitter.

[2020-06-17 01:07] j4qfrost commented on #313
Or you can use this https://github.com/j4qfrost/neovide/suites/805035516/artifacts/8725885

[2020-06-17 08:52] pickfire commented on #74
[code]
Intel HD Graphics 3000

[2020-06-17 13:51] j4qfrost commented on #74
Do you mean this linking issue? https://github.com/Kethku/neovide/issues/306

[2020-06-17 14:40] roflolilolmao commented on #313
On #314, by hitting several keys at once or using a macro, I get all strokes. However, space and some shifted keys are duplicated or otherwise output weirdly.

I hit all my keys once, without modifiers, then shifted, in both my main layout and qwerty. Here is the output:
[code]

We can clearly see that the spaces are duplicated and the shifted keys behave weirdly. I don't know how inputs should be

[2020-06-17 15:48] pickfire commented on #74
@j4qfrost Probably, I build from 4643464. Yes, I checked the gpuinfo from arch wiki link also didn't found anything related to Intel HD Graphics 3000.

[2020-06-17 19:32] j4qfrost commented on #306
The upstream branch has be merged, if you get ```relocation R_X86_64_32 against `.text' can not be used when making a PIE object; recompile with -fPIE``` do ```CFLAGS=-fPIE cargo run```

[2020-06-17 19:32] #306 closed

[2020-06-17 21:32] j4qfrost commented on #313
@roflolilolmao Thanks for the detailed response. I forgot the special characters, and looking back at what I wrote, it's a disgusting hack.

@Kethku What's the history behind this https://github.com/Kethku/neovide/blob/1892073c8a222e6dfd30039e7f691440533deeb5/src/bridge/layouts/mod.rs#L105 Is it necessary? I think if we get rid of this an start processing the TextEditing event instead, that would

[2020-06-17 21:57] noamcore commented on #185
Here seems ok now

[2020-06-18 10:16] emiliaza commented on #218
Latest `master` still exhibits the issue on my high DPI display (macOS).

[2020-06-18 16:40] j4qfrost commented on #218
A temporary fix was setting the scaling to 1, but the core issue was said to be upstream. I can investigate a fix if there are more Mac users with the problem.

@emiliaza can you give me your machine specs?

[2020-06-18 20:46] emiliaza commented on #218
It's a 16" MBP with 6 cores i7, 16GB ram, radeon 5300M/intel UHD graphics 630.

[2020-06-19 02:07] Kethku commented on #313
the problem with textediting event is that it doesn't work modifiers held down :( so we are stuck using the manual layouts until we either swap back to winit, or consider another platform such as druid

[2020-06-19 02:07] Kethku commented on #313
Basically we have to use some weird hacked together combination of the two events. Its a mess

[2020-06-21 07:42] yanganto opened #315 "Can not build in Archlinux"
Hi, I am Arch Linux user and interested in this project, but it can not build with Aur [neovide-git](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=neovide-git) or manually build with `cargo build --release`

Is there any dependency or environment setting missing?
Thanks.

Here is the error message is shown when building with cargo
[code]

[2020-06-21 07:45] j4qfrost commented on #315
https://github.com/Kethku/neovide/issues/306 You might be running into that. I have been working on another project but will look into updating the aur package this week. It will be my first time getting something all nice and tidy for arch.

[2020-06-21 07:53] yanganto commented on #315
I am a neovim and Archlinux daily user.  If this is a good for first issue, I am willing to help.  You can just leave some notes for me, and I will try to fix this.  Thanks for the response so quickly.

[2020-06-21 07:56] #315 closed

[2020-06-21 07:57] j4qfrost commented on #315
Did that fix your issue? I'm just guessing because the error messages look similar.

[2020-06-21 08:02] yanganto commented on #315
Not sure. I am a little sorry to open a duplicate issue, so I close this quick. ^^"
I will try about 4 hours later if it is a different problem I will reopen this with much clear log.

[2020-06-21 15:40] yanganto commented on #315
The build is passed with the following command
```CFLAGS="-fcommon -fPIE" cargo build```
I will help to fix aur script tomorrow.  Thanks.  :)

[2020-06-21 20:20] prabirshrestha commented on #94
I was looking into cleaningup my dotfiles and I noticed that I have an `.inf` file that allows you to install explorer dropdown as well as add it to control panel. https://github.com/prabirshrestha/dotfiles/blob/3b3a1079e7a3505a1e34eeb0922ba09c1fd10d23/Console2Here.inf

You can right click the `.inf` and click "Install" in windows.

[2020-06-21 20:25] nganhkhoa commented on #94
@prabirshrestha this seems interesting, but the file is hardcoded with the path. If we can generate the file and ask the user to click it though. But the feature I added is almost complete, only admin check and error reporting left. So this might not be used, but thanks for your suggestion.

[2020-06-25 06:08] alexozer opened #317 "Basic appearance settings"
Hi, I just have a couple basic questions on how to change some appearance settings.

First off, I think the cursor animation looks really cool, but I'd prefer to disable it for casual use. Is there any way to disable it in all modes? I notice that typing seems to have pretty low latency for Windows in insert mode with cursor animation disabled, it would be nice to see that everywhere.

Second of a

[2020-06-25 20:55] Kethku commented on #317
1. For now the way to turn it off for everything is via the animation length config https://github.com/Kethku/neovide/wiki/Configuration#animation-length

Setting that value to zero should turn off the animation (baring any bugs :P)

2. Those were taken earlier in development when we were still using winit for windowing. We will likely go back to winit but for now we are using sdl2. I'm not sure b

[2020-06-25 22:16] alexozer commented on #317
Gotcha, thanks for the response. Not sure I'd have time to look too deeply into SDL at the moment but maybe in the future.

[2020-06-25 23:15] Kethku commented on #317
Closing for now

[2020-06-25 23:15] #317 closed

[2020-06-29 06:24] mrinterweb commented on #185
@Kethku sorry for the delayed response. I just built the latest, and I can no longer reproduce the issue. I'm going to close this issue. Thank you for addressing this.

[2020-06-29 06:24] #185 closed

[2020-06-30 14:52] mborejdo commented on #218
I am also experiencing the "mouse offset" problem on a mbp

Hardware Overview:

      Model Name: MacBook Pro
      Model Identifier: MacBookPro15,1
      Processor Name: 8-Core Intel Core i9
      Processor Speed: 2,3 GHz
      Number of Processors: 1
      Total Number of Cores: 8
      L2 Cache (per Core): 256 KB
      L3 Cache: 16 MB
      Hyper-Threading Technology: Enabled
      Memory: 16 G

[2020-07-02 11:54] pbartyik opened #318 "g:neovide_transparency ignored under wayland"
I'm trying to achieve transparency under sway/wayland. As per #178 I'm trying to set g:neovide_transparency but it has no effect.
![example1](https://user-images.githubusercontent.com/39059618/86355734-6fb6e080-bc6b-11ea-8a55-4dce7ca39330.png)

The top window is running nvim within a terminal. Is there a way to accomplish the same transparency?

[2020-07-02 16:24] pbartyik commented on #313
This is present on linux as well, happy to help with testing.

[2020-07-04 13:27] kerolloz opened #319 "file is not opened - no width or height window"
[code]
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/36763164/86513468-d8888f00-be0a-11ea-803a-a9df616f6c47.gif)

[2020-07-04 21:25] j4qfrost commented on #319
There's a temporary fix here I think https://github.com/Kethku/neovide/issues/310

[2020-07-07 06:55] Kethku commented on #318
This may be a limitation in sdl2 under wayland

[2020-07-07 06:57] Kethku commented on #318
Yup https://wiki.libsdl.org/SDL_SetWindowOpacity this says that it is only supported in "DirectFB, X11, Cocoa (Apple Mac OS X) and Microsoft Windows" so this is not going to be possible until we swap windowing systems. I'm going to close this as we will get the feature for free once we switch.

[2020-07-07 06:57] #318 closed

[2020-07-07 06:59] Kethku commented on #94
@nganhkhoa i think the PR you created got merged. Is this in?

[2020-07-07 06:59] Kethku commented on #94
Ah no I'm an idiot. It still says WIP

[2020-07-07 07:01] nganhkhoa commented on #94
I would need to make the tokio to block the error message to merge. If the code fail it will output the error message on neovim.

[2020-07-07 07:19] j4qfrost commented on #313
@roflolilolmao @pbartyik Does this fix your issue? https://github.com/Kethku/neovide/pull/322

[2020-07-07 07:52] pbartyik commented on #313
nope. spamming ":bp" yields

bppppppppppppp
p:pp:pppp
ppp:ppp

[2020-07-08 12:28] PitcherTear22 opened #323 "Readme install instructions"
You have GitHub Actions set up, so I think this should be changed to "get the latest and greatest from actions."

[2020-07-08 13:01] PitcherTear22 commented on #323
Ok so I get this when I try to run the one from actions: https://del.dog/creryvorew.txt
Now I don't know if this is a bug or I'm not supposed to use the binary from actions

[2020-07-08 13:09] PitcherTear22 commented on #323
OS-arch linux
Installed [`libsndio-61-compat`](https://aur.archlinux.org/packages/libsndio-61-compat) because even the one in releases wont run without this (tried normal [`sndio`](https://www.archlinux.org/packages/community/x86_64/sndio/)

[2020-07-08 13:15] PitcherTear22 commented on #323
Also the one in actions is 3 times smaller (35MB) than the one in releases (109MB)

[2020-07-08 13:25] p00f opened #324 "[request] GUI components"
**I don't know if this is in scope**, but "external GUI" components would be nice, like completion popup, command pallete, tanline, error messages etc.

(I don't think this is related to #233 because a GUI popup would have a scrollbar)

[2020-07-08 17:47] PitcherTear22 commented on #75
@wbthomason Can you share your sidebar and statusline details (plugin+config)

Sorry for the spam

[2020-07-09 04:08] svermeulen commented on #300
Why is nvim-qt wrong for using the foreground color for guisp?

[2020-07-09 04:17] svermeulen commented on #300
I'm not sure what is technically correct according to nvim spec, but I definitely prefer foreground color for this.  I think hard coding it to red will not look right in certain color schemes

[2020-07-09 04:36] wbthomason commented on #75
@PitcherTear22: I don’t actually use that statusline config anymore, but it was adapted from https://github.com/elenapan/dotfiles/blob/master/config/nvim/statusline.vim

You can see my current config files at https://github.com/wbthomason/dotfiles/tree/linux/neovim/.config/nvim; if you’re specifically interested in the statusline and sign config, those are mostly in:
- https://github.com/wbthomaso

[2020-07-13 00:24] j4qfrost commented on #323
Sorry, both @Kethku and I have been a bit busy, I'll investigate some of these issues. Are you running into the crash with the most recent build? The arch distro tends to break often.

[2020-07-13 04:19] PitcherTear22 commented on #323
Sorry for the confusing wording, the release works fine but the build from github actions does not

[2020-07-13 06:01] Kethku commented on #324
The struggle for me here is that its not obvious how to implement such features in a way that isn't just different for different sake. I'd be happy with such an improvement if it was demonstrably better, but I haven't seen external gui components that really achieve that.

I'd love to hear ideas though

[2020-07-13 06:02] Kethku commented on #323
I think this is part of why we are using the releases as a form of "stable" while the github actions tend to fluctuate more and be closer to develop.

[2020-07-13 07:09] PitcherTear22 commented on #324
An external command pallete/messages would not clear messages when you enter command mode

[2020-07-13 12:27] sohaibjkhan opened #325 "Can't build using "cargo build --release" windows 10."
Kinda new to all this but here's the error:

[code]

Not posting to pastebin so it can be used in the future. I really want the animated cursor.

[2020-07-13 12:49] PitcherTear22 commented on #324
Also indent guides are super duper useful

[2020-07-13 17:37] Kethku commented on #325
Did you try the release build? It may just work without having to build yourself.

[2020-07-13 21:30] sohaibjkhan commented on #325
Alright, I've got it now. Thanks!

For people like me:
add `C:\Program Files\Neovim\bin` and just run the executable. The animated cursor is worth not building it manually.

[2020-07-13 21:30] #325 closed

[2020-07-13 21:56] j4qfrost commented on #323
@PitcherTear22 so with regard to your crash, the fix is to install ```ttf-droid```, since we default to using Droid Sans Mono. afterwards run ```fc-cache```. If you are running an nvdia graphics card and are getting a vulkan initialization error then try this ```export VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/nvidia_icd.json``` With regard to the sndio issue, that is a bit of an SDL compatibility

[2020-07-14 00:19] PitcherTear22 commented on #323
Thanks!

[2020-07-14 03:59] PitcherTear22 commented on #323
Yeah but building from source would be unstable too right? I'm saying

[2020-07-14 04:16] j4qfrost commented on #323
@PitcherTear22 well sometimes hotfixes come in, which means source might have fewer bugs. For arch specifically, I have only recently started tackling some of the issues and arch packages update more frequently and there are a number of blind spots that open up as a result.

[2020-07-14 04:23] PitcherTear22 commented on #323
So this closes it ig

[2020-07-14 04:23] #323 closed

[2020-07-16 13:00] gasacchi opened #326 "set transparency not working"
try to set transparency but there is issue:
[code]
nothing change
and if i try to set guibg to none got black background instead
also i try to set opacity with picom nothing change.

i'm running manjaro i3..

[2020-07-17 02:12] chrisbouchard commented on #319
I think this is also related to #213. There's a possibly simpler workaround for now: install Droid Sans Mono.

[2020-07-17 02:34] chrisbouchard commented on #213
New behavior with this one. Now, if Droid Sans Mono is not installed I get the following stack trace:

[code]

After installing the font, Neovide opens correctly (with a non-zero size). Uninstalling the font brings back the stack trace.

[2020-07-17 02:37] j4qfrost commented on #213
I'm wondering if my merge request caused the issue https://github.com/Kethku/neovide/pull/312, can you rollback before that to confirm? @chrisbouchard

[2020-07-17 02:40] chrisbouchard commented on #213
I've rolled back to 4b58dfcc (the previous commit) and I'm building now.

[2020-07-17 02:47] chrisbouchard commented on #213
Rolling back to 4b58dfcc does fix the stack trace, but the window is still 0×0 unless I install Droid Sans Mono.

[2020-07-17 02:47] chrisbouchard commented on #213
I could make a separate issue for the stack trace if you'd like.

[2020-07-17 03:00] j4qfrost commented on #213
Yeah, I'll get on that tonight or tomorrow. Looks like I made an oopsie.

[2020-07-17 09:55] l1nxy commented on #125
@Kethku Do you start support IME? i want to contribute and maybe i can fix this bug.

I dont how to make windows ime  candidate box display with sdl2. it seems catch the ime event?

[2020-07-18 00:49] Kethku commented on #125
I have not started on it really. I would be happy if someone would take on fixing it though. SDL2 does seem to support the feature at least partially. Docs for the feature are here: https://wiki.libsdl.org/Tutorials/TextInput and I believe it should be pretty similar in the rust bindings.

[2020-07-18 00:50] Kethku commented on #326
https://wiki.libsdl.org/SDL_SetWindowOpacity

The feature is only supported in some setups.

[2020-07-18 00:50] #326 closed

[2020-07-18 05:47] p00f opened #327 "Font weight possibly not standard"
1) Fallback doesn't work
2) Italic works for some fonts but doesn't for others

3)

-  Fonts are bolder - see text in tilix vs neovide
-  Fonts ~~are wider~~ have more spacing - see tabline in tilix vs neovide

![Screenshot from 2020-07-18 11-13-27](https://user-images.githubusercontent.com/36493671/87845755-bcdfb700-c8e7-11ea-86a8-d2cae78f449b.png)

4) Letters are not in the same horizontal level

[2020-07-18 06:00] PitcherTear22 commented on #327
OS - arch linux
Version - https://github.com/Kethku/neovide/actions/runs/160252742

[2020-07-19 08:15] l1nxy commented on #125
There is some problem with SDL2 IME  event, because neovide catch all key input by  key_down event ,but if we input by IME,it will produce key_down event and text_input event both. so i think we could not deal all  input by key_down, or maybe we need a  trigger to control input event, it could not always active but it should be opened when user swith some non-english IME.
If neovode deal input eve

[2020-07-19 08:23] l1nxy commented on #125
Maybe we can open textinput event when neovide switch to insert mode, and close textinput evnet when quit insert mode. do you guys have any idea?

[2020-07-19 09:56] pickfire commented on #125
@l1nxy I think it is better to ping people that write IME. I had change some code in the past regarding interfacing with IME but it's in linux, I bet other platforms are different.

[2020-07-19 21:02] Kethku commented on #125
Another option would be to revive the winit windowing system and see if it's support of ime is better

[2020-07-21 07:08] TobiasDev commented on #289
I have a similar issue to this. When I try to do something like cd E:\Go\To\This\Folder I can't actually do \ because when I type that one it automatically adds ^ infront of it. So it looks like ^\, which then doesn't work.
![grafik](https://user-images.githubusercontent.com/5912371/88023660-b80e4380-cb31-11ea-873a-7b35edd72721.png)

I'm on Windows 10 and using NeoVide.

[2020-07-22 06:00] TobiasDev commented on #289
I should mention that this is with a Swedish keyboard on a german language computer. Because I believe it's the keyboard breaking it. Maybe a Swedish \ is different than in other languages.

[2020-07-22 06:00] lonkaars commented on #327
![image](https://user-images.githubusercontent.com/32883851/88139927-fe76a780-cbf0-11ea-86f8-ac63eb8c80ad.png)
JetBrainsMono NF
![image](https://user-images.githubusercontent.com/32883851/88139991-2960fb80-cbf1-11ea-9f9d-e55ff222baef.png)
FiraCode NF

I have the same issue but it only seems to happen when I use JetBrains Mono as my font. I'm also on Arch Linux

[2020-07-22 09:59] diefans commented on #289
Strange thing for me: I can write `\` in command mode, so there must be some difference in key handling for command mode, insert mode, normal mode, etc

if I enter insert mode and press `<c-v>\` I get `<M-Bslash>` which might be wrong, since other editors e.g. neovim-qt just result in `\`

[2020-07-22 14:24] iacchus commented on #209
In Archlinux I've built from AUR but needed to install `vulkan-intel` package (via pacman) to fix this error.

Awesome GUI btw, very good proof-of-concept.

[2020-07-22 14:45] PitcherTear22 commented on #327
Hmm that fixes the "not same horizontal level" problem, but the other problems are still there (using Roboto Mono)
![Screenshot from 2020-07-22 20-13-46](https://user-images.githubusercontent.com/36493671/88190601-17667380-cc58-11ea-80c9-f0da8784ce49.png)

[2020-07-22 18:11] PitcherTear22 commented on #327
Changed "wider" to "more spaced" in the top comment

[2020-07-23 11:43] lonkaars commented on #327
Font kerning is something you might be able to change in your terminal emulator of choice. Regular fonts have embedded kerning information because the glyphs have different widths, but monospaced fonts don't have different widths. I use st as my terminal and don't notice any difference apart from the horizontal alignment issue

[2020-07-23 12:30] PitcherTear22 commented on #327
Yeah but the problem is in neovide not terminal - gnome terminal, tilix and konsole all do it properly

[2020-07-27 15:23] TobiasDev commented on #289
What keyboard do you use? E.g. is it like for me where you have "Swedish" or something else rather than english. Because I wonder if it something language specific since they have different names for some keys.

[2020-07-27 17:25] diefans commented on #289
german

[2020-07-27 17:38] Kethku commented on #327
This sounds like the font in question reports metrics differently than we expect. Let me go track down where that is computed

[2020-07-27 17:47] Kethku commented on #327
https://github.com/Kethku/neovide/blob/master/src/renderer/caching_shaper.rs#L312 this is where the system takes some text and turns it into a shaped text blob which we can actually render. I suppose its possible that your font does something weird requiring vertical kerning as well as horizontal. That would likely explain the vertical positioning issue.

Italic inline is probably just something t

[2020-07-27 19:11] Kethku commented on #300
nvim-qt doesn't pay attention to guisp (at least when I looked last) so its incorrect in the sense that it doesn't pay attention to the special color at all.

note that we don't hard code the underline to red. It is given to us by the style from the neovim process.

[2020-07-27 19:13] Kethku commented on #300
In fact we default to grey not red. Vim is setting the special color to red not us. https://github.com/Kethku/neovide/blob/master/src/editor/mod.rs#L56

[2020-07-28 06:18] TobiasDev commented on #289
Yeah, I think then we might have narrowed down the issue a bit more. Not sure if this was already know by you @Kethku?

Sadly I haven't ever touched Rust, otherwise I would look into it myself since I really enjoy using this NeoVim client (it is just a lot faster than all other I have tested. :D)

[2020-07-28 06:39] Kethku commented on #289
This is unfortunately a frustrating limitation of sdl text input. Unfortunately I'm not super familiar with alternate keyboard layouts. However there is a mechanism for this: https://github.com/Kethku/neovide/blob/master/src/bridge/layouts/qwerty.rs As an example, this is how we handle all of the keyboard inputs for the qwerty layout. I would greatly appreciate it if you guys could add layouts for

[2020-07-28 07:19] TobiasDev commented on #289
Ah, okay, I'll look if I can get some time to add that for my Swedish Layout!

[2020-07-30 00:47] kdurant opened #328 "Can't input and display Chinese"
As topic

[2020-07-30 20:54] Kethku commented on #328
repeat https://github.com/Kethku/neovide/issues/125

[2020-07-30 20:54] #328 closed

[2020-08-01 16:57] d1hasib opened #329 "Terminal buffer's stdout breaks if Neovide is not opened from another terminal"
When Neovide is launched from application menu (e.g. rofi) or from keyboard key (e.g. sxhkd) other than a terminal, the built in terminal buffer can not display stdout text properly.
![1596293066](https://user-images.githubusercontent.com/38419114/89106070-9d4ca080-d448-11ea-9dc5-5e72cbe6520e.png)
(figure01- left: alacritty (idle), right- neovide (from rofi))

But if it is launched from another te

[2020-08-01 21:47] Kethku commented on #329
Do other guis for neovim exhibit similar behaviour? I don't understand how this could possibly be on our side... Maybe try in neovim-qt as well?

[2020-08-02 01:51] d1hasib commented on #329
@Kethku I have tried `neovim-qt` after facing this issue. But it has not that kind of problem.
But there is some font scaling issue (Maybe it is in `neovide`) - with the same font size configuration (:h22) Neovide's font is usable (like screenshot), but in `neovim-qt`, it is way more bigger. I have also tried `goneovim`, and it's font size matches with `neovim-qt` but not with `neovide`. I don't t

[2020-08-04 14:09] alexozer opened #330 "Drag-and-drop files no longer works"
Previously it was possible to drag-and-drop a file into the neovide window to open it, but it seems like this is no longer possible on 0.5.0. Is this due to SDL2? Will it be re-implemented?

[2020-08-07 09:55] Mechap opened #331 "neovide with nvim-qt"
How do I manage to run neovide with nvim-qt instead of nvim ?

[2020-08-07 19:16] Kethku commented on #331
I'm sorry, but I don't understand your question.

nvim-qt is a frontend for neovim. Neovide is an alternate frontend for neovim. The two solve the same purpose, so I don't understand what running neovide with nvim-qt instead of nvim means. Can you elaborate?

[2020-08-10 04:20] Kethku commented on #331
I'm gonna close this as the question doesn't really make sense.

[2020-08-10 04:20] #331 closed

[2020-08-11 18:50] GopherJ opened #332 "index out of bounds: the len is 0 but the index is 0"
➜  neovide git:(master) neovide
thread 'main' panicked at 'index out of bounds: the len is 0 but the index is 0', /home/cheng/.cargo/git/checkouts/skribo-3c422fce25a33836/6a8d5b7/src/collection.rs:130:32
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

[2020-08-11 18:51] GopherJ commented on #332
Hi, I would like to try but had this issue.

I installed through `cargo install --git https://github.com/Kethku/neovide`

[2020-08-11 19:03] keithsim-msft commented on #332
what is guifont set to in your vim config?

[2020-08-11 19:07] Kethku commented on #332
What guifont do you have set in your vim config?

[2020-08-11 20:51] GopherJ commented on #332
@Kethku Hi it's here https://github.com/GopherJ/cfg/blob/225b0b40c68b9de33e23eaee527debe7e3cf4680/coc/.vimrc#L7

[2020-08-11 22:17] Kethku commented on #332
can you give some details about your os? Does the released version have the same issue? Can you try setting RUST_BACKTRACE environment variable like the message suggests?

[2020-08-11 22:18] Kethku commented on #330
yes this is due to winit. Drag and drop is only implemented for some platforms in sdl2. Eventually we may bring back support for winit in which case it should again work.

[2020-08-12 03:40] VladimirMarkelov opened #333 "How neovide calculates width and height of its window?"
Two laptops with Windows 10 (one is 2004 another one is 19xx) use the same neovide binary downloaded from releases.
First laptop has 100% scaling(no scaling due to rather low resolution). The second laptop uses 175% scaling. On the first laptop when I pass  `--geometry=120x50`, neovide opens with the same size - that is great. On the second laptop I had to go trial-and-error way. Eventually I real

[2020-08-12 08:43] GopherJ commented on #332
@Kethku HI, I use linux mint cinamon 19.3

[2020-08-12 08:48] GopherJ commented on #332
[code]

[2020-08-12 13:48] sangwonl commented on #332
same issue here.

os: WSL2 ubuntu 18.04

[code]

[2020-08-15 08:30] nganhkhoa commented on #327
I don't know if I should add into the issue, or create a new one. Here's what I found about font fallback.

This `break` here

https://github.com/Kethku/neovide/blob/d406cf6c3154090cf3056b0d21fe850af2c49b88/src/renderer/caching_shaper.rs#L195-L202

stops the processing of font fallbacks. If loaded successfully with `guifont=Font\ 1, Font\ 2:h14`, `font_name` will iterate through the list of fonts.

[2020-08-16 22:06] VictorRogers commented on #332
I've got this same issue too with some additional information. I installed this on both my desktop (nvidia gpu) and my lenovo t460 (intel) via yay. On my desktop, neovide ran without any issues, but my laptop produced the same error as above when building the package with yay. On the laptop, I was able to pull the release version in with yay. The release version will start successfully, but all of

[2020-08-16 23:10] Kethku commented on #332
Can you also give some details about your install? What os are you using?

[2020-08-18 21:50] Kethku commented on #333
Couple points:

1. You can specialize your config by looking for the existence of the g:neovide variable which gets declared on startup.
2. The resolution jump is likely a bug which has to do with the dpi handling. What happens is that the window is initialized with the font settings on startup ignoring the dpi. Then the window adjusts to the dpi settings when it first renders and attempts to keep

[2020-08-18 21:52] Kethku commented on #333
As with most of the dpi related issues on this project, they got demonstrably worse when we switched to sdl2. I think we may switch back in the not too distant future (or at least provide builds for both), so its possible that this problem will just go away when we swap back. Hard to tell.

[2020-08-18 22:09] VladimirMarkelov commented on #333
Thanks for the explanation. At this moment it is not a big issue as most of the time I use neovide on my laptop with 100% scale. So, it is not urgent at all. Though, it is good to know that the issue can be fixed(even if it won't happen soon).

[2020-08-18 22:31] VladimirMarkelov commented on #333
As neovide creates a windows with about `150x50` charaters when I pass `--geometry=300x100`, I think, neovide's calculation is incorrect.

Though, I am not sure about neovim-qt. When I started using it I failed to find how to make it open a windows with a given size(it ignored col&row settings from vim config) , so I just added `call GuiWindowMaximized(1)` to `ginit.vim`. It was not ideal but it w

[2020-08-19 02:51] VictorRogers commented on #332
@Kethku Arch Linux on the laptop and on my Desktop. Works on desktop but not on Laptop. I'll try to dig around for some logs on the laptop here soon.

[2020-08-19 20:48] j4qfrost commented on #333
Sorry, been mia due to a borked machine (again). I think I might have a scaling solution in my snake branch, I'll see if this resolves the problem.

[2020-08-23 20:31] p00f commented on #327
^(pls decrease font weight/add an option. point no 3, subpoint 1)

[2020-08-23 21:27] j4qfrost commented on #327
@p00f aaa shoot I closed it prematurely.

[2020-08-24 07:45] Kethku opened #335 "Split up bridge\mod.rs file"
Currently the bridge\mod.rs file is in charge of N different things:

1. Constructing the command to start neovim
2. Registering commands for adding and removing windows context menu integration
3. Starting the neovim process
4. Calling various startup commands (load ginit, set client info, set neovide variable, set rgb
5. Spawning the tokio runtime and initializing the command handler

I think 3,

[2020-08-24 07:46] Kethku commented on #335
NOTE: this is just a reminder for me

[2020-08-24 12:23] j4qfrost commented on #335
I'd been thinking that we can replace the bridge with an off the shelf event emitter. I was shopping around for one for another project of mine. It mitigates some of the workload and helps promote componentization.

[2020-08-24 13:26] wuzzapcom commented on #308
@j4qfrost, the issue is not solved completely. I use neovide for golang development and for some project I need environment variable `$GOPATH`.
If I start `neovide` from my terminal(I use `zsh`):
[code]
If I start `neovide` from Finder:
[code]

As I see in #309, only `$PATH` is considered. It would be great if all values from `~/.profile` would be considered by neovide. I suppose that `printenv` m

[2020-08-24 14:37] j4qfrost commented on #308
https://github.com/Kethku/neovide/blob/c63dcbdf042d8c177e6419aada637b1819549506/src/main.rs#L43 to be perfectly honest I don't remember why I have ```echo $PATH``` at the end of the command. I'll check to see if printenv works.

[2020-08-24 16:02] j4qfrost commented on #308
@wuzzapcom This should close out the issue. Thanks for catching.

[2020-08-24 21:02] Kethku commented on #313
In that case I believe we will need to hold off on this until we can provide a winit backed build.

[2020-08-25 01:09] andrwj opened #338 "guifont acts differently, accordint to the compile option"
The following setting produces as if the variable width font, if neovide is compiled with **--release** option.
But **guifont** works correctly without the option.

```set guifont=Noto\ Sans\ Mono\ CJK\ KR:h15```

**guifont** works correctly for macOS 10.14, but After upgrading to macOS 10.15 the weird result comes out.

The font is from [Google Fonts](https://noto-website-2.storage.googleapis.com

[2020-08-25 03:45] Kethku commented on #338
Can you give a screenshot of what it looks like?

[2020-08-25 03:51] andrwj commented on #338
@Kethku  sure

![guifont-acts-weirdly](https://user-images.githubusercontent.com/259207/91120907-a6d8c980-e6d1-11ea-91b6-7171d6cb28e6.png)

[2020-08-25 04:01] j4qfrost commented on #338
That's the randomization solution kicking. It means that the system can't
find the Noto font.

On Mon, Aug 24, 2020, 8:51 PM A.J <notifications@github.com> wrote:

[2020-08-25 04:03] j4qfrost commented on #338
Did you pull recently?

[2020-08-25 04:52] andrwj commented on #338
@j4qfrost   yes, always.

[2020-08-25 05:06] j4qfrost commented on #338
Can you send your hardware specs? This might be related to dpi.

[2020-08-25 05:21] andrwj commented on #338
@j4qfrost  thank you for asking me.

[code]

crop from [https://www.sven.de/dpi/](https://www.sven.de/dpi/)
<img width="1090" alt="DPI" src="https://user-images.githubusercontent.com/259207/91126072-1bb20080-e6de-11ea-96b1-3717a696c150.png">

[2020-08-25 05:38] Kethku commented on #335
Id love to outsource to an event emitter. I'm nervous though because it has to do a couple things to really work. It has to be able to queue up events and then release them synchronously. Further, it has to work well with async. Those two requirements mean it might be difficult to find something workable. That said, it would be lovely to just have a centralized authority for such things. I haven't

[2020-08-25 07:08] Kethku commented on #338
@j4qfrost I'm not so sure these are different fonts. THey look like the characters render the same, but are spaced differently...

[2020-08-25 07:12] andrwj commented on #338
@Kethku  that's what I said. The characters rendered with different space.  But it's a same font.

[2020-08-25 07:12] wuzzapcom commented on #308
@j4qfrost thank you, everything works as expected now!

[2020-08-25 10:22] guillaume-tessier-cbp opened #340 "Full screen F11 does not work (Windows 10)"
Neovide window can toggle maximise and minimize.

However, **full screen (F11 key) does not work** : window decoration + Windows 10 start bar are visible.

It could be great to have a real full screen to optimize screen space.

Platform : Windows 10
Neovide release : 0.6.0 from release file.
Nvim 0.4.4

[2020-08-25 14:07] j4qfrost commented on #338
Yeah, I made a comment in my grogginess that I though they were different
fonts and deleted it. Not sure why the spacing is off.

On Tue, Aug 25, 2020, 12:12 AM A.J <notifications@github.com> wrote:

[2020-08-25 18:08] Kethku commented on #340
Can you try toggling fullscreen like this: https://github.com/Kethku/neovide/wiki/Configuration#fullscreen

[2020-08-26 03:11] Kethku commented on #340
I'm gonna close this because fullscreen is supported

[2020-08-26 03:11] #340 closed

[2020-08-26 13:16] guillaume-tessier-cbp commented on #340
Indeed, it works when using this instruction in vim.init.
However, it keeps Neovide in full-screen.
It's not possible to minimize it afterward. Screen is locked with Neovide full screen.

Usually, man would toggle in between those modes:
- minimize/maximize app with top right menu on window decoration,
- maximize/fullscreen with the F11 key

[2020-08-26 18:17] guillaume-tessier-cbp commented on #340
Actually, thanks to this, I just wrote my very first vim function to toggle full-screen and map it to F11 :wink:

[2020-08-26 20:11] Kethku commented on #340
In general this is the preferable way to handle hotkeys. F11 makes sense on windows, but on other platforms it does not. So wherever possible I like to give the users the tools and let them configure it however they want.

[2020-08-27 02:11] oxysoft opened #341 "Option to disable cursor animation when jumping to/from command line"
Just tried out Neovide today; it's awesome! I'm really fond of the cursor animation, however I find the jumps to and from the command line quite jarring. For example I have `<C-s>` mapped to `:wa<cr>` and this pretty much results in a streak of light across my screen whenever I hit save. (along with other mapped commands)

Cheers!

[2020-08-27 07:17] guillaume-tessier-cbp commented on #340
Actually, I thought this would not even be the app developer to care about this.
Indeed, this is very coupled with the window manager (Gnome, KDE, windows...).
And of course, you do not want to be opiniated at binding user keys (one of the thing I love in Neovide is its pristine vim experience... and this amazing fluidity in displaying typed character !!!)

Therefore, I thought wathever key full-s

[2020-08-27 18:41] guillaume-tessier-cbp commented on #151
Got the same problem with Neovide on Windows 10.
I found a trick to overcome this issue.

I read [this](https://vim.fandom.com/wiki/Mapping_keys_in_Vim_-_Tutorial_(Part_2)) and remapped key strokes that would not work properly.

For exemple, if backslash does not work:

1- go insert mode
2- type  `<Ctrl-V>` followed by the key stroke of backslash (`<ALTGr-8>` on a french keyboard).
3- this would o

[2020-08-28 00:01] oxysoft opened #342 "Add support for background images"
I think given that Neovide supports crazy vfx and cursor animations, it wouldn't be too out of place to support background images as well. A good use case is to set a faint and soft tiling pattern at low opacity which can be very sexy! For example a pattern like this:

![image](https://user-images.githubusercontent.com/3945277/91506278-bd348000-e89f-11ea-9673-e119402627b5.png)

Bonus point if ther

[2020-08-28 03:56] Kethku commented on #327
@p00f I would love any assistance or investigation you might be able to contribute. https://github.com/Kethku/neovide/issues/327#issuecomment-664542895 gives a pretty comprehensive description of the moving parts.

The specifics of font weight are largely default from skia. That said, if there is a way to configure font weight in skia, adding settings for such a thing would be pretty easy.

[2020-08-28 03:58] Kethku commented on #329
@j4qfrost recently merged some changes to path setup on startup. Could you pull and try again?

[2020-08-28 04:04] Kethku commented on #295
@j4qfrost I feel like this is outside the scope of a neovim gui. What do you think? Seems like something autohotkey or karabiner would be used for.

[2020-08-28 04:05] Kethku commented on #291
So wait... Does that mean that this is fixed?

[2020-08-28 04:08] Kethku commented on #288
@SirJson are things still borked for your setup? I'll look into adding a setting like you say.

[2020-08-28 05:14] p00f commented on #327
Vertical alignment has been fixed ig

[2020-08-28 05:23] p00f commented on #327
oof i just asked them not to close the issue

[2020-08-28 06:49] Kethku commented on #327
Did not intend to close this. Its fine if you don't want to help or contribute, but it may be a bit before we get to font tweaking as there are other bugs and features to complete. Let me know if you do end up poking around

[2020-08-28 07:58] p00f commented on #327
I'll start contributing after exactly one month.

[2020-08-28 08:23] uhuntu commented on #125
I am running ubuntu 20.04, but I even can not swich IME to enter chinese

[2020-08-28 11:38] pickfire commented on #125
@uhuntu Are you using gnome waylang or gnome xorg?

[2020-08-28 11:48] d1hasib commented on #329
I have installed and tested the `neovide-git` version from AUR. But the issue is still there.

[2020-08-28 12:14] SirJson commented on #288
It's hit-and-miss on all platforms for me to the point where I wish to have an option to use a baked in font.

What I found on Windows is that to even have any chance I need to use the monospaced version of the Font I want to use. Or at least the font file is registered as monospace. Also, I have to make sure that I only have this version on my system and not any other version.

I think the last t

[2020-08-28 12:23] j4qfrost commented on #329
The path setup changes I had made were for Mac. I'll look into it for
Linux. Sorry wasn't aware of this ticket.

On Fri, Aug 28, 2020, 4:48 AM Dewan Hasibul Hasan <notifications@github.com>
wrote:

[2020-08-28 12:26] j4qfrost commented on #291
Yeah, I think I held off closing, because I wanted to wait for instruction
to install for Ubuntu. It would actually be nice if we could include an
install script.

On Thu, Aug 27, 2020, 9:05 PM Keith Simmons <notifications@github.com>
wrote:

[2020-08-28 12:34] j4qfrost commented on #295
I would defer to someone with more experience in this. My intuition is that
we shouldn't support this, and it's not really a bug. We could possibly
expose the keybindings in the future, but I would still hold off until we
have stable support for winit. So I guess leave the issue open for now.

On Thu, Aug 27, 2020, 9:04 PM Keith Simmons <notifications@github.com>
wrote:

[2020-08-29 03:04] chrisbouchard commented on #213
Just an update: the required font is now Noto Sans Mono as of a871f92005406df8a052b3f39c2adc26aa5c459e &mdash; same sizing behavior otherwise.

[2020-08-30 20:35] KillTheMule commented on #86
It's been some time, but could you try https://github.com/Kethku/neovide/pull/344 to see if that fixes the issue, too? I'd be really grateful :)

[2020-08-30 21:51] TornaxO7 opened #345 "Font can't be loaded."
OS: Arch Linux
![Screenshot](https://user-images.githubusercontent.com/50843046/91670220-ad28d480-eb1b-11ea-8e34-25f992e267eb.png)
As you can see I'm using `Hack Nerd Font Bold 20` and it's even "activated" but the bars on the top and on the bottom don't show any glyphs. They are shown in `gvim`. <br>
I'm using the `neoclide-git` from the AUR.

My `~/.vim/vimrc` (the necessary part):
[code]

[2020-08-30 22:52] TornaxO7 opened #346 "Pressing `\` puts back to normal mode."
OS: Arch Linux
Using: neovide-git

Keyboard-layout: german (de)
To press backslash `\` I need to press this keycombination: `Alt gr` + `ß` but it throws me back to normal mode.

[2020-08-31 00:24] uhuntu commented on #125
xorg

[2020-08-31 07:24] Lightosk commented on #346
Experiencing this, too. I've seen in the screenshots the maintainer uses Windows. This is most likely due to Windows and MacOSX/Linux having different sequences for Alt Gr. On Windows Alt Gr is the same as Alt + Ctrl. On Linux it is a completely own key.

[2020-08-31 19:33] Kethku commented on #125
I have confirmed that IME is not supported today in winit. This bodes poorly :(

[2020-08-31 19:35] j4qfrost commented on #125
There's one function that exists to set the location of the IME box, but yea not much else.

[2020-08-31 21:39] Kethku commented on #345
The guifont format is incorrect.

[code]

might work better

[2020-08-31 21:39] #345 closed

[2020-08-31 21:40] Kethku commented on #346
This is a repeat of https://github.com/Kethku/neovide/issues/151

[2020-08-31 21:40] #346 closed

[2020-08-31 21:42] TornaxO7 commented on #345
Cool thank! Now it's big enough but how can I set the style?

[2020-08-31 21:47] Kethku commented on #345
There is not currently a way to set the weight globally, but individual syntax highlightings can set bold. For instance I see in your view that the NORMAL in the bottom is bold due to the highlighting there.

[2020-08-31 21:50] TornaxO7 commented on #345
Ok, thank you!

[2020-09-01 09:19] uhuntu commented on #125
#348

[2020-09-01 16:43] Hamzailer opened #349 "Neovide wont start"
When I try to start neovide it doesent run when I tried to run to by terminal I get this:

X Error of failed request:  BadDrawable (invalid Pixmap or Window parameter)
  Major opcode of failed request:  149 ()
  Minor opcode of failed request:  4
  Resource id in failed request:  0xbc0000c
  Serial number of failed request:  242
  Current serial number in output stream:  250

[2020-09-01 16:44] j4qfrost commented on #349
OS and hardware?

[2020-09-01 16:45] Kethku commented on #349
Can you give some details about your system? Do you have the Vulcan dependencies and or do the upstream skulpin examples work on your machine?

[2020-09-01 17:32] Hamzailer commented on #349
system info:

System:    Host: hamzailer Kernel: 5.8.3-2-MANJARO x86_64 bits: 64 Desktop: KDE Plasma 5.19.4
           Distro: Manjaro Linux
Machine:   Type: Desktop System: HP product: HP Pavilion Desktop 590-p0xxx v: N/A
           serial: <superuser/root required>
           Mobo: HP model: 8433 v: 11 serial: <superuser/root required> UEFI: AMI v: F.40
           date: 10/31/2019
CPU:       Top

[2020-09-01 17:56] j4qfrost commented on #349
Seems to be a similar setup to mine. Though I haven't run into this error before. @Hamzailer have you had neovide working before? Did you install from source or aur?

[2020-09-01 17:58] Hamzailer commented on #349
No it hasnt worked before and I got it from the AUR also I'm sorry right now as Its really late and i need to sleep but if you do need more info please do comment it I will reply in the morning

[2020-09-01 18:02] j4qfrost commented on #349
When you get the chance, try installing from source and see if it works. Then, we can narrow down the cause.

[2020-09-01 21:17] jlugao commented on #50
I am having a similar problem. Whenever I type neovide followed by any command line argument on cmd neovide opens with a blank screen and closes.
Has anyone been able to run neovide on windows and connect to vim on wsl?

[2020-09-02 04:00] Hamzailer commented on #349
I tried to build from source but wasnt successful I guess i'll just stick with regular neovim thanks for trying to help

[2020-09-02 05:11] j4qfrost commented on #349
I still would like to figure out the root cause of this issue, not only to help fix it for you but also to get it running for other in the future. Though it's up to you whether you want to help me fix it, since I can't reproduce it myself. I'll leave this open for a while longer. Perhaps a driver issue? https://github.com/VCVRack/Rack/issues/115

[2020-09-02 06:32] Hamzailer commented on #349
ok sure lemme check

[2020-09-02 06:33] Hamzailer commented on #349
yes glxgears works and other open gl applications also work for me

[2020-09-02 06:36] uhuntu commented on #125
I think I found the root cause. https://github.com/rust-lang/cargo/issues/7914

So the command line would be:

[code]

[2020-09-02 06:40] Kethku commented on #125
I'm not sure I understand how this relates to the IME problem

[2020-09-02 06:41] Kethku commented on #349
neovide doesn't use opengl to render but instead uses vulkan which causes problems on many systems.

[2020-09-02 06:42] Kethku commented on #349
@j4qfrost  think this might be integrated vs discrete again?

[2020-09-02 06:44] Hamzailer commented on #349
that could be
i could try and delete prime drivers and try just decrete ones

[2020-09-02 06:45] Kethku commented on #349
The system is configured to prefer the integrated gpu. I think we should just swap this. It was originally done to improve battery life, but I'm not sure people care that much (and honestly it doesn't take thaaat much).

[2020-09-02 06:46] j4qfrost commented on #349
Possibly, there are a lot of weird issues having different vulkan installations too. The machine has both an Nvidia card and an AMD card, could be any number of things. Might even be that the machine needs a hard reset. Arch Linux is weird.

[2020-09-02 06:53] Hamzailer commented on #349
If it helps ive played games like dota 2 using vulkan and it worked perfectly

[2020-09-02 06:53] Kethku commented on #349
That seems to point toward the integrated vs not issue more. But what do I know. I'm not a linux expert :P

[2020-09-02 06:59] uhuntu commented on #125
You can see the PR I closed here: #350

The major trouble is the below statement run in Linux!
[code]

After studying the thread here: https://github.com/rust-lang/cargo/issues/1197
I realized that actually it was a long term bug.

In linux, if it go with ```features = ["bundled", "static-link"]```, the IME would not show.

[2020-09-02 15:05] j4qfrost commented on #125
Can you confirm that your changes enable IME to show? @Kethku I had previously removed the sdl2-sys build dependency, because I was having issues building with arch, but the removal is unnecessary, since you can fix it with CFLAGS=-fcommon. It was more an annoyance than a real bug. Is this an issue for Windows? I didn't notice because the CI was green.

[2020-09-04 12:24] Hamzailer commented on #349
Okay i figured it out it was just the prime drivers because when i tried the normal ones it worked

[2020-09-04 12:25] #349 closed

[2020-09-04 19:44] antaxiom opened #351 "DPI Handling with Window Manager"
I'm on a HDPi display (4k) and I'm using a window manager (I know, small niche) and neovide is basically unusable it's at the size 1080p would be but on a 4k display so It's unredable. I haven't seen any font scaling but I may be missing something, please tell me if that's the case.

[2020-09-04 19:53] Kethku commented on #351
you can specify the font size in the guifont. This effectively sets the zoom

[2020-09-04 19:54] Kethku commented on #351
Some linux window managers don't interact with sdl's dpi reporting properly. So for those cases it the font scaling has to be done manually

[2020-09-04 19:55] Kethku commented on #351
Can you tell me what platform you are running on so I can change the issue name to represent it?

[2020-09-04 19:55] antaxiom commented on #351
I'm sorry where exactly would the be or what command is it?

yeah I'm used to that

[2020-09-04 19:56] Kethku commented on #351
https://vim.fandom.com/wiki/Change_font

Neovide only supports the h{size} modifier currently

[2020-09-04 19:56] antaxiom commented on #351
Ah but this would change the size in all situations for nvim, not just neovide, is there some kind of check I can make so this only runs on neovide?

[2020-09-04 19:57] Kethku commented on #351
yes you can check if g:neovide is defined to specialize to it

[2020-09-04 19:58] Kethku commented on #351
g:neovide is set to v:true on startup

[2020-09-04 19:58] antaxiom commented on #351
Perfect, thanks if I end up using neovide I'll add it. Although I wish I could do the smooth cursor on the terminal. Thanks for all the hard work.

[2020-09-04 20:00] Kethku commented on #351
I use the built in vim terminal emulator ;)

[2020-09-04 20:04] Kethku commented on #351
Can you share details about your system so I can get a handle on what systems have the dpi issue?

[2020-09-04 21:17] antaxiom commented on #351
I'm not sure exactly what to say other than I use the dwm window manager, I set my DPI using xrandr, and I run a 4k display.

[2020-09-05 19:47] andrwj commented on #338
luckly **guifont** option started to work again well even it is comiled with `--release`.
what I did is git pull and compile with the option. nothing more.

Neovide commit: `6db2b50569e0e3021a800bd724bc936c57db231b`

[code]

[2020-09-06 10:21] phaazon opened #352 "Issue when compiling with sdl2 + Vulkan"
I have installed `sdl2` (Archlinux) and I’m trying to compile with `cargo build --release`. I’m hitting these errors:

[cargo.txt](https://github.com/Kethku/neovide/files/5179430/cargo.txt)

[2020-09-06 13:01] PureFunctor opened #353 "Emoji on Linux builds"
I've recently built Neovide from source, specifically from commit [6db2b50](https://github.com/Kethku/neovide/commit/6db2b50569e0e3021a800bd724bc936c57db231b) on Manjaro and I've noticed that emoji don't seem to appear, e.g. the output from `mutmut` on Neovide compared to XFCE Terminal.
![image](https://user-images.githubusercontent.com/66708316/92326235-51ae9780-f083-11ea-94c3-4e0010cc5253.png)
!

[2020-09-06 14:13] j4qfrost commented on #352
There are two ways to fix this, remove the build dependencies for Windows
or build with CFLAGS=-fcommon. It's a weird bug.

On Sun, Sep 6, 2020, 3:21 AM Dimitri Sabadie <notifications@github.com>
wrote:

[2020-09-06 17:19] Kethku commented on #352
Seems like something we should report upstream maybe?

Thanks,
Keith
________________________________
From: j4qfrost <notifications@github.com>
Sent: Sunday, September 6, 2020 7:13:27 AM
To: Kethku/neovide <neovide@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Kethku/neovide] Issue when compiling with sdl2 + Vulkan (#352)

There are two ways to fix this, remove t

[2020-09-06 17:24] j4qfrost commented on #352
I’m not actually sure how to resolve this. I think it has to do with double importing sdl2. We do a cfg check for Windows when including sdl as a build dependency, but for some reason it’s still being injected into Arch Linux builds. This could be a bug in rust itself, but I’m still trying to articulate the issue.

[2020-09-07 00:10] phaazon commented on #352
I think it might be a regression, because I have a very typical issue with luminance, [here](https://github.com/phaazon/luminance-rs/issues/445) — I got the same kind of errors.

[2020-09-07 00:20] Kethku commented on #353
You can specify font fallback by setting multiple font names in your guifont configuration. Missing characters in the first font will be filled from the second etc. This way you can specify a font containing the missing characters and have things work as expected

[2020-09-07 00:20] j4qfrost commented on #352
Yeah, I wish we could inject CFLAGS through Cargo.toml. Would save me
headaches tracking down the issue. Though the issue you linked may have the
possibility of being unrelated.

On Sun, Sep 6, 2020, 5:10 PM Dimitri Sabadie <notifications@github.com>
wrote:

[2020-09-07 03:36] PureFunctor commented on #353
I've tried setting multiple fonts in my `guifont` configuration with the following setups:
[ttf-twemoji](https://aur.archlinux.org/packages/ttf-twemoji/) + `set guifont=FiraCode\ Nerd\ Font\ Mono,Twemoji`
[noto-fonts-emoji](https://www.archlinux.org/packages/extra/any/noto-fonts-emoji/) + `set guifont=FiraCode\ Nerd\ Font\ Mono,Noto\ Color\ Emoji`
[ttf-twemoji-color](https://aur.archlinux.org/pack

[2020-09-07 18:18] Kethku opened #354 "Add winit builds to actions output"

[2020-09-07 18:21] j4qfrost commented on #354
We might want to convert the build process into a matrix.

[2020-09-07 18:40] Kethku opened #355 "Document custom keyboard layout list and point issues to it"

[2020-09-07 18:53] Kethku commented on #355
It may be worth allowing configuration of the layout via a file. That way its easier for users to contribute and download configurations for their system

[2020-09-07 18:56] Kethku commented on #353
I'm not sure what might be going wrong there at least in principle the system should use your the default emoji font of https://github.com/Kethku/neovide/blob/master/src/renderer/caching_shaper.rs#L36

[2020-09-07 18:56] Kethku commented on #353
Oh you're on linux. Nvm

[2020-09-07 18:57] Kethku commented on #353
Is it possible that the name is wrong somehow?

[2020-09-07 22:52] SirJson commented on #288
Just wanted to give you guys an update: I've tested neovide today on Arch Linux and Font rendering and locating is now working flawlessly. It even picked up the Nerd Font Symbols without me specifying it which was odd but I guess 120% of a feature isn't something to complain about.

[2020-09-08 02:38] PureFunctor commented on #353
That doesn't seem to be the case, I've used `nvim-qt` to set the `guifont` using the graphical prompt and I was able to select `Noto Color Emoji` just fine:
![image](https://user-images.githubusercontent.com/66708316/92427410-fc77a080-f1be-11ea-880c-fe738e8cd325.png)
![image](https://user-images.githubusercontent.com/66708316/92427492-38ab0100-f1bf-11ea-94c1-232240ad2f3a.png)

The problem might be

[2020-09-08 18:07] lucypero opened #356 "How do I start neovide maximised in Windows?"
I have not found how to do this in the documentation, and the way to do it for `neovim-qt` does not work. Note that I do not mean `fullscreen`, I just want the window maximised.

[2020-09-08 18:16] j4qfrost commented on #356
I'm actually surprised that we don't have any code around this. Do you have a preferred use case? I have a couple ideas on how to implement this, but it would be nice to know your workflow more for the PR.

[2020-09-08 18:23] lucypero commented on #356
It could be a command argument like `neovide --maximized`. Or it could be set in one's `init.vim` or `ginit.vim` file.

For `neovim-qt`, what i do is write `call GuiWindowMaximized(1)` on `ginit.vim`.

[2020-09-08 19:34] Kethku commented on #356
Yeah defining a function which maximizes the window on call seems like the best way to do this.

[2020-09-08 19:35] Kethku commented on #353
guifont's usage is... flexible. I believe the docs for it just suggest a format and that the format changes from gui to gui. How it works in neovim-qt could very well (and I believe is) be different from neovide.

[2020-09-08 19:37] Kethku commented on #353
@j4qfrost any chance the default font is screwing this up? I don't know how the fallback works. Does the specified fallback list get prepended, or does the fallback add the default system fonts (including the emoji one) and then append any user specified fallback to that list?

If its the latter, it could be that the system font selected is rendering strangely and that is responsible for the issue

[2020-09-08 19:38] j4qfrost commented on #356
I'm looking into an SDL solution right now. Passing --maximized is the
easiest way to do this. I think at some point we need to slow down feature
implementation though. The window code is getting a bit messy.

On Tue, Sep 8, 2020, 12:34 PM Keith Simmons <notifications@github.com>
wrote:

[2020-09-08 19:40] Kethku commented on #356
I'm working on some significant refactoring that will help with that in my "multigrid" branch. Its not done yet though, but I agree. addressing the tech debt in both the window and the bridge are my next priorities after I merge multigrid

[2020-09-08 19:43] j4qfrost commented on #353
I'll double check the ordering. The fallback was set to choose a random system font if no valid option was listed. Where are the emojis located?

[2020-09-08 20:00] #94 closed

[2020-09-08 20:01] Kethku commented on #140
I'm going to close this as out of scope. I think this adds too much complexity for a niche use case

[2020-09-09 03:34] j4qfrost commented on #356
@lucypero https://github.com/Kethku/neovide/pull/357 this allows --maximized to be used.

[2020-09-10 03:47] uhuntu commented on #125
https://github.com/Rust-SDL2/rust-sdl2/pull/1025

[2020-09-10 22:09] Kethku commented on #125
On windows building sdl2 requires significant build tools which are not readily available on all machines. Further installing them breaks some other projects in my experience. So I had included the build dependency for static linking as a way to get around this.

Sounds like the issue on other platforms is getting fixed?

[2020-09-11 01:29] uhuntu commented on #125
Yes, there is a bug in SDL 2.0.10 https://github.com/Rust-SDL2/rust-sdl2/pull/1025#issuecomment-690712394

[2020-09-11 12:07] p00f commented on #353
I can confirm this issue on my system (archlinux)

[2020-09-11 12:19] p00f commented on #353
I think my system emoji font is also proper, my config - https://github.com/p00f/dotfiles/tree/main/fontconfig/.config/fontconfig/conf.d, which are the contents of my `~/.config/fontconfig/conf.d`

Emojis wouldn't work earlier in terminals because they had a lower priority, now they do

[2020-09-11 16:10] p00f commented on #353
Also, my `guifont` includes an emoji font, so this might not be a fallback issue at all (talking about the label)

[2020-09-11 21:58] p00f commented on #305
why are you running menulibre as root?

[2020-09-12 05:00] p00f commented on #324
Would you take a PR for this?
(I'll still try, even though I'm very sure I'm unqualified)

[2020-09-12 05:51] aj3423 commented on #305
Kali's default user is root, it's more convenient in most cases.

[2020-09-12 06:45] p00f commented on #305
makes sense, sorry

[2020-09-15 02:32] uhuntu opened #362 "Chinese on Windows"
![image](https://user-images.githubusercontent.com/4939569/93158390-964ec880-f73e-11ea-9ce9-db77bb1f4793.png)

Hi there, I would like to try neovide in Windows, but I realized that it can not show Chinese, any idea ?

[2020-09-15 02:45] j4qfrost commented on #356
Closing this issue, as I have made a quick hack. A better solution will hopefully present itself during a refactoring phase.

[2020-09-15 02:45] #356 closed

[2020-09-15 02:56] j4qfrost commented on #342
Hmm, wondering if we should add a "sexy" tag.

[2020-09-15 05:27] uhuntu commented on #362
I learnt something about ```set guifont```, then I can manage it now.

[2020-09-15 05:27] #362 closed

[2020-09-15 16:50] Kethku commented on #324
Re gui components, I would take a PR for this, but as I mentioned above, it needs to be demonstrably better without feeling out of place. THats a pretty subjective criteria, but if effort is put forth I will definitely support in any way I can to try to get it to a place where we could merge.

One thing though is that implementing gui components often requires adjusting window sizes. This requires

[2020-09-16 01:03] uhuntu commented on #125
Some interesting readings:

https://discourse.libsdl.org/t/ime-input-method-editor-planning/16334/6
https://stackoverflow.com/questions/31219331/cannot-turn-on-input-method-on-a-sdl2-created-window
https://bugzilla.libsdl.org/show_bug.cgi?id=3421
https://discourse.libsdl.org/t/can-i-use-sdl-disable-windows-ime-and-ignore-other-input-at-the-same-time-without-hacks/24468

[2020-09-16 04:20] Kethku commented on #125
This is very unfortunate :(

[2020-09-16 08:15] p00f commented on #324
Thanks !!

Okay, I'll wait

https://github.com/Yggdroot/indentLine + https://github.com/lukas-reineke/indent-blankline.nvim is way better, it looks like a proper GUI's indent guides (like vscode)

[2020-09-17 00:08] uhuntu commented on #125
https://github.com/aclysma/skulpin/issues/68

[2020-09-17 20:43] omega16 opened #363 "Rectangles instead of letters."
Hi. I'm changing from vim to neovim and choose neovide as gui but it renders rectangles instead of letters.
I'm using Arch linux and installed from AUR.
Installation was right, without error or warring (a big surprise since it compile 301 packages).
At launch it outputs:

[code]
But neovide opens and this is how it looks:
[![Deepin-Screenshot-Seleccionar-rea-20200917153817.png](https://i.postimg.c

[2020-09-17 20:47] j4qfrost commented on #363
Yeah, this looks like a Vulkan issue. Arch Linux is tricky to get right sometimes. What are your hardware specs and what does ```pacman -Ss vulkan``` give you?

[2020-09-17 20:52] omega16 commented on #363
That was fast (thanks!)

I have a intel n3060 without dedicated graphics.
Here is the output of `pacman -Ss vulkan`

[code]

[2020-09-17 21:05] j4qfrost commented on #363
I jumped the gun, it might not related to vulkan actually. Though that was an error, not a warning. As for the rectangles, do you know what fonts you have installed? Also did you install neovide from the neovide package or neovide-git?

[2020-09-17 21:21] omega16 commented on #363
neovide 0.6.0-7 from [here](https://aur.archlinux.org/packages/neovide/) using pikaur.

After this I attempted to install neovide-git and it shows the missing dependence:
[code]

So instead I did a `sudo pacman -S noto-fonts` and now works!

So, just to be curious, Can I change the font? How?

Thanks for the help!

[2020-09-17 21:34] j4qfrost commented on #363
Something like this ```set guifont=FiraCode\ Nerd\ Font\ Mono,Gulim,Yu\ Mincho,NSimSun:h16``` for the neovim config.

This issue goes over some of the problems we faced with setting font https://github.com/Kethku/neovide/issues/327.

[2020-09-17 21:34] #363 closed

[2020-09-19 07:24] uhuntu commented on #125
We will see if we can finally figure it out by glfw https://github.com/aclysma/skulpin/tree/glfw

[2020-09-21 09:19] uhuntu commented on #125
![ezgif-1-8708a34ace6d](https://user-images.githubusercontent.com/4939569/93750671-6d42a200-fc2e-11ea-864b-9ce1cffbd308.gif)

[2020-09-21 09:19] uhuntu commented on #125
Yeah, we almost get it done :)

[2020-09-21 09:28] uhuntu commented on #125
https://github.com/uhuntu/neovide/tree/glfw is WIP

[2020-09-22 22:15] VladimirMarkelov opened #365 "Windows: neovide version"
I downloaded the binary from 0.6.0 releases, but in resources it states that it is 0.5.0.
Do releases contain correct binary?

Extra question: how to check neovide version? `neovide --version` does not show anything. Inside neovide `:version` shows neovim version.

Edit: a built-in `--help` to list all available options is good to have as well. I had to look through issues searching for "how to en

[2020-09-22 22:41] j4qfrost commented on #365
I'll look at adding this as a feature. For now you can get the most up-to-date build from the actions. https://github.com/Kethku/neovide/actions/runs/256882562

We are still trying to get the project in a stable state. There is a big merge incoming.

[2020-09-22 22:58] VladimirMarkelov commented on #365
Thank you for the information. With the binary from action I see another trouble: I can run it only if the current directory is the directory where `neovim` is and only from `cmd`, in powershell console it does not run at all:

[code]

So, `ls` shows `neovim.exe` but neovide cannot run it. Double-click in Explorer starts neovide successfully, but it is not sufficient. Going back to stable.

[2020-09-22 23:02] j4qfrost commented on #365
Does it work with stable?

[2020-09-22 23:12] VladimirMarkelov commented on #365
Yes. I added to FAR a menu item to open any file with neovide like `"d:\Utils\neovim\bin\neovide.exe" "!\!.!"` and have been using it for months. After replacing the old binary with a new one, my menu item stopped working. After a little investigation, I found out that neovide on my machine starts only from Explorer by double-click or from `cmd` when the current directory is `nvim` one.

[2020-09-23 13:36] SakiiR opened #366 "[OSX] got this error when trying to run the binary "ERROR [neovide::error_handling] Could not locate or start the neovim process: No such file or directory (os error 2)""
[code]

[2020-09-25 00:15] kitegi commented on #353
it seems to work with EmojiOne instead of Noto Color Emoji, though the emojis aren't colored.

[2020-09-26 17:13] VladimirMarkelov opened #367 "Windows 10 + Sleep mode"
I know a new version is coming and it may be already fixed in the master, but it is true for the current stable release 0.6.0.

I do not power off my laptop when I am done. I minimize most of the applications(including `neovide`) and close laptop's lid. Default action in power management for this is 'Sleep'. Most of the time after opening the lid, `neovide` restores its window without any issue. O

[2020-09-26 20:17] benwainwright opened #368 "[OSX] Vulkan support is either not configured in SDL or not available in current SDL video driver (cocoa) or platform"
Tried to run and got this:

[code]

[2020-09-26 20:22] j4qfrost commented on #368
You're on a mac right? Did you run brew cask install for vulkan?

On Sat, Sep 26, 2020, 1:18 PM Ben Wainwright <notifications@github.com>
wrote:

[2020-09-26 20:38] benwainwright commented on #368
Yup

[2020-09-26 20:38] benwainwright commented on #368
Just to sanity check that I had:

![image](https://user-images.githubusercontent.com/3321885/94349864-a456f000-0040-11eb-93c8-4c68137c3481.png)

[2020-09-26 20:39] j4qfrost commented on #368
Is this the first time you tried building it, and did you just install vulkan or was it on your system beforehand?

[2020-09-26 20:40] benwainwright commented on #368
1. Yes
2. Installed it specifically for this - never heard of it before today

[2020-09-26 21:01] j4qfrost commented on #368
Have you rebooted your computer?

[2020-09-27 02:20] Kethku commented on #367
Interesting. Maybe it has to do with the dpi? I haven't encountered this before.

[2020-09-27 02:20] Kethku commented on #366
Do you nave neovim installed?

[2020-09-27 03:20] VladimirMarkelov commented on #367
Maybe even not once in 2-3 weeks, maybe once in 1-2 months.

As of dpi, I use 100% scaling (it looks like DPI=127:  1920x1080 - 17.3'').

[2020-09-27 10:05] khalidchawtany commented on #67
Hi @Kethku,
Since https://github.com/Kethku/neovide/issues/97 is close what is the status of this?
No pressure I was just asking :)

[2020-09-27 16:57] benwainwright commented on #368
Yes

[2020-09-27 17:00] benwainwright commented on #367
You are aware that you can do `:qa` to quit everything and `:qa!` to quit everything regardless of save status?

[2020-09-27 17:41] VladimirMarkelov commented on #367
Thanks, I did not know about it(or I forgot about it) as I rarely need to exit vim/neovim with closing everything immediately. When having two splits, typing `:q<enter>` twice vs `:qa<enter>` once is not a big difference.

[2020-09-28 06:14] j4qfrost commented on #365
Does neovim exist in PATH? This may require someone with more Windows experience. @Kethku

[2020-09-28 06:17] j4qfrost commented on #368
Try ```cargo run --no-default-features --features=winit``` If that works, then you might need to reinstall SDL. You could also just continue using the winit version, but that doesn't have regular support.

[2020-09-28 07:37] VladimirMarkelov commented on #365
No, it does not.

On the other hand, it did not work even when the current directory was `neovim/bin` where neovim binary was. The strangest thing is that stable works great.

[2020-09-28 07:40] j4qfrost commented on #365
When you say stable, you mean the binary from the release download right?

On Mon, Sep 28, 2020, 12:38 AM Vladimir Markelov <notifications@github.com>
wrote:

[2020-09-28 07:43] VladimirMarkelov commented on #365
Yes. The latest from releases 0.6.0

[2020-09-28 07:46] VladimirMarkelov commented on #365
Just downloaded from actions, the newest binary (from the younger action that passed). It works from current directory. So, it gets better, but from an arbitrary directory it still does not work.

[2020-09-28 07:48] VladimirMarkelov commented on #365
Yes, maybe it is PATH-related. Just tried to set environment variable `NEOVIM_BIN` and it started to work

[2020-09-28 07:58] VladimirMarkelov commented on #365
What if for Windows look for  `nvim` binary in the directory from which `neovide` has started?

Kind of:

[code]

[2020-09-28 09:40] benwainwright commented on #368
Ok `cargo run --no-default-features --features=winit` works.

I did `brew reinstall SDL2` and it had no impact on running the actual binary.

[2020-09-28 16:40] j4qfrost commented on #365
The ```which``` function doesn't work if nvim isn't in your PATH, so it's a bit of a moot point.

FYI: you can get a permalink to a codeline, so it's easier to figure out what you're referencing. Just hover to the left of the code until three little dots show up and select permalink.

[2020-09-28 16:42] j4qfrost commented on #352
This is resolved with https://github.com/Kethku/neovide/pull/360 @phaazon

[2020-09-28 17:00] j4qfrost commented on #368
Sorry, I don't remember running into this issue myself. I can just shoot some guesses at you. I assume you have Xcode installed? Also what version of OSX are you on?

[2020-09-28 17:02] benwainwright commented on #368
I do have Xcode installed.

Version `10.14.6 (18G103)`

[2020-09-28 17:11] VladimirMarkelov commented on #365
Sorry, I forgot about permalinks. Here it is the `else` I proposed to update for `windows` case:
https://github.com/Kethku/neovide/blob/b3729681d37a679412cff565809389dc560e5400/src/bridge/mod.rs#L77

I did not check how `nvim-qt` is implemented, but as it works fine from `nvim/bin` without changing `PATH` and wihout setting env variable, I supposed that besides `PATH`, it checks its starting direc

[2020-09-28 17:12] j4qfrost opened #369 "Create more reliable installation process for Debian flavors"
https://github.com/Kethku/neovide/issues/291

A download script, a package, or more verbose instructions might satisfy this issue. The idea is to get the process down to a quickstart that is highly predictable, so we don't have to ask things like "do you have neovim installed?" for every other issue.

[2020-09-28 17:12] j4qfrost commented on #291
Going to just close this and create a new issue for more visibility. https://github.com/Kethku/neovide/issues/369

[2020-09-28 17:12] #291 closed

[2020-09-28 17:46] benwainwright commented on #368
I just tried that and it worked fine

[2020-09-28 17:46] j4qfrost commented on #365
So if I understand correctly, you have built the neovide binary and moved it to neovim/bin where nvim lives, and neovide doesn't run because it can't find nvim?

[2020-09-28 17:51] j4qfrost commented on #368
This won't narrow it down, but here is an issue that might help. https://github.com/Kethku/neovide/issues/301
A reference for installing vulkan, because it's actually a bit unstable on Macs https://vulkan.lunarg.com/doc/sdk/1.2.148.1/mac/getting_started.html

You might find that you have to upgrade to 10.15

[2020-09-28 17:59] benwainwright commented on #368
Thanks, I'll have a look through that page tomorrow.

Sadly this isn't an option for me. It's a corporate laptop and OS upgrades have to be the approved builds that come from IT, which will only install on the office network. As you can imagine, I'm not likely to return to the office for a while.

[2020-09-28 18:02] VladimirMarkelov commented on #365
No. I took it from latest successful github actions

[2020-09-28 18:21] j4qfrost commented on #365
Did you try moving back to the old version?

[2020-09-28 18:25] VladimirMarkelov commented on #365
Yes, after "nightly" version acted up, I redownloaded 0.6.0 and use it now.

[2020-09-29 02:15] aclysma commented on #368
This sounds suspiciously like this: https://github.com/Rust-SDL2/rust-sdl2/pull/1030

Easy way to check is to run this command: `cargo update --package sdl2 --precise 0.34.2`

 * One of my recent changes to skulpin was to not initialize the vulkan subsystem which would fix this
 * And the real fix is merged but not published in the sdl2-rs tree

[2020-09-29 07:25] jsosulski commented on #368
Not sure it this is related, but I had some issues with getting neovide to run on my Kubuntu 20.04 machine. The culprit was that my processor is quite old (Haswell architecture) and 'Haswell Vulkan support is incomplete'. According to [wikipedia](https://en.wikipedia.org/wiki/Vulkan_(API)#Hardware) Broadwell architectures have the identical Vulkan support, i.e. probably the same issues.

[2020-09-29 08:29] SakiiR commented on #366
Yes it is :(

[2020-09-29 09:15] 00sapo opened #370 "Firefox incompatible"
I'm using Firefox 80.0.1, neovim 0.5.0 and Linux 5.4.60 (Manjaro). When I use neovide, Firefox gui hangs, especially with github pages - don't know why. No problem with neovim from terminal and neovim-qt.

[2020-09-29 20:07] benwainwright commented on #368
Tried that, then I ran `cargo build --release`, but when I run the produced executable I still get the same error :(

[2020-09-29 21:31] j4qfrost commented on #368
@jsosulski not sure vulkan support is the issue. It looks like the winit features are working fine on his machine. It specifically has to do with vulkan/sdl interop on his machine. Not sure where to go at this point with debugging.

[2020-09-29 21:58] aclysma commented on #368
You get that error message if sdl2 is *compiled* without metal support. The bug I mentioned before was that the bundled build script incorrectly believed metal was not available on the platform and stripped both metal and vulkan out of the build. You can dig around in the target folder for CMake build logs of sdl2 (assuming bundled feature is being used) to troubleshoot further.

[2020-09-29 22:00] aclysma commented on #368
Also the recent changes in skulpin no longer require SDL2 to activate the vulkan rendering system at all so would likely work around this.

[2020-09-30 14:03] aclysma commented on #368
Hey I just realized my earlier comment was incorrect. You would need to downgrade sdl2-sys, not sdl2.

Could you try:
`cargo update --package sdl2-sys --precise 0.34.2`

[2020-09-30 18:12] j4qfrost commented on #368
Wouldn't that effectively be the same with regard to this issue?

[2020-09-30 20:24] j4qfrost commented on #370
Can you include your GPU, and maybe run ```journalctl -xe``` or ```dmesg``` right around the error and post the output?

[2020-10-06 17:34] xa888s opened #371 "Cannot build on void linux"
Since this crate depends on openssl, the build fails when it can't find openssl.

[2020-10-06 17:37] xa888s commented on #371
Looking in cargo tree, apparently skulpin depends on openssl-sys

[2020-10-06 17:41] xa888s commented on #371
Offending line:
https://github.com/rust-skia/rust-skia/blob/277d86cdea5a30022d39c6411a3e9d7579a8d3d3/skia-bindings/Cargo.toml#L62

[2020-10-07 02:12] xiaochuanyu commented on #368
I got a brand new laptop with OSX 10.15.6 (19G73) and ran into the same error trying to install from source.
It worked after doing the following following @aclysma's advice above:
1. I updated `sdl2-sys` version to `0.34.2` in `Cargo.toml`.
2. `cargo update --package sdl2-sys --precise 0.34.2`

[2020-10-07 02:29] j4qfrost commented on #368
@benwainwright Can you check that @aclysma's suggestion works for you also? If so, I'll rollback the sdl2-sys version for exclusively Macs.

[2020-10-07 03:03] TENX-S commented on #368
It works to me also (macOS 10.15.7)

[2020-10-07 05:13] j4qfrost commented on #368
https://github.com/Kethku/neovide/pull/372 This should fix it.

[2020-10-07 05:13] #368 closed

[2020-10-07 05:44] j4qfrost commented on #368
@Kethku I seem to have introduced an issue for the Windows workflow build. Going to need to build on a local Windows machine to see if I broke anything for the end user. The CI builds are supposed to be using 0.34.2 now like on my machine, but I'm not sure what's going on with the cargo file. I'll open up another issue to investigate this tomorrow.

[2020-10-07 05:48] Kethku commented on #368
Is it the link issue?

[2020-10-07 05:53] j4qfrost commented on #368
Nope just figured it out. It was my ignorance about how the package system worked. I had though that using version in conjunction with git would grab the version from the repo. The reason why my build worked was that I was overriding sys with master which included the fix by alcysma. So instead of rolling back I inadvertently pushed forward. That's enough embarrassment for one night. Going to push

[2020-10-07 05:54] Kethku commented on #371
Its likely a build time dependency

[2020-10-07 07:13] benwainwright commented on #368
Will have a look this morning, thanks

[2020-10-07 09:01] TENX-S opened #375 "[Question] What is the style/name of the airline in README.md"
Sorry for the noise.
I just like the airline style in the README, can someone tell me its name or how to get it?
Thanks a lot!

[2020-10-07 15:34] TENX-S opened #376 "Powerline font was rendered incorrectly, so does the Chinese"
OS: macOS 10.15.7
Neovide: Build from source(rustc 1.48.0-nightly (d006f5734 2020-08-28))

* Can't render powerline font (right pane/airline)
<img width="1440" alt="Screen Shot 2020-10-07 at 11 27 27 PM" src="https://user-images.githubusercontent.com/40336192/95352296-af3d3a80-08f4-11eb-9aee-3e936f86c489.png">

* Can't render chinese character (line 8 13 14)
<img width="1440" alt="Screen Shot 2020

[2020-10-07 17:16] zezic commented on #140
@jonvaldes I tried to do the same based on your fork with the little changes and got pretty nice results. No glitches, margin have proper background color, pointer positioning is absolutely OK, mouse position is handled correctly and it feels like complexity of the code is almost not increased. I'm new to Rust, I will refactor my code a bit later and try to prepare a good PR for review.

This is h

[2020-10-08 11:09] benwainwright opened #377 "failed to parse manifest"
Hi there

In trying to test the fix for https://github.com/Kethku/neovide/issues/368, I'm now getting a different error that seems to be unrelated. The following is from a fresh clone of the repository:

![image](https://user-images.githubusercontent.com/3321885/95451069-2b6c6800-095f-11eb-82e8-0cb0f7517e9c.png)

[2020-10-08 17:14] j4qfrost commented on #377
It's all cleaned up. Sorry for the chaos.

[2020-10-08 17:14] #377 closed

[2020-10-08 19:30] j4qfrost commented on #371
https://github.com/rust-skia/rust-skia/pull/426 take it upstream @xa888s

[2020-10-08 20:07] j4qfrost commented on #366
Are you still having this issue?

[2020-10-08 20:26] j4qfrost commented on #365
I don't have access to a Windows machine, and it sounds like your case is a bit unusual, so if you could check this branch for me https://github.com/j4qfrost/neovide/tree/issue-365 and verify that it works, I'll submit a PR.

[2020-10-08 20:48] j4qfrost commented on #73
Works on Arch linux 5.8.13

[2020-10-08 20:48] #73 closed

[2020-10-08 20:50] j4qfrost commented on #187
My approach has changed and the issue is either out of scope or is already addressed in a refactoring issue.

[2020-10-08 20:50] #187 closed

[2020-10-08 20:59] j4qfrost commented on #272
https://github.com/Kethku/neovide/pull/312

[2020-10-08 20:59] #272 closed

[2020-10-08 21:35] j4qfrost commented on #189
This issue has gone stale. @ericonr if you're still open to it, the clap stuff seems like a good idea, but it probably needs a separate issue.

[2020-10-08 21:35] #189 closed

[2020-10-08 21:46] VladimirMarkelov commented on #365
I see, now if it fails to detect the binary by provided path, it uses default `nvim` (as if running from the current directory). On the one hand, it may work. On the other hand, the current working directory is not `nvim` one, so it may fail in the same way.

I wanted to download a new binary but it seems github action fails for some reason.

[2020-10-08 22:41] j4qfrost commented on #365
Forgot to fetch upstream. A binary should be building now. Give me a heads up when you try it out. The change I made basically adds back similar functionality to what we had before but specifically for Windows.

[2020-10-08 23:16] VladimirMarkelov commented on #365
[code]
?

[2020-10-08 23:31] j4qfrost commented on #365
Yup, thanks for the catch.

[2020-10-08 23:33] j4qfrost commented on #365
Double checked. This won't fix your issue. One sec.

[2020-10-08 23:41] j4qfrost commented on #365
@VladimirMarkelov I think this should solve your problem now. I wasn't reading my own error messages correctly.

[2020-10-08 23:42] VladimirMarkelov commented on #365
I've get binary when it build and try it

[2020-10-09 00:37] VladimirMarkelov commented on #365
It seems working. Thanks!

[2020-10-09 06:12] Kethku opened #381 "Integrate Last Resort Font as last fallback"
https://github.com/unicode-org/last-resort-font/

This would let us render characters in a way that end users could tell what is missing and why.

[2020-10-09 06:16] Kethku opened #382 "Add docs for guifont extension"
Lots of confusion from folks not knowing about the guifont feature.

Documentation would make this better as we could just point them to the doc explaining the font fallback system and why it exists

[2020-10-09 06:20] Kethku commented on #375
Its my personal config :P

Its written in fennel here: https://github.com/Kethku/vim-config/blob/master/fnl/dotfiles/module/settings.fnl
The airline and tabline settings are at the top of that file.
The colorscheme is https://github.com/morhetz/gruvbox
The font is delugia code https://github.com/adam7/delugia-code/releases

[2020-10-09 06:20] #375 closed

[2020-10-09 06:26] clason commented on #366
The usual cause for such an issue is that applications started via the finder do not have the correct environment (in particular, `PATH`) set. You can see if this is the case if things work when you open a terminal and run the `Neovide.app/Contents/MacOS/neovide` binary directly (you might have to `chmod +x neovide` first) -- in this case, neovide inherits the (hopefully correct) environment from

[2020-10-09 06:40] uhuntu commented on #125
https://github.com/Kethku/neovide/pull/383

[2020-10-09 06:46] j4qfrost commented on #366
Well the issue is that he is starting this from the terminal and he can already run the binary, so the Finder wouldn't be the cause of the crash. This does look like a PATH error though. @SakiiR doesn running nvim separately work?

[2020-10-09 06:47] j4qfrost commented on #381
I find it funny that this exists.

[2020-10-09 07:02] j4qfrost commented on #371
@xa888s I am curious as to why you don't want to install openssl.

[2020-10-09 08:22] SakiiR commented on #366
I re-downloaded the last release in place and got a new issue :/

<img width="1110" alt="sc 2020-10-09 at 10 21 48" src="https://user-images.githubusercontent.com/9950578/95560251-4ef3e900-0a19-11eb-993d-f62c822a92b1.png">

[2020-10-09 08:23] SakiiR commented on #366
I can run neovim perfectly:

<img width="1353" alt="sc 2020-10-09 at 10 22 44" src="https://user-images.githubusercontent.com/9950578/95560320-67640380-0a19-11eb-8847-eada05d2d46c.png">

[2020-10-09 08:27] j4qfrost commented on #366
Can you run with --log and paste the output? What terminal is that? It might be possible that the PATH isn't invoked correctly.

[2020-10-09 08:48] SakiiR commented on #366
No Logs ...

<img width="1164" alt="sc 2020-10-09 at 10 47 47" src="https://user-images.githubusercontent.com/9950578/95562765-e1e25280-0a1c-11eb-97db-be98e29ad1a0.png">

It's iterm2, zsh etc everything is normal xD

[2020-10-09 08:50] SakiiR commented on #366
Oh my bad , logs are in a file:

[code]

[2020-10-09 12:49] benwainwright commented on #376
I get the same problem

[2020-10-09 12:58] benwainwright commented on #376
A scratch that - it just wasn't reading my `.gvimrc`, so I moved `set guifont` into my main vimrc

[2020-10-09 14:54] xa888s commented on #371
Void Linux does not provide an OpenSSL package, and they provide reasoning here: https://voidlinux.org/

[code]

[2020-10-10 05:20] TENX-S commented on #376
The [Delugia Nerd Code](https://github.com/adam7/delugia-code/releases) works.
But I'm trying to set two fonts Fira Code Retina and Nerd Font to show the code and powerline symbols, respectively.

[2020-10-10 07:07] Kethku commented on #381
me too. And yet its kinda perfect for our use case haha

[2020-10-10 07:08] Kethku commented on #376
You have to specify a font which contains those glyphs. Unfortunately neovide does not have a way to use the system's font fallback, so you have to specify it manually via the guifont option inside of neovim.

Neovide has an extension that lets you specify a list of fonts as a sort of manual fallback. You do it by separating the font names by commas in the guifont setting.

[2020-10-10 07:31] #376 closed

[2020-10-14 03:04] uhuntu opened #384 "winit or sdl"
Can someone tell me why choose sdl now ?

[2020-10-14 08:44] j4qfrost commented on #384
We are seriously considering switching and I do have a draft ready. Just waiting for kethku to drop multigrid, then it's full steam ahead.

[2020-10-14 12:51] #384 closed

[2020-10-15 13:01] Jaimeloeuf opened #385 "**SOLVED** Does not work on "old" windows iGPU drivers"
Hello, wanted to raise and issue about neovide not being able to start up for all the version in windows, and just as I was about to finish this issue, I solved it by updating my iGPU drivers 😅

But Im still just gonna put this here for anyone that is googling or searching about this!

For windows 10 laptop user like myself, even for fairly new models (early 2020 laptop), if your laptop only have

[2020-10-15 13:01] #385 closed

[2020-10-15 13:13] Jaimeloeuf opened #386 "Support for navigation keys?"
Hello, this is a feature suggestion/question.

Is navigation keys (home/end/PageUp/PageDown) supported to jump around the text in both normal and insert mode?

I understand that when using (n)vim these keys should be avoided and are not considered "standard" but as a long time user of other editors like sublime and vs code where they are not modal editors, it seems much easier to transition if we

[2020-10-19 12:07] kishikaisei opened #387 "Incosistent font size with other neovim GUIs"
So basically Neovide renders font smaller than nvim-qt, or goneovim:
![image](https://user-images.githubusercontent.com/1894123/96498915-fb6d7080-124c-11eb-8918-ba33faabb77b.png)
Goneovim, nvim-qt and Neovide respectively.

[2020-10-20 18:22] felipec commented on #387
Just installed neovide and this is literally the first thing I noticed.

[2020-10-20 18:50] Kethku commented on #387
Not sure why this would be happening given that we are delegating to skia to handle the end result font rendering and the font size is directly taken from the guifont variable.

[2020-10-20 18:54] Kethku commented on #386
Hmmm. This appears to be working on my machine. Pressing home sends the cursor to the beginning of the line, end sends it to the end in normal and insert mode. Similarly pressing pagedown scrolls the screen down.

Can you give some details about your OS? I suppose its possible that non windows versions of the window system don't handle those keybindings properly.

[2020-10-20 20:14] GGCristo opened #388 "'{' in insert mode act like in normal mode."
When I try to write '{' it behave like '{' in normal mode, this mean that it leaves Insert mode and go one paragraphs backward.
Edit : Others keys like '\' doesn't work either.

[2020-10-20 22:06] felipec commented on #387
The DPI setting? I am using 120, not 96.

[2020-10-20 22:15] Kethku commented on #387
Possible, but not sure. I think I can see a font size difference on my machine as well. In the meantime, neovide declares a global neovide variable on startup, so you could look for that and conditionally set the font size in your config until we figure out whats going on

[2020-10-21 02:03] uhuntu opened #389 "winit"
When I tried to change default to winit
[code]
It will show
[code]

[2020-10-21 02:06] j4qfrost commented on #389
You need to rollback the winit version. I think it might be that skulpin hasn't updated yet.

Do this ```cargo update -p winit --precise 0.22.2```

[2020-10-21 02:36] #389 closed

[2020-10-25 00:48] SkyLeach opened #391 "Window position isn't restored, and while testing I found that has('gui_running') returns false"
I was attempting to put in a hackaround I found for neovide not retaining screen position.

Here are some things I ran into:

has('gui_running') returns false:
![image](https://user-images.githubusercontent.com/940228/97094827-8de38a80-1626-11eb-98ca-dd9dfa8cf9a6.png)

I discovered that while trying to figure out how or why ginit.vim wasn't being processed properly.  If I source the file after loa

[2020-10-25 12:59] dakom commented on #50
I naively just ran the command mentioned [above](https://github.com/Kethku/neovide/issues/50#issuecomment-580627000) and nothing happened.

Would it be possible to list step-by-step WSL-based instructions to the main Readme, alongside the current environments?

Am I correct in understanding that this would basically give the same power as the somewhat popular "remote VSCode" solution?

[2020-10-26 15:38] SkyLeach opened #392 "tabp/tabn breaks neovide"
I'm not really sure at this point what is going on, but my best guess is that somehow this is breaking the Rust UI access to the Neovim session.  `gT/gt` seem fine, as is `[0-9]{2.0}gt`

[2020-10-26 15:59] SkyLeach commented on #392
Managed to break it without `tabp/tabn` and I've managed to get a warning with `tabp` that makes me think the problem may be related to memory.  Here it si locking up with UltiSnips:

![image](https://user-images.githubusercontent.com/940228/97196304-b2547980-1782-11eb-9d4f-df6da8e72993.png)

I'll try to get a ss of the warning message next time.

[2020-10-28 04:23] ericonr commented on #189
Sorry, I haven't used neovide in a long while. Probably won't be able to help here.

[2020-10-31 14:33] jacobsun commented on #49
This happens when I install vim and nvim-nightly via scoop

[2020-11-02 19:50] cdfa opened #393 "Not responding after resume from suspend"
Hi, thank you for this beautiful Neovim client!

I'm having a weird issue where Neovide does not respond anymore after my laptop resumes from sleep. I'm happy to help debugging, but I don't really know where to start.

Some basic info:
Neovide version: 0.6.0.r32.g0203d02
`uname -or`: 5.4.72-1-MANJARO GNU/Linux

[2020-11-03 09:21] zevaverbach commented on #3
@Kethku is there any documentation for this? And while I'm asking, for where to put the .vimrc or whatever config?

[2020-11-05 14:47] nilsmartel commented on #388
I have the same problem.

Using a MacBook Pro 2019 with German keyboard Layout.

The `"` character works fine for me, but neither `{`, nor `}` can be entered into text

[2020-11-05 19:04] nilsmartel commented on #388
just checked, the combination option/alt ⌥ + any other key seems to fail, no characters get inserted, the editor jumps into normal mode

[2020-11-05 19:24] keithsim-msft commented on #388
What keyboard layout do you folks use?

[2020-11-05 19:25] Kethku commented on #388
what keyboard layout do you folks use? This feels like a layout issue

[2020-11-05 19:27] Kethku commented on #388
Currently we have infrastructure for specifying more keyboard layouts here: https://github.com/Kethku/neovide/blob/master/src/bridge/layouts/sdl2.rs but today we only have qwerty mostly because I haven't spent the time to add more

The hope is that we can add common layouts and then let users configure them via a global vim variable. Its not the nicest solution, but as far as I can tell its the be

[2020-11-05 19:58] GGCristo commented on #388
As you would have expected, I use the Spanish layout.

[2020-11-06 07:37] nilsmartel commented on #388
Thanks for the quick answer, it's German Mac Layout for me

[2020-11-08 18:20] ghost opened #394 "High ram usage when chaning font size"
Hi!
I just tried out neovide. I'm really liking it! :)
However, I am having a problem.. Whenever I change the font size, the RAM usage goes higher.
I am using the following to change font (from my `init.vim`):
[code]
I am using NeoVim `v0.5.0-812-gd17e50879` and neovide `0.6` (from this package in the [AUR](https://aur.archlinux.org/packages/neovide/).
Here is the RAM usage skyrocketing:
https://s

[2020-11-10 08:20] nilsmartel commented on #388
Only thing I could figure out so far is, that characters like `{` don't even get propagated to that handler function

[2020-11-10 08:20] nilsmartel commented on #388
to be continued

[2020-11-10 09:09] nilsmartel commented on #388
I did some science and figured out that English keyboard layouts (which are heaven to work with for programming tasks, you wouldn't believe just how bad German is at this actually) get's recognised like this:

[code]

where in the German layout the key get's recognised as

[code]

Now, here's why this is fantastic news:

I think the most straightforward thing to do is not creating individual handl

[2020-11-10 16:41] nilsmartel commented on #388
part of the problem lies in `append_modifiers`.
On German keyboards the keytext is proper, but the alt key is set to true
Result of calling the method is (for example) `"<M-{>"` where `"{"` is to be expected

[2020-11-10 16:54] nilsmartel commented on #388
So far I've got a dumpfuck solution, but the problem pinned down.
So, what I did is create this method:

[code]

Which returns true for all inputs _on the num pad_ where I'd have to press alt (and alt only).
In the function `produce_neovim_keybinding_string` I've modified the `alt` variable like this:
[code]
meaning alt gets set to false if one of these special keys gets recognised.

Of course thi

[2020-11-10 16:56] nilsmartel commented on #388
I don't know much about this, but would it work to simply set alt and shift to false for all non-standard characters?
E.g. `keytext`∉ ElementsWhichCanBeAccessedWithoutAlt ?

Nah... On English keyboards on doesn't even need to press alt to reach {, but COULD in theory by using alt-8

[2020-11-10 20:21] Kethku commented on #394
the version of neovim does not effect how the fonts are allocated. I'm guessing we are holding onto the fonts longer than necessary in our cache. This shouldn't be too difficult to fix...

[2020-11-10 20:26] Kethku commented on #388
I think the way to fix this is to introduce a new layout in the place I linked above? We can't rely on the OS to handle turning key codes into characters for us, so we have to make an exhaustive list for each keyboard layout. At least this is the best I've come up with which works the same on all operating systems.

The layout for qwerty is defined here: https://github.com/Kethku/neovide/blob/mast

[2020-11-10 20:35] Kethku commented on #388
That said, I would LOVE a solution which doesn't require an exhaustive list like the qwerty layout. I've just spent a fair bit of time ramming my head through this particular wall and then gave up. A fresh set of eyes very well might see a solution I missed though

[2020-11-10 20:38] Kethku commented on #388
Btw the purpose of that handler function is to take non "complex" characters, modify them via whatever modifiers are past in, and return the correct "complex" character. The idea is that rather than relying on an OS method to do this conversion (which we don't have access to because the winnit and sdl are limiting), we have to do the conversion manually.

[2020-11-11 12:48] 4ydx opened #395 "Blank Screen"
Just displays an entirely blank screen.

- Debian GNU/Linux 10 (buster)
- rustc 1.47.0 (18bf6b4f0 2020-10-07)
- neovide c47c235a961d82316def38222b8a1af2cff523d5

[2020-11-12 12:10] nilsmartel commented on #388
I see the problem and I think you're about right. Though the current check doesn't call these handler functions, since `keytext ≠ None`. Unsure about the proper way to introduce this in first place, because the problematic inputs don't rely on the querty handler function so far. I feel like I am missing something obvious here, but a keyboard layout might well be the answer.

By the way, thanks for

[2020-11-12 13:26] ReneganRonin opened #396 "Neovide won't show some symbols & characters"
- Some symbols and characters in neovide (left) are not showing. Using neovim on the terminal (right) however shows it correctly.
![image](https://user-images.githubusercontent.com/66054069/98944986-d9ee6480-252c-11eb-89e3-d6e4ab11b6ca.png)
- Fonts used during the session is FantasqueSansMono Nerd Font. I tried out using other fonts and Nerd Fonts but they do not work as well.

More information:
-

[2020-11-13 12:52] glacambre commented on #391
`has('gui_running')` is a Vim-only thing, `gui_running` does not exist in Neovim and hopefully never will. You can detect if a UI is attached by either using the `UIEnter` autocommand or by using `nvim_list_chans()` and iterating over the result, checking if some of these channels belong to known UIs.

[2020-11-18 04:57] uhuntu opened #397 "sdl 0.34.3 vs 0.34.2"
Hi there,

I realized that recently you rollback sdl from 0.34.3 to 0.34.2, what's happening ?

--
hUNt0

[2020-11-18 06:37] j4qfrost commented on #397
https://github.com/Kethku/neovide/issues/368

[2020-11-18 06:37] #397 closed

[2020-11-18 07:32] uhuntu commented on #397
Then what should I do if I want to input CJK in Linux ? https://github.com/Kethku/neovide/pull/360

[2020-11-18 13:59] j4qfrost commented on #397
Is it only fixed in 0.34.3? We should handle it upstream.

[2020-11-19 02:35] uhuntu commented on #397
Yes, https://github.com/Rust-SDL2/rust-sdl2/pull/1027

[2020-11-19 07:43] uhuntu commented on #397
Okey, probably we need to wait 0.34.4

[2020-11-19 14:02] j4qfrost commented on #397
Yeah, this probably needs to be handled upstream :/ sorry about the quick
close.

On Thu, Nov 19, 2020, 1:43 AM uhuntu <notifications@github.com> wrote:

[2020-11-21 19:46] TamaMcGlinn commented on #395
Same here; no error message either. Neovide only outputs:

[code]

The window manager shows that a window has been opened, but nothing was drawn to it.

I'm also on debian buster, using rustc 1.48.0 and the same neovide commit.

[2020-11-21 20:32] j4qfrost commented on #395
Can you both post your GPU specs and vulkan info? I'll be back next week to
take a look.

On Sat, Nov 21, 2020, 1:46 PM Tama McGlinn <notifications@github.com> wrote:

[2020-11-26 04:10] SkyLeach commented on #391
@glacambre yeah I noticed that later.  I switched to using exists('g:neovide') but I'm still having issues with :winp[os] not being defined

[2020-11-26 05:31] glacambre commented on #391
@SkyLeach `:winpos` doesn't exist in Neovim's UI protocol, so Neovide can't do much for now - winpos has to be implemented in Neovim first :).

[2020-11-27 05:25] JonasGao opened #398 "By spacevim, guifont not work"
i`m using https://github.com/SpaceVim/SpaceVim with neovim, and gui is neovide. and the guifont is not working.

![image](https://user-images.githubusercontent.com/4549584/100414169-0c16cf00-30b4-11eb-90b3-a89da87fc895.png)

[2020-11-29 01:12] jberryman commented on #62
Noticed that https://github.com/neovim/neovim/pull/11748 was merged FWIW

[2020-11-29 21:02] Kethku commented on #398
I believe the font you have specified is missing the special characters necessary to render the status bar. Do you have a font that has all of the powerline characters installed? If you do, you can specify that font name after the first one separated by a comma kinda like this: guifont = "CaskaydiaCove NF,Delugia Nerd Font:h10" where Delugia Nerd Font would be the second font name.

As an aside, t

[2020-11-29 21:03] Kethku commented on #391
@glacambre thanks so much for responding! I believe that means this issue is upstream and I will close it as there isn't much for us to do. @SkyLeach are you ok with this course of action?

[2020-11-29 21:04] #398 closed

[2020-11-29 21:05] Kethku commented on #393
Hmmm. I'm not sure what would be causing this. Is it consistent every time you resume from sleep? This seems like an upstream issue in Skulpin

[2020-11-29 21:07] Kethku commented on #392
I'm not sure I understand. What do you mean it breaks neovide. What happens when you do that?

[2020-11-29 23:08] cdfa commented on #393
Yup 100% consistent. When you responded I thought maybe the problem is that I prevent neovide from blocking compositing with a KWin rule, but the only difference is that the window is completely black instead of showing the contents from before suspend, so I don't think it had anything to do with it.

Anyway, I'll create an issue upstream.

[2020-11-29 23:59] Kethku commented on #393
I think it may be smart for us to create a minimum viable repro of the issue. For instance I'd be curious if the demos in skulpin exhibit the same issue when using sdl2 window

[2020-11-29 23:59] Kethku commented on #393
Cause if the answer is no, it may be something we are doing strangely on our side

[2020-11-30 11:45] cdfa commented on #393
Good idea! I just tried it and it happens with on of their examples too. (see my comment in the skulpin issue)

[2020-12-01 03:51] calvinkosmatka opened #399 "Windows 10 Build failure"
Hi all - I'm having trouble getting this to build on Windows 10 x64 (Version 10.0.18363 Build 18363) from a fresh clone.

[code]

[code]

[code]

It seems like I might just be missing some expected libraries, but I'm not sure where to go from here. Thanks!

[2020-12-01 03:53] Kethku commented on #399
Did you follow the instructions here: https://github.com/Kethku/neovide#windows ?

I can dig into the error a bit more later if not...

[2020-12-01 03:54] Kethku commented on #399
Actually this looks like a skia issue...

[2020-12-01 03:57] calvinkosmatka commented on #399
Yep, I followed the given instructions for Windows

[2020-12-03 00:17] paopaol opened #400 "why not suppport gbk charset"
![neo](https://user-images.githubusercontent.com/6983082/100947105-e409ee80-353f-11eb-85b6-c41204e47110.png)
![veoide](https://user-images.githubusercontent.com/6983082/100947112-e79d7580-353f-11eb-9e33-e685efa4301c.png)

[2020-12-03 10:46] 4ydx commented on #395
OpenGL version string: 4.6.0 NVIDIA 418.152.00
VGA compatible controller: NVIDIA Corporation GM204 [GeForce GTX 980] (rev a1)

[vi.txt](https://github.com/Kethku/neovide/files/5635514/vi.txt)

[2020-12-05 15:18] 00sapo commented on #370
Hello, I retried today using firefox 83, neovim 0.4.4, Linux 5.4.80 (Manjaro) and neovide from the AUR and everything works fine

[2020-12-07 01:59] intendednull opened #401 "Failed to create renderer: VkError(ERROR_INITIALIZATION_FAILED)'"
Unable to start on manjaro:
[code]
I suspect it has something to do with my wm xmonad.

[2020-12-08 04:03] mitnk opened #402 "[macOS] neovide process disown from terminal?"
I'm new to neovide. When I build neovide with `cargo build --release`, and running it (ie. `./target/release/neovide`) from the shell (terminal), it does not disown with the terminal. The neovide spawned the window, but the command in shell does not return until neovide terminate. Meaning closing the terminal window (or Ctrl-C) also closes the neovide window.

For now I have to define a shell func

[2020-12-08 07:49] pragmatrix commented on #399
@calvinkosmatka We've found in https://github.com/rust-skia/rust-skia/issues/431 that updating Visual Studio or Visual Studio Build Tools will probably fix the linker errors on Windows, but also might introduce new ones. In my test builds of neovide, I got duplicated harfbuzz symbols, which is probably correct and needs to be tackled otherwise.

[2020-12-08 07:50] kiil opened #403 "pressing n-dash (option+minus) crashes neovide on macos"
Pressing '–' (that is an n-dash symbol - in my case from option + minus (minus is also sometimes called hyphen)) causes neovide to immediately crash.

Then this error is given in the terminal from which neovide was started

(I get the same crash when starting the program directly from its icon)

[2020-12-08 14:28] calvinkosmatka commented on #399
Updating Visual Studio did the trick! Thanks!

[2020-12-08 14:28] #399 closed

[2020-12-09 15:35] SenseiRalph commented on #244
Hi,

I noticed the same problem when pressing several keys simultaneously. For example, if I press `a`, `s`, `d`, and `f` at almost the same time, only 1 or 2 of those letters will register. It really has to be simultaneous to do that though; if they are done consecutively, all of them register.

[2020-12-10 03:50] Kethku commented on #370
Very strange. Not sure what would have caused this, but I think I'm gonna close it for now.

[2020-12-10 03:50] #370 closed

[2020-12-10 06:57] 00sapo commented on #370
I suppose that both firefox and brochure try to access to some resource, maybe connected with graphic card or X11. It could be an OS-related error and not a neovide/firefox error...

[2020-12-11 10:35] lattenwald commented on #403
Same, crashes on m-dash or n-dash on Linux.

Terminal shows

[code]

Not sure if related, but when pressing `«` or `»` , it just exits insert mode.

[2020-12-13 03:44] Exr0n opened #408 "Intercepts xkbmap rebindings when using Xorg keyboard layout"
I'm using `setxkbmap -option caps:ctrl-modifier` which should rebind caps lock to control. Other applications seem to receive the modified sequence okay but Neovide only gets the letter key (no control modifier).

Looks related to #151 (same issue, different symptoms? If you would like to consolidate discussion there, please lmk and close this :)

I'm using `neovide-git` on the AUR (`--version` sa

[2020-12-14 07:36] reisub0 opened #409 "Build does not work on Apple M1 Chip"
[code]

When building with `cargo build --release`, I get the following error
[code]

[2020-12-16 07:21] tarunzoot commented on #402
a quick way to do that is to put the following code in `src -> main.rs` after `#[cfg(target_os = "macos")] {`, and creating an alias `alias nvim=neovide --disown`
[code]

[2020-12-16 14:56] tarunzoot commented on #395
can you please try to run `neovide -u NONE` and see if it works

[2020-12-16 15:00] j4qfrost commented on #402
This looks good to me. Feel free to make a pull request. I have been a bit tied up recently, but I can merge the changes this weekend.

[2020-12-17 01:39] mitnk commented on #402
Consider to make this `--disown` option default? Since neovide is an GUI app, not depends on the shell/terminal, right?

[2020-12-17 01:56] issadarkthing commented on #401
I experience the same issue with same wm (xmonad)

[2020-12-17 06:25] Kethku commented on #409
I raised an upstream issue

[2020-12-17 06:26] Kethku commented on #409
@reisub0 could you try compiling and running the skulpin examples and see if you run into the same issue?

[2020-12-17 06:27] Kethku commented on #408
What layout of keyboard are you using? The issue you linked is related to keyboard layout handling.

[2020-12-17 06:27] Kethku commented on #408
I wouldn't be surprised if this is an sdl2 limitation...

[2020-12-17 06:28] Kethku commented on #403
Thats wild. I don't even know how to produce such a character on my windows box

The message linked feels like a neovim protocol thing...

[2020-12-17 06:29] Kethku commented on #402
Yeah I agree. On mac machines we should just do this by default. On windows this is the normal behavior. Not sure about linux

[2020-12-17 06:31] Kethku commented on #395
Maybe I'm silly, but I don't know what -u NONE does. @tarunzoot any help?

[2020-12-17 06:32] Kethku commented on #401
Can you give some details about your machine? Do you have an integrated and discrete gpu? Could be that neovide is trying to use the integrated gpu to save power but is running into driver issues for that device.

[2020-12-17 06:35] Kethku commented on #338
Ok then I think I'm going to close this

[2020-12-17 06:35] #338 closed

[2020-12-17 06:39] tarunzoot commented on #395
when I was looking into the bug 281, I got a blank screen too. in that bug
neovim exited, and a blank screen was all that remained, so -u NONE just
starts nvim by not using default neovim config. I just want to see if
neovim is exiting prematurely or not. if that is the case we will for sure
know what is the problem.

On Thu, 17 Dec 2020, 12:01 Keith Simmons, <notifications@github.com> wrote:

[2020-12-17 07:00] intendednull commented on #401
@Kethku using discrete gpu, don't think I have integrated.
[code]

[2020-12-17 07:06] issadarkthing commented on #401
[code]

[2020-12-17 07:45] Kethku commented on #401
Very interesting. Do the skulpin examples here https://github.com/aclysma/skulpin work?

[2020-12-17 07:49] tarunzoot commented on #402
okay, so to do that the modified code is
file -> `main.rs`
[code]

file -> `src -> settings -> mod.rs`, in the `imply Settings` block replace `fn new` block with
[code]

[2020-12-17 08:40] Exr0n commented on #408
I'm using Dvorak via `xorg.conf`. Removing that line indeed fixes the issue.   Sorry, I didn't realize that this was the cause. If it's an SDL2 bug I guess it has to be reported upstream.

[2020-12-17 11:19] reisub0 commented on #409
Hey @Kethku.

I tried to run the physics example for `skulpin` with `cargo run --example physics`, and it failed while compiling `winit`. I'm not sure if it should be raised with the authors of `winit` now. Looks like a game of telephone where it is going more and more upstream.

Please let me know I should run some specific example or commands.

[code]

[2020-12-17 22:05] intendednull commented on #401
[they do not](https://pastify-app.web.app/show/KsHa95DXSJF6B8Za98S5)

[2020-12-18 00:24] lafleurdeboum commented on #395
Hello, just to mention, I had the same issue, installing `noto-fonts` solved it for me.

Running on Arch latest, using neovide 0.6.0-8, noto-fonts 20201206-1. Hope it helps.

[2020-12-18 04:04] GG-O-BP opened #410 "Suggest activate-power-mode."
![PowerMode](https://user-images.githubusercontent.com/36529903/102573204-4b739100-4131-11eb-8b36-dae8ade912bb.gif)

The animation of the cursor movement is really fantastic. If you also support activate-power-mode, it will look like a fierce battlefield in a cartoon.
I really want to have such a function.

[2020-12-18 04:35] Kethku commented on #410
Wouldn't be that hard to make, but I'm not going to spend time on it because I don't think its a very useful animation. If it isn't obtrusive I would be happy to merge behind a setting though similar to the particle trails.

[2020-12-18 04:38] j4qfrost commented on #410
I might be able to get back onto the project soon. I wouldn't mind picking this up.

[2020-12-18 06:09] Kethku commented on #395
I think this issue can happen if neovim requires input before the first screen is displayed

I'm not sure why that would happen, but -u NONE does seem like a good choice to see if that fixes the problem. If it does then the startup logic needs reworked.

[2020-12-18 06:10] Kethku commented on #402
@tarunzoot looks not bad from a cursory glance. Could you make a PR?

[2020-12-18 16:44] Grzanka99 opened #412 "Polish characters"
It's impossible to insert polish characters in insertmode. You or have to replace for example `L` with `Ł` or use console version of nvim. I realy would like to insert characters from my language ;P. Typing `Ł` (right-alt + shift + l) exits insert mode. same with most other polish characters.

[2020-12-19 21:46] x37v commented on #395
on ubuntu I had the same issue and resolved it with `sudo apt install fonts-noto`

[2020-12-22 12:15] agraven commented on #412
I have the same issue with any character that requires holding down `AltGr` to enter (which includes things like \ on a danish keyboard layout)

[2020-12-22 13:16] pragmatrix commented on #409
Hi, I _think_ we do have a branch of skia-bindings and skia-safe that builds on an aarch64-apple-darwin host (Cross compiling fails at the linking step, which I've to investigate why).

So to anyone interested, check out the [m88 branch](https://github.com/rust-skia/rust-skia/pull/445) and try build it on your new Mac. If that succeeds, we can work our way up to porting Skulpin and then Neovide to

[2020-12-23 23:03] Kethku commented on #409
@pragmatrix thanks so much for pointer! I'm hoping to have access to an M1 mac in the not too distant future so I can start debugging this as well

[2020-12-24 08:10] Kethku opened #413 "Command Arguments"
Currently command arguments are processed adhoc wherever needed by pulling the argument list and filtering it in each location.

This is inefficient and requires listing the arguments in multiple places which isn't great. I'd like to make a single place which does the command line argument filtering all at once and provides a struct with properties for each argument.

Similarly it would be nice to

[2020-12-24 08:13] Kethku commented on #62
Multi Grid support has finally been merged (for now behind a command line argument/environment variable until upstream bugs are fixed). This means I can start thinking about these smooth scrolling features.

[2020-12-24 08:16] Kethku commented on #62
My current thinking is that I will take advantage of the scroll position from https://github.com/neovim/neovim/blob/master/runtime/doc/ui.txt#L597 the window viewport to animate the old text out of view and a new target texture into view. For now I won't do anything with the intervening space other than possibly just render the background color.

My hope is that the window will smoothly animate to

[2020-12-24 22:40] tim-harding opened #414 "Only builds in release on Windows"
While the project builds and runs on Windows, but only with the release profile. When building with the debug profile or compiling the tests, I get linker errors. It appears the that issues are related to Skia. Has anyone encountered this and found a resolution?

<details><summary>Linker error</summary>
<p>

[code]

</p>
</details>

[2020-12-24 23:53] tim-harding commented on #414
The solution was simply to update to the latest Visual Studio release. False alarm.

[2020-12-24 23:53] #414 closed

[2020-12-25 13:08] GG-O-BP opened #415 "Cannot enter Korean"
![스크린샷, 2020-12-25 21-58-35](https://user-images.githubusercontent.com/36529903/103135658-1650db00-46fd-11eb-82b9-1cbc432d903a.png)

**Bug contents**
When inputting with iBus-hangul, input cannot be switched and always input only in English.
In neovim it works fine.

**keyboard Input**
iBus-hangul

**OS**
ubuntu 20.10

**version**
NVIM v0.5.0-dev
Build type: RelWithDebInfo
LuaJIT 2.1.0-beta3
Compi

[2020-12-25 22:10] j4qfrost commented on #402
@Kethku @tarunzoot looks like this was merged https://github.com/Kethku/neovide/pull/411. Is it done?

[2020-12-26 00:09] Kethku commented on #402
Correct

[2020-12-27 00:20] j4qfrost commented on #394
Are the fonts being rebaked? Are we not using something like vector graphics to render them?

[2020-12-27 02:13] Kethku commented on #394
Font rendering is complicated. Different size fonts require different textures when rendered. I believe skia renders fonts into a texture atlas which it keeps stored in video memory for faster more efficient rendering. But I don't know for sure.

Counter intuitively I believe this is the "correct" way to draw text. But I couldn't answer any questions as to why that is the case.

[2020-12-27 12:11] suzanshakya commented on #368
Thanks!
This works even on M1 Macbook!

[2020-12-28 01:11] Kethku opened #420 "Mouse input messed up with multigrid disabled"
Sends inputs to the base grid rather than sending to floating windows correctly

[2020-12-28 02:04] mitnk commented on #402
Thanks.

[2020-12-28 02:04] #402 closed

[2020-12-28 06:34] tim-harding commented on #95
I'd give this a shot.

[2020-12-28 06:42] tim-harding commented on #62
This is a feature I'm particularly interested in contributing to. Are there any areas you can use support in this direction, @Kethku ?

[2020-12-28 09:21] Kethku commented on #62
I would love to hear your thoughts about an early version of this in the smooth-scrolling branch. I implemented just the positioning of the current view based on the viewport events and then animating the window into view based on that.

Heres a gif of the experience in that branch. The experience is much smoother than the gif makes it look:
![SmoothScrolling](https://user-images.githubusercontent

[2020-12-28 09:27] Kethku commented on #62
@bfredl I'm rereading your comment above. Were you suggesting that the ui would request neovim to provide rendering outside of the bounds of the current window? I think that would totally solve problem number 1 in the above comment for the majority of cases. I don't know how to implement that in the neovim codebase though, but I'd be happy to try if somebody would be able to give some guidance.

[2020-12-28 09:28] Kethku commented on #62
Something like an option to tell neovim to render n extra lines would be perfect for this use case. Most of the time the extra lines would get clipped, but when scrolling it would become useful.

[2020-12-28 09:38] bfredl commented on #62
The relevant code should be in `win_update` in screen.c. What we need to do is to allocate the grid height to be 2n larger than the `wp_w_height_inner` and guesstimate how many buflines we need to go up to to fill n extra screenlines (i think this should be able bo be done quite accurately, using existing helper functions). I think some logic could be shared with window border, which also needs to

[2020-12-28 13:25] lafleurdeboum commented on #151
@guillaume-tessier-cbp your workaround worked for me too ; using the following bindings in `~/.config/nvim/init.vim` for my french keyboard under Arch linux, latest `neovide-git` installed :

[code]
I think this mapping is exhaustive for french PC-compatible keyboards. I can tell by experience that those keys are mapped to completely different keystrokes under Mac hardware.

What I don't get is ho

[2020-12-28 19:20] rconnorjohnstone opened #422 "Keys pressing twice"
Running Arch Linux, just installed neovide from the AUR. Everything seems to work well, but all of my letter-keys are being sent twice per keypress (not true for arrow keys, backspace, etc).

I'm not really sure where to begin with this one, so just let me know what info you'd like me to log and I can do that.

[2020-12-29 10:00] Kethku commented on #62
I have fixed issues 1 and 3.

1. I fixed this by storing snapshots of the buffers right before updating the viewport. These snapshots retain the current viewport information and are rendered before drawing the current background and foreground images at the previous scroll position. This way we draw the previous text rendered at that location rather than just blank screen. With this in place, the

[2020-12-29 13:25] kiuKisas commented on #198
what about this: https://github.com/raphlinus/font-rs ? Also, why neovide doesn't use harfbuzz ?
I'm a bit confuse with all this things about font rendering, I'll appreciate a clarification about this if you have time.

[2020-12-30 00:57] Kethku commented on #62
I just fixed problem 2. At this point I think I'm gonna make a pull request and merge it.

[2020-12-30 01:23] Kethku commented on #198
Neovide does use harfbuzz under the covers in the caching shaper referenced above. For rendering neovide relies upon skia to take the positions from harfbuzz, place them, and then render them into text on the screen.

At this point I think most of these ligature issues dont' show up anymore, or if they do they are more related to font fallback/selection than actual rendering of the ligatures.

I c

[2020-12-30 01:24] Kethku commented on #95
This is for sure up for grabs! I believe this problem cropped up when we swapped to sdl2 from winit. There is hope that we will move back to winit in the not too distant future, but it may be a ways out yet still.

[2020-12-30 03:58] kirawi opened #424 "Blurry font, possibly because of scaling?"
![Capture](https://user-images.githubusercontent.com/67773714/103329052-17e61000-4a29-11eb-8736-f3a836b31be6.PNG)
![Capture1](https://user-images.githubusercontent.com/67773714/103329057-1a486a00-4a29-11eb-893e-01eaa9f97045.PNG)

Neovide vs. Neovim-qt

I'm using Windows 10, with a custom scaling size of 125% (inside 'Advanced scaling settings'), and building neovide from `c63b054`.

[2020-12-30 06:37] Kethku commented on #424
If you temporarily set the scaling to 100% does it look better? I think I messed up dpi scaling on master with my most recent refactor

[2020-12-30 18:27] kirawi commented on #424
I'll check in a few hours, but on my main desktop that has no scaling, it looks absolutely fine.

[2020-12-30 20:38] Kethku commented on #424
Yeah looks like scaling is screwed up. I'm investigating

[2020-12-30 20:53] Kethku opened #425 "Switch default branch to Main"
I would like to switch our main branch away from using master to instead use a branch called main.
@peeweep I think this would require a change to the AUR package which you created. Can I help swap it in some way? Other than that I don't think there are any other dependencies on the master branch so I can make the change whenever.

[2020-12-31 01:10] peeweep commented on #425
OK we can switch to special branch like `smooth-scrolling` in PKGBUILD like this:
[code]
Also you can set the default branch to `main`, then PKGBUILD does not need to be modified.

[2020-12-31 08:28] peeweep commented on #425
@Kethku If you need me to specify a branch, please mention me here.

[2021-01-01 07:26] Kethku commented on #425
Beauty. Done. Thanks for the help!

[2021-01-01 07:26] #425 closed

[2021-01-01 17:35] yy opened #426 "Build doesn't work on an Intel mac"
[code]

I'm not sure whether this is related to https://github.com/Kethku/neovide/issues/409 but I got the following error from `cargo build --release` with an Intel iMac:

[code]

[2021-01-03 09:59] Th3Whit3Wolf opened #429 "Minimap for active buffer"
There already exists [minimap.vim](https://github.com/wfxr/minimap.vim) which uses[code-minimap](https://github.com/wfxr/code-minimap) but I think neovide could probably do a better job at rendering. The minimap.vim plugin currently makes all lines except the currently line one color and the current line another color.

[2021-01-03 21:48] jberryman opened #430 "Image links on wiki/Configuration broken"
It looks like a simple replace of "master" with "main" is what's required.

See: https://github.com/Kethku/neovide/wiki/Configuration

Thanks for your work on this!

[2021-01-03 23:18] jberryman commented on #341
It might be neat to have a sort of shrink-bubble-pop animation as the cursor disappears.

[2021-01-03 23:29] jberryman opened #431 "Option for disabling animations in insert mode, or possibly based on distance"
When typing in insert mode I don't love the way the cursor moves smoothly. It would be nice to be able to disable animation when in insert mode, or perhaps based on some approximate pixel or character-based distance (e.g. no animation if cursor jumps less than 5 characters).

similar ticky-tack animation issue: https://github.com/Kethku/neovide/issues/341

Thanks!

[2021-01-04 00:40] x37v commented on #113
In case anyone else runs into this, it looks like neovim provides system clipboard integration by using external applications.
`:help clipboard-tool`

On my linux machine I ran `sudo apt install xclip` and now I have system clipboard integration.

[2021-01-04 14:56] kiuKisas commented on #198
Using `dankMono`, I still have issue with ligature. I don't have the latest update of the font so it can be an issue with the font itself.
See the screenshot below,
- second '`' missing with no text between, I assume it's due to ligature issue. It was happening more often before, the screenshot below is from the latest version on main branch (previously on neovide-git on arch linux, doesn't seems

[2021-01-04 15:54] kiuKisas opened #432 "[Blurred Floating Windows] broken with vim-clap"
See screenshot below.
Maybe due to `vim-clap` using `floating_win` or maybe due to the background render by vim-clap ? Can't tell..
Neovide with multiGrid:
![image](https://user-images.githubusercontent.com/12698940/103552745-ab499600-4eac-11eb-9474-74f0839ff713.png)
Neovim:
![image](https://user-images.githubusercontent.com/12698940/103553086-3a56ae00-4ead-11eb-9899-af453560c886.png)

[2021-01-04 16:02] kiuKisas opened #433 "[Smooth Scrolling] Doesn't seems to work on Arch Linux"
Test on Arch linux with the latest version on the branch `main`, I can't see any difference when I scroll.

https://user-images.githubusercontent.com/12698940/103553989-86eeb900-4eae-11eb-83c0-8596c400beb4.mp4

Did I miss something ?

[2021-01-04 16:09] kiuKisas opened #434 "[Animated Windows] Is it possible to show animation when new window is open/close ?"
Is it possible to have an animation when a new window is open ? (e.g: with `:sp` command)

[2021-01-04 16:14] kiuKisas opened #435 "[Wiki] replace `--multigrid` with `--multiGrid`"
The wiki says to use `--multigrid` parameters but it's actually `--multiGrid`.
I had to check the code to figure it out, I think it can be great to update it soon.
Though about editing myself but we can't make PR on the wiki right ?
Also, up for #430

Suggestion: maybe it's time for a proper help page with the argument `-h` ?

[2021-01-04 18:55] duvallj commented on #426
Have you tried the steps in https://stackoverflow.com/questions/57734434/libiconv-or-iconv-undefined-symbol-on-mac-osx ?

[2021-01-04 19:02] duvallj commented on #432
Related to #14 ?

[2021-01-04 19:04] duvallj commented on #433
Doesn't seem to be in the main branch yet, still in smooth-scrolling which should get merged soon according to #62

[2021-01-04 20:22] kiuKisas commented on #432
Yeay, also to these more recent:
-  commit: https://github.com/Kethku/neovide/commit/1d981f3c2ce56d3c333a2d12fd0c4647119eeaa4
- this README section: https://github.com/Kethku/neovide#blurred-floating-windows

[2021-01-04 20:25] kiuKisas commented on #433
According to this commit https://github.com/Kethku/neovide/commit/1d981f3c2ce56d3c333a2d12fd0c4647119eeaa4 and this branch https://github.com/Kethku/neovide/pull/423, it was merged couple of days ago

[2021-01-05 00:02] intendednull commented on #401
Okay this seems to be an issue with vulkan. Switching to proprietary drivers fixed the issue.

[2021-01-05 00:13] Kethku commented on #433
@kiuKisas given your other issue, I assume you have multiGrid enabled in this gif?

@duvallj smooth scrolling has been merged but is locked behind a command line argument or environment variable.
https://github.com/Kethku/neovide/wiki/Configuration#multiGrid

[2021-01-05 00:14] Kethku commented on #435
Done. Re the help argument. I agree that seems like a good idea, but its a little complicated. I probably want to add a help doc as well somehow inside of neovim since most of the configuration is done via global variables.

[2021-01-05 00:56] Kethku commented on #434
Interesting. I'm curious what your proposal for the animation would be? Would the windows animate in from a configurable direction? The closest edge? I had windows animating into place from the zero,zero top left position, but I found that experience to be annoying. Open to ideas though!

[2021-01-05 00:56] Kethku commented on #62
Smooth scrolling has been implemented behind the multigrid flag. Details in the main readme

[2021-01-05 00:56] #62 closed

[2021-01-05 00:57] duvallj commented on #433
@Kethku weird, I thought I enabled multiGrid (with `target/release/neovide --multiGrid`) yet was able to reproduce this on Windows. I've tried using both the scroll wheel and j/k/arrow keys; is there an extra setting besides multiGrid that needs to be enabled?

[2021-01-05 00:57] Kethku commented on #435
Closing for now. I am thinking about the help menu though.

[2021-01-05 00:57] #435 closed

[2021-01-05 00:58] Kethku commented on #14
This is done behind the multigrid flag. More details in the readme.

[2021-01-05 00:58] #14 closed

[2021-01-05 00:59] Kethku commented on #433
Very strange. The effect is a little subtle. The scrolling isn't like most windows but rather animates the position of the scroll buffer into place. Its most visible when jumping to the start or end of a file (incidentally this is also where the limitations of the effect are highlighted most)

[2021-01-05 01:17] Kethku commented on #432
Yeah this makes sense. Currently blurred windows are applied to all floating windows. I don't really know yet of a good way to stop this from happening/I don't have a system to specify per window options that can get synced to the front end.

Ideally I would love to have the system track the built in window transparency option so that it works with vanilla transparent floating windows, but I haven

[2021-01-05 01:18] Kethku commented on #429
In general I feel like this should be a plugin rather than a top level feature like some other guis implement. I have some ideas for how I might expose a drawing api to vim so that plugins could be implemented with vector graphics output to a given window, but I think this is a ways out.

[2021-01-05 01:19] Kethku commented on #426
Hmmmm this seems strange. I don't have access to a mac (intel or otherwise) so I'm not sure how to help out here.

[2021-01-05 01:20] Kethku commented on #430
Ah yes. My bad. Thanks for the catch!

[2021-01-05 01:20] duvallj commented on #433
![2021-01-04-neovide-scrolling-smaller2](https://user-images.githubusercontent.com/10897431/103595713-240b1b00-4eca-11eb-8d4e-9264b8064515.gif)
Here is a (poor quality) screencap I took; the effect still wasn't noticeable when scrolling around like you describe.

[2021-01-05 01:22] Kethku commented on #433
Interesting. Are you sure that multigrid is working? Do windows animate around?

[2021-01-05 01:24] Kethku commented on #341
I like this idea haha. Would require some pretty significant refactoring to work though as the current system assumes a single cursor.

[2021-01-05 01:25] duvallj opened #436 "Floating point errors accumulate after multiple scroll operations with dpi scaling"
Here is a short gif demonstrating the issue:
![2021-01-04-neovide-scrolling-smaller](https://user-images.githubusercontent.com/10897431/103595883-97ad2800-4eca-11eb-966e-e052b5153c37.gif)
Basically, it seems the previously-rendered text gets cut-and-pasted over and over again when scrolling, and is slightly off due to floating point errors, resulting in entire lines being off when the effect compo

[2021-01-05 01:25] Kethku commented on #431
There is some code today which tries to remove animations when in insert mode. I'm confused why that isn't working. I have reproed on my local build so I think this is just a bug.

[2021-01-05 01:27] duvallj commented on #433
Resizing windows seems to be animated with the --multiGrid option, and not animated otherwise yes

[2021-01-05 01:40] Kethku commented on #436
Woah. This is wild. Mind sharing what font you're using? feels like maybe the font calculations are wrong. I don't see how this could be floating errors that quickly.

[2021-01-05 01:54] Kethku commented on #436
But also I rewrote all of the rendering just recently, so who knows.

[2021-01-05 01:59] Kethku commented on #401
awesome. Closing this

[2021-01-05 01:59] #401 closed

[2021-01-05 03:12] duvallj commented on #436
(Ah sorry for the late response) `guifont` isn't set, so it should be using the default for Windows, Consolas.

I mention floating point errors because while I was poking around the rendering code trying to fix #424 starting from <https://github.com/Kethku/neovide/commit/8580ca065007c3e63ada85d5b20c2b2af593220c>, I noticed that [pixel_width and pixel_height](https://github.com/Kethku/neovide/blob/

[2021-01-05 05:55] Th3Whit3Wolf commented on #429
That sounds awesome! Can't wait for that feature.

[2021-01-05 05:55] #429 closed

[2021-01-05 06:33] #430 closed

[2021-01-05 09:57] kiuKisas commented on #433
@Kethku yes `--multiGrid` is enable (you can see it on the left of my gif). Same issue as @duvallj , windows are animated but no scroll animation; or not noticeable

[2021-01-05 10:09] kiuKisas commented on #434
Hum.. the closest edge seems the more "natural". Depending on the windows "orientation" (horizontal or vertical), it should be as if the window have a 0 width/height then grow.
Dunno if what I say make sense.. ^^

I imagine something like that, but the reverse (you can click on the element to delete):
http://jsfiddle.net/2gbPg/2/

Seeing this jsfiddle, it can be nice to have animation when we clos

[2021-01-05 15:08] yy commented on #426
@duvallj Thank you for the information! I read it and I'm suspecting the libiconv in my anaconda installation may be interfering. But I think I don't know enough about how Cargo build process works (and how to change the library path for the build) to implement what's recommended yet. 😬

[2021-01-05 15:50] jberryman commented on #431
(thanks for your responsiveness; I'm new to Rust and also swamped setting up a new machine, etc. but aspire to be contributing patched to neovide for issues like this)

[2021-01-06 09:23] gasacchi opened #437 "How to choose release build?"
Hi, i try to build from source, but due openssl dependencies error. i want to use stable release which one should i choose?
Currently running void linux, thanks :smile:

[2021-01-06 09:25] Kethku commented on #437
I recommend using the release in the releases list. If you're feeling spicy you can try running a release from the most recent main branch build here: https://github.com/Kethku/neovide/actions but theres a fair bit of churn (especially right now)

[2021-01-06 09:25] Kethku commented on #437
It should be working relatively well if you don't enable multigrid though in the main branch

[2021-01-06 09:38] gasacchi commented on #437
i download neovide from release, and try to run it got nothing:
[code]
is there any dependencies to install first?

[2021-01-06 09:42] Kethku commented on #437
hmmm... I'm not super familiar with linux... Looks like our linux build is building on ubuntu. THe instructions for it are here: https://github.com/Kethku/neovide/blob/main/.github/workflows/build.yml#L88-L123

I don't know if this build would suffice for your use cases? Maybe you need a different kind of build? I'm sure we could add another type of build if it can be cross built on ubuntu?

[2021-01-06 09:46] Kethku commented on #436
I think https://github.com/Kethku/neovide/pull/438 might fix this issue, but I'm not sure because I can't really reproduce the problem on my machine.

[2021-01-06 09:47] Kethku commented on #436
It fixes a ton of other issues with regard to dpi scaling though so maybe it fixes this as well?

[2021-01-06 09:51] gasacchi commented on #437
well, i did try build with cargo earlier but got error while some dependencies require openssl, i using void linux that use libressl by default. i've read issues with build with void and seems issues was closed.

[2021-01-06 17:18] keepitsane commented on #50
When using Node Version Manager (NVM) on WSL side Neovide seems to default to the system Node version rather then the version that has been selected by nvm to use. I believe the same issue exisits when using pyenv for Python.

[2021-01-06 20:33] weebs commented on #281
Experiencing the same on Pop_OS 20.04 and Neovim 0.4.4

[2021-01-06 20:39] theHamsta commented on #281
I had the same problem. I rebuild in debug mode `cargo build` and the problem disappeared. Also with another try of `cargo build --release` it worked. Only `cargo install`. Very strange. Could also be a flaky behavior.

[2021-01-07 11:42] gasacchi commented on #437
try looking at skia-rs github repo, someone suggesting install libcurl-devel and i try build again with --release or with  --target=x86_64-unknown-linux-musl still can't build skia-bindings
[code]

[2021-01-07 21:26] grem11n commented on #366
It's just a wild guess, but maybe it's related to the NeoVim version? I've noticed that you're using v0.5.0, which is not a release version.

I have problems with Neovide as well with v0.5.0.

My setup:
* iTerm2 3.4.3
* NVIM v0.5.0-35325ddac
* Neovide is built following the instructions from the README.

Here's are some logs:
[code]

[2021-01-07 23:03] Kethku commented on #366
I use 0.5 nightly builds as my daily driver on main

[2021-01-10 22:12] Kethku opened #440 "Neovides uses cpu while idle"
Looks like the most recent rewrite broke the idle pausing of the renderer. I'll need to track down why that is and fix it.

[2021-01-10 22:14] Kethku opened #441 "Text jitters"
Twice now I have noticed either an entire window, or the cursor text jitterying constantly a pixel back and forth. I think this is probably due to either casts from float to integer, or comparisons of floats without an epsilon.

I may consider removing floats from the renderer altogether and only rendering images/text at pixel positions. However given that the canvas renders with a scale, this may

[2021-01-10 22:15] Kethku commented on #400
gbk charset is supported. But font fallback has to be done manually. You can specify a font which the desired characters in the guifont setting by separating the font names in the fallback list by a comma

[2021-01-10 22:15] #400 closed

[2021-01-10 22:16] Kethku commented on #412
This is a repeat of https://github.com/Kethku/neovide/issues/151

[2021-01-10 22:16] #412 closed

[2021-01-10 22:22] Kethku commented on #371
I'm reopening this as it seems that other folks are struggling with the openssl support. Seems like the upstream has been merged in. I'll look to see if its a feature flag we can just use

[2021-01-10 22:22] Kethku commented on #371
Yeah looks like it should be supported by default. SO I guess I'm closing again

[2021-01-10 22:22] #371 closed

[2021-01-10 22:23] Kethku commented on #368
@suzanshakya so do you have neovide working on an m1 mac? There is an open issue saying somebody else is having troubles with it. Could you give some details about what steps were necessary?

[2021-01-10 23:34] #424 closed

[2021-01-11 00:54] Kethku commented on #365
This has been fixed

[2021-01-11 00:54] #365 closed

[2021-01-11 05:14] Kethku commented on #87
I'm closeing this due to lack of response

[2021-01-11 05:14] #87 closed

[2021-01-11 09:38] Kethku opened #444 "Font Fallback"
I think I have found details for how to solve font fallback for real this time rather than requiring users to manually specify the fallback list.

https://zachbayl.in/blog/font-fallback-revery.html

This blog post highlights the strategy. Turns out skia (cause of course it does) has a font fallback implementation which works cross platform. It handles fallback by returning a font which is guarante

[2021-01-11 09:42] Kethku opened #445 "Non Qwerty\En US Input"
Right now keyboard layouts are handled by manually listing out bindings given key presses and modifiers. This is very broken.

Luckily there is movement here which should fix this issue. https://github.com/rust-windowing/winit/pull/1788

Once this lands and looks stable enough. I'm going to pull in some version of winit which uses it, and rewrite our keyboard input handling to use that. Most of th

[2021-01-11 09:43] Kethku commented on #422
Did you install the main build or the one from release? I recommend trying the main development build as the old builds are pretty old at this point and a lot has happened since. Its on my list to make a new release soon

[2021-01-11 09:43] Kethku commented on #415
I'm closing this in favor of https://github.com/Kethku/neovide/issues/445

[2021-01-11 09:43] #415 closed

[2021-01-11 09:45] Kethku commented on #408
I believe this will be solved by https://github.com/Kethku/neovide/issues/445 but I'm leaving it open because I want to circle back to it once we rebase. Until then consider this blocked on the upstream winit changes.

[2021-01-11 09:46] Kethku commented on #396
This is a font fallback issue. Closing in favor of https://github.com/Kethku/neovide/issues/444

[2021-01-11 09:46] #396 closed

[2021-01-11 09:46] Kethku commented on #392
I'm closing this due to lack of response

[2021-01-11 09:46] #392 closed

[2021-01-11 09:47] #391 closed

[2021-01-11 09:47] Kethku commented on #386
Closing as it seems like this isn't an issue on our side.

[2021-01-11 09:47] #386 closed

[2021-01-11 09:49] Kethku commented on #355
I'm closing this in favor of actual layout support. https://github.com/Kethku/neovide/issues/445

[2021-01-11 09:49] #355 closed

[2021-01-11 09:49] Kethku commented on #353
I'm closing this in favor of https://github.com/Kethku/neovide/issues/444

[2021-01-11 09:49] #353 closed

[2021-01-11 09:50] Kethku commented on #335
This was done in the big refactor

[2021-01-11 09:50] #335 closed

[2021-01-11 09:51] Kethku commented on #329
I have no idea what could be causing this... @d1hasib do you by chance still encounter this issue? Could anybody else speak up if they encounter this as well?

[2021-01-11 09:53] Kethku commented on #298
Note: windows 7 has gone out of long term support. I'm not sure I care to support it myself. So I'm going to close this. IF somebody feels strongly, feel free to reopen and we can discuss, but unless somebody is going to contribute a PR that implements this I find it unlikely that we will be able to get anywhere with it.

[2021-01-11 09:53] #298 closed

[2021-01-11 09:54] #288 closed

[2021-01-11 09:55] Kethku commented on #280
closing in favor of https://github.com/Kethku/neovide/issues/444

[2021-01-11 09:55] #280 closed

[2021-01-11 09:56] Kethku commented on #269
closing in favor of https://github.com/Kethku/neovide/issues/444

[2021-01-11 09:56] #269 closed

[2021-01-11 09:56] Kethku commented on #243
closing in favor of https://github.com/Kethku/neovide/issues/445

[2021-01-11 09:57] Kethku commented on #241
closing in favor of https://github.com/Kethku/neovide/issues/445

[2021-01-11 09:57] #241 closed

[2021-01-11 09:57] Kethku commented on #211
closing in favor of https://github.com/Kethku/neovide/issues/445

[2021-01-11 09:57] #211 closed

[2021-01-11 09:57] Kethku commented on #210
closing in favor of https://github.com/Kethku/neovide/issues/445

[2021-01-11 09:57] #210 closed

[2021-01-11 09:58] Kethku commented on #151
closing in favor of https://github.com/Kethku/neovide/issues/445

[2021-01-11 09:58] #151 closed

[2021-01-11 09:58] Kethku commented on #125
closing in favor of https://github.com/Kethku/neovide/issues/445

[2021-01-11 09:58] #125 closed

[2021-01-11 10:01] Kethku commented on #145
closing due to lack of response

[2021-01-11 10:01] #145 closed

[2021-01-11 14:20] pickfire commented on #445
Note that IME support is different from keyboard layout, IME uses an external program unlike using a different layout/variant.

[2021-01-11 18:07] Kethku commented on #445
Agreed. However IME support in sdl2 is not good either. I think at this point supporting multiple windowing systems is not the way to go, so I'm going to be moving to switch to winit only once the upstream changes land. At that point, we can work with them to get IME support working for real on the relevant platforms.

[2021-01-12 10:29] ZoomRmc commented on #298
Please, mention the minimal required version in Readme then (or even add a link here to hint possibility of unblocking earlier versions).

[2021-01-12 19:49] shivanju opened #446 "Some icon fonts not displaying correctly like Font Awesome icons"
Hi. I am using neovide in Arch linux. The default font I use is FiraCode. I have noticed that neovide is not able to draw some icon characters properly which appear perfectly fine in my neovim setup in Alacritty terminal. I couldn't find any existing issues like this so creating a new one. Honestly, I don't even know whether this is a configuration issue or something else.
I have tried in all vers

[2021-01-13 13:42] kalvinpearce commented on #281
Currently having the same issue on Windows 10 (OS build 19041)

[2021-01-13 18:38] RDeepak1 opened #447 "Crashes on Mac"
[code]

[2021-01-15 19:19] rconnorjohnstone commented on #422
I had been using the aur version. Just tried cloning master and building that. Still the same problem.

[2021-01-16 05:15] piyush1104 commented on #368
I had the same error but this solved it. Thanks!

[2021-01-16 06:17] piyush1104 commented on #447
I am facing the same issue. While building binary from source seems to work fine, I am not able to run the `Neovide.app` that you have provided in releases.

[code]

[2021-01-17 10:15] weiss-d commented on #398
Hi, @Kethku!
In fact the `guifont` setting doesn't work at all. Neovim and Neovide windows on the screenshot have different fonts at a closer look.
I have the same problem with the latest SpaceVim and Neovide 0.6.0-8 built from AUR on Arch Linux.
Neither this setting changes font face, nor size.
I will highly appreciate any clue on how I can change the font and size for your implementation.

[2021-01-17 10:17] weiss-d commented on #446
Hi, @shivanju! What setting did you use to change the font for Neovide BTW?

[2021-01-17 19:20] Kethku commented on #398
I'm guessing the font name you are using is not correct? Is Tru replacing the space with an underscore or similar

[2021-01-17 20:09] shivanju commented on #446
I used this in my vim config:

[2021-01-19 17:11] szaffarano opened #448 "Error when pasting and writing accented chars"
If a file has accented characters like `á`, I can edit and modify it without any issue.  But when I try to paste an accented character using the OS clipboard (from `+` register), I get:

![Screen Shot 2021-01-19 at 14 14 14](https://user-images.githubusercontent.com/58266/105069420-ac5bf500-5a60-11eb-9d62-ee84a1ebda02.png)

Instead of
[code]
And if I save the pasted text:
[code]
When I try to writ

[2021-01-20 07:21] d1hasib commented on #329
`neovide` aur package still has the issue and I couldn't build 'neovide-git` package. Some failure occurred .

[2021-01-20 07:24] Kethku commented on #448
Thats very strange. Neovide doesn't do anything to the clipboard as far as I know... Let me see if I can repro the issue

[2021-01-20 07:27] Kethku commented on #448
On windows I don't have this issue. Maybe this is an sdl2 problem? I'm a bit at a loss... The inputing of such characters is a known bug because neovide currently only supports the qwerty keyboard layout. However there is an interim path for solving that issue which is to add your keyboard layout to the keyboards list. If you interested in that path I can give some more details about how to make a

[2021-01-20 07:32] Kethku commented on #447
Binary opening two windows was a separate issue which I believe I just pushed a fix for. Crashing when not built from source is a different issue. I'm not sure why that would be the case...

Did my most recent commit fix the two windows problem?

[2021-01-20 07:51] Stupremee opened #449 "Multiple issues while building with `winit` backend"
I tried to build Neovide using the `winit` backend, because I can't build `sdl2-sys` on my system.

While I tried to build it using the `winit` backend, I encountered multiple issues:
- the `skulpin/sdl2` feature is enabled, even if the `winit` feature is chosen, because `default-features = true`, and `skulpin/sdl2` is enabled by default
- `skulpin` currently fails to build with every winit featur

[2021-01-20 07:53] Kethku commented on #449
Interesting. Do the skulpin upstream examples fail with the winit features?

[2021-01-20 07:56] Stupremee commented on #449
Yes. I also changed the version and used `0.11` instead of the commit that is provided

[2021-01-20 07:59] Kethku commented on #449
Thats very strange because I just ran winit locally (and discovered a build error with the feature enabled which I fixed and pushed).

I have to run using `cargo run --features=winit --no-default-features` for the reasons you highlighted. Could you pull from main and try building again? If it fails, could you give me the failure message?

[2021-01-20 07:59] Stupremee commented on #449
Oh wait. Nevermind. It is not caused by skulpin directly, but neovide fails to build with winit

[2021-01-20 08:00] Kethku commented on #449
Also note: the winit builds are somewhat more buggy than the sdl2 ones currently. I think keyboard handling is somewhat shaky as well as closing is not very smooth currently. I believe the existing bugs should be pretty easy to fix, but you should be aware of them.

[2021-01-20 08:00] Kethku commented on #449
Awesome. I just fixed that issue. Should build now

[2021-01-20 08:04] Kethku commented on #449
Closing as I think these the default features problem is expected, and the build error is now fixed.

[2021-01-20 08:05] Stupremee commented on #449
Yea seems to build now. Just the fix for the features is missing.
But it's an easy fix too, by just disabling default features, and enabling the `winit` feature:

[code]

[2021-01-20 08:08] Kethku commented on #449
No its a good point! I thought it was required, but looking back at it, you're right

[2021-01-20 08:08] Kethku commented on #449
let me try it and push a change real quick

[2021-01-20 08:11] Kethku commented on #449
hrmmm. I can't seem to figure out what combination of features lets me build sdl2 by default, but not require the no-default-features when building winit. Its very possible that I'm too tired to figure it out tonight.

If you've got an idea for it, I'd love to review and take a PR though!

[2021-01-20 08:17] piyush1104 commented on #447
Yeah it did solve the two windows problem. Thank you for that.

[2021-01-20 09:26] weiss-d commented on #398
The font name is correct, this setting is just does not work for `neovide`, while the setting given in comments in #446 works.

[2021-01-20 09:32] weiss-d commented on #446
Thanks @shivanju, this setting worked for me.
I have the same problem as you now :) Some icons from my "JetBrainsMono Nerd Font" are not displayed correctly:
![image](https://user-images.githubusercontent.com/62437174/105155143-df899d00-5acf-11eb-8cc6-fa3c6e609454.png)
![image](https://user-images.githubusercontent.com/62437174/105155205-edd7b900-5acf-11eb-8122-876f8521cb06.png)

They should look

[2021-01-22 00:57] basus opened #451 "Can't get Neovim from GitHub over SSH"
I am trying to build Neovide on macOS Catalina. I am getting the following error when trying to run `cargo build --release`:

[code]

It looks like Git is failing when trying to check out the repo using SSH authentication. I can successfully check out and update other GitHub repositories over SSH just fine, so I don't know why this is failing.

[2021-01-23 23:13] JSamir commented on #74
Does not work on Arch within a vmware workstation player 16 VM too. Not sure if it's because of Arch or the fact that it's running in a VM though.

[2021-01-24 10:58] NickSchimek commented on #368
woohoo! - this solution worked for me as well. I've been using neovide for about 6 months and have been loving it. Thank you!

I had compiled neovide without issue 6 months ago, and ran into this same issue today when I pulled down the latest and greatest. I'm on 10.15.7

and yup. the following worked
[code]

Do you think this is something that should be added to the install docs? or perhaps downg

[2021-01-24 11:14] rabirabirara opened #452 "Small (subscript) characters on some particular font do not render monospaced"
![image](https://user-images.githubusercontent.com/59306451/105628499-26d69d00-5df2-11eb-8526-c6c44378f726.png)

The font used is called `Hack Nerd Font Mono`.  It's a monospaced font.  The above is a picture of how subscript (top row) Unicode renders in Neovide.

Now, for an image of how subscript Unicode renders in terminal Neovim:

![image](https://user-images.githubusercontent.com/59306451/105

[2021-01-25 04:40] gasacchi commented on #448
neovide only support for qwerty? how to add support for colemak layout?

[2021-01-25 06:15] kuka0len opened #453 "Fails to run on macOS: `Vulkan support is either not configured in SDL or not available in current SDL video driver (cocoa) or platform`"
When I run `./neovide` I get this error:

[code]

[2021-01-26 01:14] LakeByTheWoods commented on #453
See https://github.com/Kethku/neovide/issues/368#issuecomment-704650261

Looks like the most recent build of sdl2 was built without vulkan support on MacOS

[2021-01-26 05:48] kuka0len commented on #453
It worked, thanks.
I just had downgrade `sdl2-sys` form `0.34.3` to `0.34.2`.

[2021-01-26 16:54] ref209 commented on #388
I have been testing this issue and I found that the problem resides in how the Right Alt key is handled.

In case of many European countries, the keyboard doesn't has a Right Alt key but an Alt Gr. Sadly, for sdl2 the Mod code is the same: RALTMOD.

In `src/window/sdl2/layouts.mod.rs` there is a function that transforms sdl2's Mod struct to the local Modifiers struct, and it's there when Alt Gr it

[2021-01-27 08:20] Kethku commented on #448
Currently the way to do it is by adding a layout like this one: https://github.com/Kethku/neovide/blob/main/src/window/sdl2/layouts/qwerty.rs

However as I mentioned above the hope is for this to be fixed upstream so we don't have to do such nasty hacks

[2021-01-27 16:53] RedBeard0531 commented on #440
On windows it shows using ~95% of the GPU in addition to ~1.5% of CPU when idle and in the background. If I lower the framerate to 20, it goes down to ~40%. The very high GPU usage seems more concerning than the CPU usage.

[2021-01-27 16:57] RedBeard0531 commented on #432
Similar issue with https://github.com/nvim-telescope/telescope.nvim

[2021-01-27 18:43] valrus opened #455 "Text not rendered at native resolution on HiDPI monitor (Mac)"
See screenshot, with correctly rendered text on the left and neovide on the right. neovide's text is noticeably "pixel-y" compared to the HiDPI text on the left.

<img width="735" alt="Screen Shot 2021-01-27 at 10 38 23 AM" src="https://user-images.githubusercontent.com/343665/106037619-c95d7d00-608b-11eb-9b9e-e8329d3373df.png">

 This is with blank Vim configuration, using neovide pulled from mas

[2021-01-27 19:05] Kethku commented on #440
Yeah I need to track down what exactly is going on

[2021-01-27 19:05] Kethku commented on #440
It also appears to increase over time indicating a leak of some sort

[2021-01-27 19:08] Kethku commented on #388
Interesting. I personally don't use the right alt key ever, but I imagine some people do. Maybe a quick fix to unblock folks would be to introduce a vim setting which toggles this behavior until we get a fix upstream?

[2021-01-27 19:12] Kethku commented on #452
The spacing for a given font is determined by https://github.com/Kethku/neovide/blob/main/src/renderer/fonts/caching_shaper.rs#L155

I'm honestly pretty surprised that the spacing would be effected per character given that I thought that spacing was constant for the entirety of a font (actually I think its determined by the set guifont)

THis definitely represents a bug that should probably be fix

[2021-01-27 19:13] Kethku commented on #452
The cutting off at the top of the line is a result of a hack to prevent rendering artifacts sticking around. Rather than redrawing the entire screen every time, neovide renders to an image which is that reused over and over for performance reasons. This works 99% of the time with monospace fonts because they are meant to stay in a regular grid

However occasionally there are characters that don't

[2021-01-27 19:14] Kethku commented on #452
I believe some vim guis (maybe even gvim?) allow configuring the line spacing to try to address this. Give a little extra buffer room between lines. I always felt like that was a hack, but I guess it makes sense given how loosy goosy "monospace" fonts are

[2021-01-27 19:16] Kethku commented on #451
Honestly I think this is a configuration problem on your side. Theres not much I can do to effect how github responds to ssh based clones...

Its possible that one of the repos is misconfigured, but I kinda doubt it? Not sure how to procede

[2021-01-27 19:19] Kethku commented on #368
@NickSchimek glad you got up and running. Could you pull the relevant parts of this issue into a separate issue so that I can address it directly? THis feels unrelated to the parent issue, but has been pointed to as unblocking other folks as shown by the references

[2021-01-27 20:17] kirawi opened #456 "Having trouble building, missing harfbuzz.lib"
I'm 99.99% this is my fault, but for some reason I'm no longer able to compile neovide on my desktop, getting this error: `note: LINK : fatal error LNK1181: cannot open input file 'harfbuzz.lib'`. I was able to compile on this computer around a month ago, and I can still compile on my laptop. It doesn't seem like I can compile the same version I was previously able to compile either.

It seems lik

[2021-01-27 21:24] j4qfrost commented on #456
Have you tried cargo clean? Also is there more to the error logs? I wonder if just harfbuzz failed to build or something else might be the issue.

[2021-01-27 21:38] kirawi commented on #456
Doesn't work, I also tried reinstall Rust/LLVM but it didn't help. Additionally, this is the list that comes up with the error:

[code]

[2021-01-27 23:38] valrus commented on #455
I just noticed that the `y` under the cursor _is_ shown with the correct resolution, which is interesting.

[2021-01-28 06:19] tejasvi opened #457 "Can't specify the font weight"
I am using [Operator Mono](https://github.com/KayodeOgidan/Operator-Mono-Fonts/tree/master/Fonts/OMono) specified with `set guifont=Operator\ Mono:h16`. It defaults to *Light* font weight and I would instead prefer Medium. With `set guifont=Operator\ Mono\ Medium:h16` it falls back to some other default font. On nvim-qt and gVim setting the font with `set guifont=*` works perfectly and `guifont` i

[2021-01-28 06:54] tejasvi opened #458 "Use italic version of the font for italic text"
On gVim and nvim-qt italicized text looks like this.
![image](https://user-images.githubusercontent.com/45873379/106101296-b0c09600-6163-11eb-9c79-16134a6867c9.png)
On neovide:
![image](https://user-images.githubusercontent.com/45873379/106110337-94772600-6170-11eb-9313-f7ebc9241f15.png)

[2021-01-28 13:41] PyGamer0 commented on #458
For me italics work, do you have the Italic of the font version installed?

[2021-01-28 13:44] tejasvi commented on #458
@PyGamer0 I tried it with a different font and it indeed works. Probably connected to #457.

[2021-01-28 13:44] #458 closed

[2021-01-28 17:37] pranphy opened #459 "thread 'main' panicked at 'Could not create surface'"
I compiled the master version of this repo today ( [b0f7c2e](https://github.com/Kethku/neovide/commit/b0bf7c2e75ededfb580d51f861d1be6aad3ed54f) ) and compiled it. The compilation went successfully and when I try to run, it says:

[code]

[2021-01-28 18:59] kirawi commented on #456
What I get running `cargo build --verbose`
[code]

[2021-01-28 19:19] darth commented on #455
I'm facing exactly the same problem. I tried to investigate a little bit. As far as I understand in Neovide there is some code handling HiDPI, that relies on the method `scale_factor` of `Sdl2Window` from `skulpin`. This method computes the scaling factor as ratio of logical size to physical size. However, in my case with 4K display and 200% scaling logical size is equal to the physical size inste

[2021-01-28 19:38] kirawi commented on #456
`cargo build --verbose` on my laptop for comparison.
[code]

[2021-01-28 19:42] kirawi commented on #456
I noticed on my desktop it's using msys2, which mentioned [here](https://github.com/maps4print/azul/issues/137) might be the source of the problem?

[2021-01-28 20:24] kirawi commented on #456
Yep, uninstalling MSYS2 worked for me.

[2021-01-28 20:24] #456 closed

[2021-01-28 20:36] j4qfrost commented on #456
@kirawi Thanks for digging it up.

[2021-01-29 14:07] alexaandru commented on #459
I ran into the same issue (just compiled it 15 minutes ago):

[code]

[2021-01-29 22:11] HallerPatrick opened #460 "Update Mac OS build documentation"
The documentation refers to running:
[code]
to install vulkan.

But brew is telling that using `brew cask install` is disabled. Instead `brew install --cask` should be used.

Therefore the documentation has to be updated with a:
[code]

I am not sure since which version this is changed, but I am using Hombrew `2.7.7`

EDIT:
Seems `brew cask install` is disabled since `2.7`. Which was released in D

[2021-01-31 03:58] Kethku commented on #460
@HallerPatrick could you make a PR with this change?

[2021-01-31 03:59] Kethku commented on #459
@pranphy looks like haswell vulkan support isn't very good given the error message. Do you have a discrete gpu?

[2021-01-31 04:01] Kethku commented on #455
Was this version built from current source? or downloaded?

[2021-01-31 04:02] darth commented on #455
Built from the current source.

[2021-02-02 08:30] ccakes commented on #446
Same - built this morning on macOS 10.15
[code]

Using Hack Nerd Font Mono - all icons display fine `nvim` in Kitty but only some do in Neovide

[2021-02-03 17:52] pranphy commented on #459
I am not  sure if I have discrete gpu in my machine. `lspci` gives:
`03:00.0 Display controller: Advanced Micro Devices, Inc. [AMD/ATI] Sun XT [Radeon HD 8670A/8670M/8690M / R5 M330 / M430 / Radeon 520 Mobile]
`
I am using Ubuntu 20.04 and I am not even sure if I have the correct drivers for this installed properly.

[2021-02-04 06:19] PyGamer0 opened #461 "Neovide crashing on Windows."
I just installed Neovim 0.5 nightly and then suddenly neovide starts crashing (but when i run `nvim` or `nvim-qt`, nvim works.). I tried reinstalling but it didnt work. Here is the log file (running neovide from cmd.exe):
[code]